<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camel.auth.dao.SysUserDao">

    <resultMap id="BaseResultMap" type="com.camel.auth.model.SysUser">
        <id property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="VARCHAR"/>
        <result property="orgNo" column="org_no" jdbcType="VARCHAR"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="idNum" column="id_num" jdbcType="VARCHAR"/>
        <result property="loginFailureCount" column="login_failure_count"/>
        <result property="passwordExpiredTime" column="password_expired_time"/>
        <result property="companyId" column="company_id" jdbcType="INTEGER"/>
        <association property="company" javaType="com.camel.auth.model.SysCompany">
            <id property="id" column="company_id"></id>
            <result property="name" column="name"></result>
            <result property="tel" column="tel"></result>
            <result property="contacts" column="contacts"></result>
        </association>
        <collection property="sysRoles" fetchType="eager" column="uid"
                    select="com.camel.auth.dao.SysRoleDao.findByUserId"></collection>
    </resultMap>

    <sql id="BASE_SQL">
        sys_user.uid,
        sys_user.username,
        sys_user.`password`,
        sys_user.nickname,
        sys_user.email,
        sys_user.mobile,
        sys_user.`status`,
        sys_user.gmt_create,
        sys_user.gmt_modified,
        sys_user.last_login_time,
        sys_user.password_expired_time,
        sys_user.login_failure_count,
        sys_user.szbm,
        sys_user.age,
        sys_user.gender,
        sys_user.org_no,
        sys_user.org_name,
        sys_user.address,
        sys_user.remark,
        sys_user.avatar,
        sys_user.id_num,
        sys_user.company_id,
        sys_company.name,
        sys_company.contacts,
        sys_company.tel
    </sql>

    <select id="findByUserName" resultMap="BaseResultMap" parameterType="com.camel.auth.model.SysUser">
        SELECT
        <include refid="BASE_SQL"></include>
        FROM
        sys_user sys_user left join sys_company sys_company on sys_user.company_id = sys_company.id
        <where>
            status = 1
            and sys_user.email = #{email}
        </where>
        ORDER BY sys_user.uid
    </select>

    <update id="addFaile">
        UPDATE sys_user SET sys_user.login_failure_count = sys_user.login_failure_count+1 WHERE sys_user.email=#{memberName};
    </update>

    <update id="clearFaile">
        UPDATE sys_user SET sys_user.login_failure_count = 0 WHERE sys_user.email=#{memberName};
    </update>
</mapper>
