<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>班次管理</h5>
            <div class="ibox-tools">
                <a :href="applicationContextRootPath + 'pages/workshift/add.html'"
                   data-pjax class="btn btn-primary btn-xs" v-if="resultDev">新建班次 </a>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="请输入关键词" class="input-sm form-control search-input"
                               v-model="pageInfo.name"> <span
                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" v-on:click="pagequery()"> 搜索</button> </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>问卷名称</th>
                        <th>所属班次</th>
                        <th>地址</th>
                        <th>班次时间</th>
                        <th>管理者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in items">
                        <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                        <td>
                            <span class="click-span" v-on:click="details(item)">{{item.survey.name}}</span>
                        </td>
                        <td><span class="click-span" >{{item.cname}}</span>
                        </td>
                        <td>{{item.adress}}</td>
                        <td>
                            <span class="badge badge" >{{item.wtime}}</span>
                        </td>
                        <td>{{item.cuname}}</td>
                        <td>
                            <button type="button" v-on:click="edit(item)"
                                  class="btn btn-primary btn-xs" v-if="resultDev">修改
                            </button>
                            <button type="button" v-on:click="signUp(item)"
                                    class="btn btn-success btn-xs" v-if="!item.statusUser">申请加入班次
                            </button>
                            <button type="button" v-on:click="deleteItem(item)"
                                    class="btn btn-danger btn-xs" v-if="resultDev" >删除
                            </button>
                            <button type="button" v-on:click="applyView(item)"
                                    class="btn btn-danger btn-xs" v-if="resultDev" >查看申请记录
                            </button>
                            <button type="button" v-on:click="signDown(item)"
                                    class="btn btn-danger btn-xs" v-if="item.statusUser" >退出
                            </button>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>

        </div>
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                name: '',
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
                uId: ''
            },
            items: [],
            master: [],//接受权限数组
            result: false,//表示超级管理员权限
            resultDev: false,//表示操作人员权限
            user: {username:'',phone:'',userid:'',password:''},//存储username查取其参与考试
        },
        created: function () {
            this.loginMaster();
            var userJsonStr = sessionStorage.getItem('user');
            this.user = JSON.parse(userJsonStr);
            this.pageInfo.uId = this.user.userid;
        },
        methods: {
            loginMaster(){
                var that = this;
                this.master = sessionStorage.getItem('master');
                var masterJ = JSON.parse(this.master);
                masterJ.forEach(e => {
                   var authority = e.authority;
                   if(authority ==='ROLE_ADMIN'){that.result = true;that.resultDev = true;}
                   if(authority ==='ROLE_DEVOPS'){that.resultDev = true}
                })
            },
            applyView: function(item){
                sessionStorage.setItem('wsId', item.id);
                toPage("pages/workshift/applyView.html", item.id);
            },
            signDown(item) {
                var that = this;
                var statusUserId = {'id':item.statusUserId};
                confirm("您确定要退出该班次吗?", "", function (isConfirm) {
                    if (isConfirm) {
                            AJAX.DELETE('zsWorkRecord/signDown',statusUserId,function (resp) {
                                toastr.success(resp.msg);
                                that.pagequery();
                            });
                    }
                }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});
            },
            signUp: function (item) {
                var that = this;

                var zsWorkRecord = {'wsId':item.id,'creatorId': that.user.userid,'username':that.user.username,'surveyId' : item.surveyId}
                AJAX.POST('zsWorkRecord/sign', zsWorkRecord, function (resp) {
                    toastr.success(resp.msg);
                    that.pagequery();
                });
            },
            pagequery: function () {
                var that = this;

                AJAX.GET('zsWorkShift', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
            edit: function (item) {
                sessionStorage.setItem('editParams', item.id);
                $.pjax({
                    url: mvm.applicationContextRootPath + 'pages/workshift/edit.html',
                    container: '.page-container'
                });
            },
            deleteItem: function (item) {
                var that = this;
                confirm("您确定要删除这条数据吗?", "", function (isConfirm) {
                    if (isConfirm) {
                        AJAX.DELETE('zsWorkShift', item, function (resp) {
                            toastr.success(resp.msg);
                            that.pagequery();
                        })

                    }
                }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});
            },
            details: function (item) {
                sessionStorage.setItem('editParams', item.surveyId);
                toPage('pages/survey/details_det.html')
            }
        }
    });
</script>
