<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>电话控制台</h5>
            <div class="ibox-tools">
                <div class="ibox-tools">
                    <a :href="applicationContextRootPath + 'pages/exam/add.html'"
                       data-pjax class="btn btn-primary btn-xs">开发中</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">

        </div>
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',

        },
        created: function () {
        },
        methods: {

        }
    });
</script>
