<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.realname.mapper.ApproveMapper">

    <resultMap id="approveResult" type="com.camel.realname.model.ApproveInfo">
        <id property="id" column="id" javaType="java.lang.Integer"/>
        <result column="user_id" property="userId" javaType="java.lang.Integer"/>
        <result property="name" column="name" javaType="java.lang.String"/>
        <result property="type" column="type" typeHandler="com.camel.realname.enumhandler.MyIntegerToEnumHandler"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
        <result property="apply" column="apply" typeHandler="com.camel.realname.enumhandler.MyIntegerToEnumHandler"/>
        <result property="status" column="status" typeHandler="com.camel.realname.enumhandler.MyIntegerToEnumHandler"/>
        <result property="isPay" column="is_pay" typeHandler="com.camel.realname.enumhandler.MyIntegerToEnumHandler"/>
    </resultMap>

    <sql id="approve_colunm_list">
        id,user_id,name,type,create_time,apply,status,is_pay
    </sql>

    <select id="getList" resultMap="approveResult">
        select <include refid="approve_colunm_list"/>
        from (
                select zc.id id, zc.user_id user_id,zc.enterprise_name name, 0 type, zc.submit_date create_time, zc.apply apply,zc.status status,ao.is_pay is_pay
                from zs_corp zc
                left join approve_order ao on zc.user_id = ao.user_id
             ) approve_info
        <where>
            <if test="apply != null">and apply = #{apply.code}</if>
            <if test="name != null and name != ''">and name like concat('%',#{name},'%')</if>
            and status = 1
        </where>
    </select>

</mapper>
