<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.realname.mapper.ZsCorpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.realname.model.ZsCorp">
        <id column="id" property="id" javaType="java.lang.Integer"/>
        <result column="request_id" property="requestId" javaType="java.lang.String"/>
        <result column="is_merge" property="isMerge" javaType="java.lang.Integer"/>
        <result column="enterprise_name" property="enterpriseName" javaType="java.lang.String"/>
        <result column="business_license_code" property="businessLicenseCode" javaType="java.lang.String"/>
        <result column="business_license_url" property="businessLicenseUrl" javaType="java.lang.String"/>
        <result column="corporate_name" property="corporateName" javaType="java.lang.String"/>
        <result column="corporate_id_url" property="corporateIdUrl" javaType="java.lang.String"/>
        <result column="business_start_date" property="businessStartDate" javaType="java.util.Date"/>
        <result column="business_term_start_date" property="businessTermStartDate" javaType="java.util.Date"/>
        <result column="business_term_end_date" property="businessTermEndDate" javaType="java.util.Date"/>
        <result column="business_address" property="businessAddress" javaType="java.lang.String"/>
        <result column="business_no" property="businessNo" javaType="java.lang.String"/>
        <result column="organization_code" property="organizationCode" javaType="java.lang.String"/>
        <result column="organization_code_url" property="organizationCodeUrl" javaType="java.lang.String"/>
        <result column="organization_name" property="organizationName" javaType="java.lang.String"/>
        <result column="organization_type" property="organizationType" javaType="java.lang.Integer"/>
        <result column="organization_effective_date" property="organizationEffectiveDate" javaType="java.util.Date"/>
        <result column="organization_expiration_date" property="organizationExpirationDate" javaType="java.util.Date"/>
        <result column="entrustment_letter_url" property="entrustmentLetterUrl" javaType="java.lang.String"/>
        <result column="acceptance_url" property="acceptanceUrl" javaType="java.lang.String"/>
        <result column="agent_name" property="agentName" javaType="java.lang.String"/>
        <result column="agent_pid" property="agentPid" javaType="java.lang.String"/>
        <result column="agent_id_turl" property="agentIdTurl" javaType="java.lang.String"/>
        <result column="agent_id_url" property="agentIdUrl" javaType="java.lang.String"/>
        <result column="agent_id_furl" property="agentIdFurl" javaType="java.lang.String"/>
        <result column="agent_id_hurl" property="agentIdHurl" javaType="java.lang.String"/>
        <result column="agent_id_address" property="agentIdAddress" javaType="java.lang.String"/>
        <result column="agent_id_gender" property="agentIdGender" javaType="java.lang.Integer"/>
        <result column="agent_id_nation" property="agentIdNation" javaType="java.lang.String"/>
        <result column="agent_id_birth_day" property="agentIdBirthDay" javaType="java.util.Date"/>
        <result column="agent_id_issuing_authority" property="agentIdIssuingAuthority" javaType="java.lang.String"/>
        <result column="agent_id_cert_valid_date" property="agentIdCertValidDate" javaType="java.util.Date"/>
        <result column="agent_id_cert_exp_date" property="agentIdCertExpDate" javaType="java.util.Date"/>
        <result column="agent_contact_no" property="agentContactNo" javaType="java.lang.String"/>
        <result column="agent_address" property="agentAddress" javaType="java.lang.String"/>
        <result column="contact_name" property="contactName" javaType="java.lang.String"/>
        <result column="contact_no" property="contactNo" javaType="java.lang.String"/>
        <result column="user_id" property="userId" javaType="java.lang.Integer"/>
        <result column="submit_date" property="submitDate" javaType="java.util.Date"/>
        <result column="status" property="status" typeHandler="com.camel.realname.enumhandler.MyIntegerToEnumHandler"/>
        <result column="apply" property="apply" typeHandler="com.camel.realname.enumhandler.MyIntegerToEnumHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,request_id,is_merge,enterprise_name,business_license_code,
        business_license_url,corporate_name,corporate_id_url,business_start_date,
        business_term_start_date,business_term_end_date,business_address,
        business_no,organization_code,organization_code_url,organization_name,
        organization_type,organization_effective_date,organization_expiration_date,
        entrustment_letter_url,acceptance_url,agent_name,agent_pid,agent_id_turl,
        agent_id_url,agent_id_furl,agent_id_hurl,agent_id_address,agent_id_gender,
        agent_id_nation,agent_id_birth_day,agent_id_issuing_authority,
        agent_id_cert_valid_date,agent_id_cert_exp_date,agent_contact_no,
        agent_address,contact_name,contact_no,user_id,status,submit_date, status, apply
    </sql>

    <insert id="insertDemo">
        INSERT INTO zs_corp
            ( is_merge,agent_id_gender,user_id,status)
        VALUES
            ( 1, 0, #{userId},#{status});
    </insert>

    <update id="updateCorp">
        update zs_corp
        <set>
            <if test="requestId != null and requestId != ''">request_id = #{requestId},</if>
            <if test="isMerge != null">is_merge = #{isMerge},</if>
            <if test="enterpriseName != null and enterpriseName != ''">enterprise_name = #{enterpriseName},</if>
            <if test="businessLicenseCode != null and businessLicenseCode != ''">business_license_code = #{businessLicenseCode},</if>
            <if test="businessLicenseUrl != null and businessLicenseUrl != ''">business_license_url = #{businessLicenseUrl},</if>
            <if test="corporateName != null and corporateName != ''">corporate_name = #{corporateName},</if>
            <if test="corporateIdUrl != null and corporateIdUrl != ''">corporate_id_url = #{corporateIdUrl},</if>
            <if test="businessStartDate != null">business_start_date = #{businessStartDate},</if>
            <if test="businessTermStartDate != null">business_term_start_date = #{businessTermStartDate},</if>
            <if test="businessTermEndDate != null">business_term_end_date = #{businessTermEndDate},</if>
            <if test="businessAddress != null and businessAddress != ''">business_address = #{businessAddress},</if>
            <if test="businessNo != null and businessNo != ''">business_no = #{businessNo},</if>
            <if test="organizationCode != null and organizationCode != ''">organization_code = #{organizationCode},</if>
            <if test="organizationCodeUrl != null and organizationCodeUrl != ''">organization_code_url = #{organizationCodeUrl},</if>
            <if test="organizationName != null and organizationName != ''">organization_name = #{organizationName},</if>
            <if test="organizationType != null">organization_type = #{organizationType},</if>
            <if test="organizationEffectiveDate != null">organization_effective_date = #{organizationEffective},</if>
            <if test="organizationExpirationDate != null">organization_expiration_date = #{organizationExpirationDate},</if>
            <if test="entrustmentLetterUrl != null and entrustmentLetterUrl != ''">entrustment_letter_url = #{entrustmentLetterUrl},</if>
            <if test="acceptanceUrl != null and acceptanceUrl != ''">acceptance_url = #{acceptanceUrl},</if>
            <if test="agentName != null and agentName != ''">agent_name = #{agentName},</if>
            <if test="agentPid != null and agentPid != ''">agent_pid = #{agentPid},</if>
            <if test="agentIdTurl != null and agentIdTurl != ''">agent_id_turl = #{agentIdTurl},</if>
            <if test="agentIdUrl != null and agentIdUrl != ''">agent_id_url = #{agentIdUrl},</if>
            <if test="agentIdFurl != null and agentIdFurl != ''">agent_id_furl = #{agentIdFurl},</if>
            <if test="agentIdHurl != null and agentIdHurl != ''">agent_id_hurl = #{agentIdHurl},</if>
            <if test="agentIdAddress != null and agentIdAddress != ''">agent_id_address = #{agentIdAddress},</if>
            <if test="agentIdGender != null and agentIdGender != ''">agent_id_gender = #{agentIdGender},</if>
            <if test="agentIdNation != null and agentIdNation != ''">agent_id_nation = #{agentIdNation},</if>
            <if test="agentIdBirthDay != null">agent_id_birth_day = #{agentIdBirthDay},</if>
            <if test="agentIdIssuingAuthority != null and agentIdIssuingAuthority != ''">agent_id_issuing_authority = #{agentIdIssuingAuthority},</if>
            <if test="agentIdCertValidDate != null">agent_id_cert_valid_date = #{agentIdCertValidDate},</if>
            <if test="agentIdCertExpDate != null">agent_id_cert_exp_date = #{agentIdCertExpDate},</if>
            <if test="agentContactNo != null and agentContactNo != ''">agent_contact_no = #{agentContactNo},</if>
            <if test="agentAddress != null and agentAddress != ''">agent_address = #{agentAddress},</if>
            <if test="contactName != null and contactName != ''">contact_name = #{contactName},</if>
            <if test="contactNo != null and contactNo != ''">contact_no = #{contactNo},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </set>
        where user_id = #{userId}
    </update>

    <update id="audit">
        update zs_corp set status = #{status}
        where id = #{id}
    </update>

    <select id="getOneByUid" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from zs_corp
        where user_id = #{userId}
        and status = 1
        limit 1
    </select>

    <select id="getList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from zs_corp
        <where>
            <if test="enterpriseName != null and enterpriseName != ''">enterprise_name like concat('%',#{enterpriseName},'%')</if>
            <if test="corporateName != null and corporateName != ''">or corporate_name like concat('%',#{corporateName},'%')</if>
            <if test="enterpriseName != null and businessLicenseCode != ''">or business_license_code like concat('%',#{businessLicenseCode},'%')</if>
            <if test="agentName != null and agentName != ''">or agent_name like concat('%',#{agentName},'%')</if>
            <if test="agentPid != null and agentPid != ''">or agent_pid like concat('%',#{agentPid},'%')</if>
            <if test="agentContactNo != null and agentContactNo != ''">or agent_contact_no like concat('%',#{agentContactNo},'%')</if>
            <if test="agentIdIssuingAuthority != null and agentIdIssuingAuthority != ''">or agent_id_issuing_authority like concat('%',#{agentIdIssuingAuthority},'%')</if>
            and status > 1
        </where>
    </select>
</mapper>
