# Created by .ignore support plugin (hsz.mobi)
/.idea/
/springcloud-boss.iml
/springcloud-system/springcloud-system.iml
/springcloud-activiti/springcloud-activiti.iml
/springcloud-sms-server/springcloud-sms-server.iml
/springcloud-zuul-getway/springcloud-zuul-getway.iml
/springcloud-core/target/
/springcloud-common/target/
/springcloud-redis/target/
/springcloud-survey/target/
/springcloud-system/target/
/springcloud-activiti/target/
/springcloud-sms-server/target/
/springcloud-attendance/target/
/springcloud-auth-server/target/
/springcloud-zuul-getway/target/
/springcloud-eureka-server/target/
/springcloud-stock-operation/target/

/springcloud-interviewer/target/
