<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.HangUpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.HangUp">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="reason" property="reason" />
        <result column="survey_id" property="surveyId" />
        <result column="created_at" property="createdAt" />
        <result column="creator" property="creatorId" />
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phone, reason, survey_id, created_at, creator, status
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        hang_up
    </select>
</mapper>
