<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.HomeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.vo.ZsHomeTotal">
        <result column="projet_num" property="projectNum"></result>
        <result column="collect_num" property="collectNum"></result>
        <result column="survey_num" property="surveyNum"></result>
        <result column="workrecord_num" property="workrecordNum"></result>
        <result column="sign_num" property="signNum"></result>
        <result column="delivery_num" property="deliveryNum"></result>
        <result column="target_collect_num" property="targetCollectNum"></result>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, value, code, status, created_at, creator, update_at, updator
    </sql>

    <select id="total" resultMap="BaseResultMap">
        SELECT
            (SELECT count(1) FROM zs_project WHERE status = 1 )AS projet_num,
            (SELECT count(1) FROM zs_answer WHERE status = 1)AS collect_num,
            count(1)AS survey_num,
            (SELECT count(1) FROM zs_work_record WHERE status = 1 and result = 0)AS workrecord_num,
            (SELECT count(1) FROM zs_sign WHERE status = 1 and result = 0)AS sign_num,
            (SELECT count(1) FROM zs_delivery WHERE status = 1 and ach = 0)AS delivery_num,
            SUM(collect_num)AS target_collect_num
        FROM
            zs_survey
        <where>
            status = 1
        </where>
    </select>

    <select id="lineChartSurvey" resultType="hashmap">
        select
            DATE_FORMAT(ymd.date, '%m%d') as xkey,
            sum(case zsr.id > 0 when true then 1 else 0 end) value
         from (
            SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL (ac - 1) DAY), '%Y%m%d') as date
        FROM (
                    SELECT @ai:=@ai+1 as ac from
                    (SELECT 1 UNION SELECT 2 UNION SELECT 3) ac1,
                    (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 ) ac2,
                    (SELECT @ai:=0) xc0
        ) ad
        ) ymd left join zs_survey_record zsr on ymd.date = DATE_FORMAT(zsr.created_at,'%Y%m%d')

        GROUP BY ymd.date;
    </select>

    <select id="lineChartCollect" resultType="hashmap">
        select
            DATE_FORMAT(ymd.date, '%m%d') as xkey,
            sum(case za.id > 0 when true then 1 else 0 end) value
        from (
            SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL (ac - 1) DAY), '%Y%m%d') as date
        FROM (
                    SELECT @ai:=@ai+1 as ac from
                    (SELECT 1 UNION SELECT 2 UNION SELECT 3) ac1,
                    (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 ) ac2,
                    (SELECT @ai:=0) xc0
        ) ad
        ) ymd, zs_answer za where ymd.date = DATE_FORMAT(za.created_at,'%Y%m%d')

        GROUP BY ymd.date;
    </select>

    <select id="pieChart" resultType="hashmap">
        SELECT
            survey.collect_type AS collectType,
            COUNT(1)collectNum
        FROM
            zs_answer answer
        LEFT JOIN zs_survey survey ON survey.id = answer.survey_id
        WHERE
            answer. STATUS = 1
        GROUP BY
            survey.collect_type
    </select>

    <select id="enabledSurvies" resultType="hashmap">
        select type, name, id from zs_other_survey where `status` = 1 and state = 1
        UNION ALL
        select 0 type, name, id from zs_survey where `status` = 1
        <if test="!isAll">
            and state = 2
        </if>
    </select>

    <select id="enabledSurviesDev" resultType="hashmap">
        select type, name, id from zs_other_survey where `status` = 1 and state = 1 and creator = #{uid}
        UNION ALL
        select 0 type, name, id from zs_survey where `status` = 1 and creator = #{uid}
        <if test="!isAll">
            and state = 2
        </if>
    </select>
</mapper>
