<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.TelProtectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.TelProtection">
        <id column="id" property="id" javaType="java.lang.Integer"/>
        <result column="final_cus_id" property="finalCusId" javaType="java.lang.Integer"/>
        <result column="tel" property="tel" javaType="java.lang.String"/>
        <result column="apply_time" property="applyTime" javaType="java.util.Date"/>
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <association property="zsProject" column="project_id" select="com.camel.survey.mapper.ZsProjectMapper.selectProjectById"/>
        <association property="partner" javaType="com.camel.core.model.SysUser">
            <id column="uid" property="uid"/>
            <result column="username" property="username"/>
            <result column="email" property="email"/>
        </association>
        <collection property="company" ofType="com.camel.core.model.SysCompany">
            <id column="cid" property="id"/>
            <result column="name" property="name"/>
            <result column="contacts" property="contacts"/>
        </collection>
        <collection property="telProject" ofType="com.camel.survey.model.ZsProject">
            <result column="projectName" property="name"/>
            <result column="project_id" property="id"/>
        </collection>
    </resultMap>

    <resultMap id="projectRsesult" type="com.camel.survey.model.ZsProject">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="created_at" property="createdAt"/>
        <association property="sysUser" javaType="com.camel.core.model.SysUser">
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <resultMap id="companyResult" type="com.camel.survey.vo.CompanyVo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="contacts" column="contacts"/>
        <result property="tel" column="tel"/>
        <result property="telId" column="tel_id"/>
        <result property="isBind" column="is_bind"/>
    </resultMap>

    <resultMap id="finalCusResult" type="com.camel.survey.vo.FinalCusVo">
        <result property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="isBind" column="is_bind"/>
        <result property="telProId" column="id"/>
        <result property="tel" column="tel"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tel_protection.id,tel_protection.final_cus_id,tel_protection.tel,tel_protection.apply_time,tel_protection.status,
        sys_company.id as cid,sys_company.name,sys_company.contacts
    </sql>

    <insert id="updatePartner">
        insert into tel_partner (tel_id,partner_id)
            value (#{id},#{partnerId})
    </insert>

    <insert id="insertFinal" parameterType="com.camel.survey.model.TelProtection">
        insert into tel_protection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="finalCusId != null">final_cus_id,</if>
            <if test="tel != null">tel,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="status != null">status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="finalCusId != null">#{finalCusId},</if>
            <if test="tel != null">#{tel},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <delete id="delPromise">
        delete from tel_partner
        where tel_id = #{id}
          and partner_id = #{partnerId}
    </delete>

    <delete id="revokeTel">
        delete from tel_protection
        where id = #{id}
    </delete>

    <select id="grantTelList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from
        tel_protection left join tel_partner on tel_protection.id = tel_partner.tel_id
        left join sys_company on sys_company.id = tel_partner.partner_id
        <where>
            <if test="finalCusId != null and finalCusId != '' ">and tel_protection.final_cus_id = #{finalCusId}</if>
            <if test="tel != null and tel != '' ">and tel_protection.tel = #{tel}</if>
        </where>
    </select>

    <select id="partnerList" resultMap="companyResult">
        select id,name,contacts,tel,tel_id,is_bind
        from
            (SELECT
                 sys_company.id,sys_company.name,sys_company.contacts,sys_company.tel,IF(tel_partner.tel_id = #{telId},1,-1) is_bind,tel_partner.tel_id
             from sys_company
                      LEFT JOIN tel_partner on sys_company.id = tel_partner.partner_id
            ) _now
                where tel_id is null or tel_id not in(
                        select tel_id
                from
                (SELECT
                sys_company.id,sys_company.name,sys_company.contacts,sys_company.tel,IF(tel_partner.tel_id = #{telId},1,-1) is_bind,tel_partner.tel_id
                from sys_company
                LEFT JOIN tel_partner on sys_company.id = tel_partner.partner_id
                ) _s
                where is_bind = -1 and tel_id is not null and id in(
                                select id
                from
                (
                        SELECT
                        sys_company.id,sys_company.name,sys_company.contacts,sys_company.tel,
                                IF(tel_partner.tel_id = #{telId},1,-1) is_bind,tel_partner.tel_id
                        from sys_company
                        LEFT JOIN tel_partner on sys_company.id = tel_partner.partner_id
                ) _t
                where is_bind = 1
                )
)
        GROUP BY id
        order by is_bind desc
    </select>

    <select id="isExist" resultType="java.lang.Integer">
        select count(1) from tel_partner
        where partner_id = #{uid}
          and tel_id = #{telId}
    </select>

    <select id="finalList" resultMap="finalCusResult">
        select id,uid,username,is_bind,tel
        from (
                 select _now.id,_now.uid,_now.username,_now.is_bind,_now.tel
                 from(
                     select tel_protection.id,sys_user.uid,sys_user.username,
                     IF(tel_protection.tel = #{tel},1,-1) is_bind,tel_protection.tel
                     from sys_user left join sys_user_role on sys_user.uid = sys_user_role.user_id
                     left join tel_protection on sys_user.uid = tel_protection.final_cus_id
                     WHERE sys_user_role.role_id = 7
                     ) _now
                 where id is null or id not in(
                     select id from
                     (
                     select id,uid,username,is_bind,tel from (
                     select tel_protection.id,sys_user.uid,sys_user.username,
                     IF(tel_protection.tel = #{tel},1,-1) is_bind,tel_protection.tel
                     from sys_user left join sys_user_role on sys_user.uid = sys_user_role.user_id
                     left join tel_protection on sys_user.uid = tel_protection.final_cus_id
                     WHERE sys_user_role.role_id = 7
                     ) _old
                     where is_bind = -1 and id is not null and uid in (
                     select uid from
                     (select tel_protection.id,sys_user.uid,sys_user.username,
                     IF(tel_protection.tel = #{tel},1,-1) is_bind,tel_protection.tel
                     from sys_user left join sys_user_role on sys_user.uid = sys_user_role.user_id
                     left join tel_protection on sys_user.uid = tel_protection.final_cus_id
                     WHERE sys_user_role.role_id = 7
                     ) _s
                     where is_bind = 1
                     )
                     ) _t
                     )
             ) _f
             <where>
                 <if test="sysUser.username != null and sysUser.username != '' ">and username like concat ('%',#{sysUser.username},'%')</if>
             </where>
        GROUP BY uid
        ORDER BY is_bind desc
    </select>



    <select id="selectByTel" resultType="java.lang.String">
        select username
        from sys_user
        where uid in (
            select final_cus_id
            from tel_protection
            where tel = #{tel}
        )
    </select>

    <!-- 供应商：分页查询号码列表 -->
    <select id="selectByPid" resultMap="BaseResultMap">
        SELECT t.id,u.username,u.email,c.name,t.tel,t.apply_time,t.status,t.final_cus_id,tp.project_id,zs.name as projectName
        FROM tel_protection t
        LEFT JOIN tel_partner p ON p.tel_id = t.id
        LEFT JOIN sys_user u ON u.uid = t.final_cus_id
        LEFT JOIN sys_company c ON p.partner_id = c.id
        LEFT JOIN tel_project tp ON tp.tel_id = t.id
        LEFT JOIN zs_project zs ON tp.project_id = zs.id
        <where>
            p.partner_id = #{partnerId}
            <if test="tel != null and tel != ''">
                and t.tel like concat('%',#{tel},'%')
            </if>
        </where>
    </select>

    <!-- 供应商：分页查询项目列表 -->
    <select id="selectByFid" resultMap="projectRsesult">
        SELECT z.id,u.username,z.name,z.created_at
        from zs_project z LEFT JOIN sys_user u ON z.final_cus_id = u.uid
        <where>
            z.final_cus_id = #{finalCusId}
            <if test="projectName != null and projectName != '' ">
                and z.name like concat('%',#{projectName},'%')
            </if>
        </where>
    </select>

    <select id="getTelByProId" resultType="java.lang.String">
        select tel_protection.tel
        from tel_protection tel_protection
        left join tel_project tel_project on tel_project.tel_id = tel_protection.id
        where tel_project.project_id = #{projectId}
        and tel_protection.status = 1
    </select>

    <select id="selectBytel" resultType="com.camel.survey.model.TelProtection">
        select tel_protection.id,tel_protection.final_cus_id,tel_protection.tel,tel_protection.apply_time,tel_protection.status
        from tel_protection
        where tel = #{tel}
    </select>

    <!-- 供应商：修改项目 -->
    <insert id="updateByTid">
        insert into tel_project (project_id,tel_id)
        values (#{projectId},#{id})
    </insert>

    <!-- 供应商：判断电话是否绑定了项目 -->
    <select id="hasProject" resultType="java.lang.Integer">
        select count(1) from tel_project
        where project_id = #{projectId}
          and tel_id = #{id}
    </select>

    <!-- 供应商：撤销授权 -->
    <delete id="deleteProject">
        delete from tel_project
        where tel_id = #{id}
          and project_id = #{projectId}
    </delete>

    <update id="updateFinal">
        update tel_protection
        set final_cus_id = #{finalCusId}
        where tel = #{tel}
    </update>

</mapper>
