<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.TelProtectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.TelProtection">
        <id column="id" property="id" javaType="java.lang.Integer"/>
        <result column="final_cus_id" property="finalCusId" javaType="java.lang.Integer"/>
        <result column="tel" property="tel" javaType="java.lang.String"/>
        <result column="project_id" property="projectId" javaType="java.lang.Integer"/>
        <result column="apply_time" property="applyTime" javaType="java.util.Date"/>
        <result column="username" property="userName" javaType="java.lang.String"/>
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <association property="zsProject" column="project_id" select="com.camel.survey.mapper.ZsProjectMapper.selectProjectById"/>
        <collection property="partner" javaType="java.util.ArrayList" ofType="com.camel.core.model.SysUser">
            <id column="uid" property="uid"/>
            <result column="username" property="username"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tel_protection.id,tel_protection.final_cus_id,tel_protection.tel,tel_protection.project_id,tel_protection.apply_time,tel_protection.status,
        sys_user.username
    </sql>

    <insert id="updatePartner">
        insert into tel_partner (tel_id,partner_id)
        value (#{id},#{partnerId})
    </insert>

    <delete id="delPromise">
        delete from tel_partner
        where tel_id = #{id}
        and #{partnerId}
    </delete>

    <select id="grantTelList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from
            tel_protection left join tel_partner on tel_protection.id = tel_partner.tel_id
            left join sys_user on sys_user.uid = tel_partner.partner_id
        where tel_protection.final_cus_id = #{finalCusId}
    </select>

    <select id="partnerList" resultType="com.camel.core.model.SysUser">
        SELECT s.uid, s.username,sr.remark from
        sys_user s LEFT JOIN sys_user_role sur on s.uid = sur.user_id
        LEFT JOIN sys_role sr on sr.role_id = sur.role_id
        <where>
            <if test="sysUser.username != null and sysUser.username != '' ">and s.username like concat('%',#{sysUser.username},'%')</if>
            and sr.role_id = 2
        </where>
        order by s.uid in (
        SELECT partner_id from tel_partner WHERE tel_id = #{telId}
        ) desc
    </select>
    <select id="isExist" resultType="java.lang.Integer">
        select count(1) from tel_partner
        where partner_id = #{uid}
          and tel_id = #{telId}
    </select>

    <!-- 供应商：分页查询项目列表 -->
    <select id="selectByPid" resultMap="BaseResultMap">
        SELECT t.id,u.username,t.tel,t.apply_time,t.status,t.final_cus_id,t.project_id
        FROM tel_protection t
        LEFT JOIN tel_partner p ON p.tel_id = t.id
        LEFT JOIN sys_user u ON t.final_cus_id = u.uid
        LEFT JOIN zs_project z ON t.project_id = z.id
        <where>
            p.partner_id = #{partnerId}
            <if test="tel != null and tel != ''">
                and tel like concat('%',#{tel},'%')
            </if>
        </where>
    </select>

    <!-- 供应商：分页查询项目列表 -->
    <select id="selectByFid" resultMap="BaseResultMap">
        SELECT z.id as project_id,u.username
        from zs_project z LEFT JOIN sys_user u ON z.company_id = u.uid
        <where>
            z.company_id = #{finalCusId}
            <if test="projectName != null and projectName != '' ">
                and z.name like concat('%',#{projectName},'%')
            </if>
        </where>
    </select>

    <select id="getTelByUserId" resultType="java.lang.String">
        select tel from tel_protection
        where final_cus_id = #{userId}
        and project_id = #{projectId}
        and status = 1
    </select>

    <!-- 供应商：修改项目 -->
    <update id="updateByTid">
        update
            tel_protection
        set project_id = #{projectId}
        where id = #{id}
    </update>

</mapper>
