<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsAnswer">
        <id column="id" property="id"/>
        <result column="survey_id" property="surveyId"/>
        <result column="record" property="record"/>
        <result column="seat" property="seat"/>
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="creator" property="creator"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, survey_id, status, record, seat, created_at, creator
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_answer
        <where>
            status = 1
            <if test="surveyId != null">
                and survey_id = #{surveyId}
            </if>
        </where>
    </select>

    <select id="selectRateBySurveyQuestion" resultType="hashmap">
        select result.option, result.num, result.count, concat((result.num/result.count) * 100, '%') rate
        from (
          select ai.option, count(1) num ,
            (select count(1) from zs_answer_item ai left join zs_answer a on a.id = ai.answer_id where ai.question = #{question} and a.survey_id = #{id}) count
            from zs_answer_item ai left join zs_answer a on a.id = ai.answer_id where ai.question = #{question} and a.survey_id = #{id}
            GROUP BY ai.option
        ) result
    </select>
</mapper>
