<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsAnswer">
        <id column="id" property="id"/>
        <result column="survey_id" property="surveyId"/>
        <result column="agent_UUID" property="agentUUID"/>
        <result column="record" property="record"/>
        <result column="seat" property="seat"/>
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="creator" property="creator"/>
        <result column="task_id" property="taskId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="call_lasts_time" property="callLastsTime"/>
        <result column="task_status" property="taskStatus"
                typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="review_status" property="reviewStatus" />
        <result column="review_msg" property="reviewMsg" />
        <result column="reviewer" property="reviewerId" />
        <result column="reviewer_name" property="reviewerName" />
        <result column="work_num" property="workNum" />
        <result column="uid" property="uid" />
        <result column="checked" property="checked" />
        <result column="valid" property="valid" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="cdr_id" property="cdrinfo.id" />
        <result column="reviewer_at" property="reviewerAt" />
        <result column="review_spent" property="reviewSpent" />
        <result column="label" property="label" />
        <result column="in_valid_msg" property="inValidMsg" />
        <result column="username" property="username" />
        <association property="user" javaType="com.camel.core.model.SysUser">
            <result property="uid" column="uid" jdbcType="INTEGER" />
        </association>
        <association property="reviewer" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="reviewer" jdbcType="INTEGER" />
        </association>
    </resultMap>

    <resultMap id="BaseFullResultMap" type="com.camel.survey.model.ZsAnswer">
        <id column="id" property="id"/>
        <result column="survey_id" property="surveyId"/>
        <result column="agent_UUID" property="agentUUID"/>
        <result column="record" property="record"/>
        <result column="seat" property="seat"/>
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="creator" property="creator"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="call_lasts_time" property="callLastsTime"/>
        <result column="checked" property="checked" />
        <result column="work_num" property="workNum" />
        <result column="label" property="label" />
        <result column="in_valid_msg" property="inValidMsg" />
        <result column="username" property="username" />
        <result column="valid" property="valid" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <collection property="items" column="id" select="com.camel.survey.mapper.ZsAnswerItemMapper.selectByAnswerId">
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, survey_id, agent_UUID, status, record, seat, created_at, creator,
         valid, task_id, task_status,start_time,end_time,call_lasts_time,
         review_status, review_msg, reviewer,checked,reviewer_name,work_num, in_valid_msg,username
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        info.id cdr_id, answer.label, answer.in_valid_msg,
        answer.id, answer.survey_id, answer.agent_UUID, answer.status, answer.record, answer.seat, answer.created_at,
        answer.creator, answer.valid, answer.task_id, answer.review_spent, answer.work_num, answer.reviewer_name,
        answer.task_status,answer.start_time,answer.end_time,answer.call_lasts_time,
        answer.review_status, answer.review_msg, answer.reviewer,answer.uid,answer.checked, answer.reviewer_at, answer.username
        from
        zs_answer answer
        LEFT JOIN zs_cdrinfo info ON info.id = answer.agent_UUID
        <where>
            answer.status = 1
            <if test="surveyId != null">
                and answer.survey_id = #{surveyId}
            </if>
            <if test="valid != null">
                and answer.valid = #{valid.code}
            </if>
            <if test="seat != null">
                and answer.seat like concat('%', #{seat}, '%')
            </if>
            <if test="creator != null">
                and answer.creator like concat('%', #{creator}, '%')
            </if>
            <if test="startDate != null">
                and answer.created_at &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and answer.created_at &lt;= #{endDate}
            </if>
            <if test="callLastsTime != null">
                and answer.call_lasts_time is not null
            </if>
            <if test="reviewStatus != null and reviewStatus > -1 and reviewStatus == 0">
                and (answer.review_status is null or answer.review_status = 0)
            </if>
            <if test="reviewStatus != null and reviewStatus > -1  and reviewStatus == 12">
                and answer.review_status in (1,2)
            </if>
            <if test="reviewStatus != null and reviewStatus > -1  and reviewStatus != 0 and reviewStatus != 12">
                and answer.review_status = #{reviewStatus}
            </if>
            <if test="reviewerName != null">
                and answer.reviewer_name like concat('%', #{reviewerName}, '%')
            </if>
            <if test="workNum != null">
                and answer.work_num like concat('%', #{workNum}, '%')
            </if>
        </where>
    </select>

    <select id="selectAgentUuidsByEntity" resultType="string">
        select
        answer.agent_UUID
        from
        zs_answer answer
        LEFT JOIN zs_cdrinfo info ON info.id = answer.agent_UUID
        <where>
            info.record_file is not null
            <if test="surveyId != null">
                and answer.survey_id = #{surveyId}
            </if>
            <if test="valid != null">
                and answer.valid = #{valid.code}
            </if>
            <if test="seat != null">
                and answer.seat like concat('%', #{seat}, '%')
            </if>
            <if test="creator != null">
                and answer.creator like concat('%', #{creator}, '%')
            </if>
            <if test="startDate != null">
                and answer.created_at &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and answer.created_at &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="selectRateBySurveyQuestion" resultType="hashmap">
        select result.option, result.num, result.count, concat((result.num/result.count) * 100, '%') rate
        from (
          select ai.option, count(1) num ,
            (select count(1) from zs_answer_item ai left join zs_answer a on a.id = ai.answer_id where ai.question = #{question} and a.survey_id = #{id}) count
            from zs_answer_item ai left join zs_answer a on a.id = ai.answer_id where ai.question = #{question} and a.survey_id = #{id}
            GROUP BY ai.option
        ) result
    </select>

    <select id="selectCountCross" resultType="hashmap">
        select count(1) count from zs_answer_item ai left join zs_answer a on a.id = ai.answer_id where a.survey_id = 1 and  question = #{question} and `option` = #{option} and ai.creator in (
          select ai.creator from zs_answer_item ai left join zs_answer a on a.id = ai.answer_id where a.survey_id = #{surveyId} and ai.question = #{mainQuestion} and ai.`option` = #{mianOption}
        )
    </select>

    <select id="selectBySurvey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_answer
        <where>
            status = 1
            and survey_id = #{surveyId}
        </where>
    </select>

    <select id="details" resultMap="BaseFullResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_answer
        <where>
            status = 1
            and id = #{id}
        </where>
    </select>

    <select id="detailsA" resultMap="BaseFullResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_answer
        <where>
            status = 1
            and agent_UUID = #{agent}
        </where>
        limit 1
    </select>

    <select id="full" resultMap="BaseFullResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_answer
        <where>
            status = 1
            and id = #{id}
        </where>
    </select>

    <select id="selectDetailsBySurveyId" resultMap="BaseFullResultMap">
        select
        <include refid="Base_Column_List"></include>
        from zs_answer
        where
        survey_id = #{id}
        limit #{rowNum}, 200
    </select>

    <select id="selectAllWithConversation" resultMap="BaseResultMap">
        SELECT
            answer.id, answer.survey_id, answer.agent_UUID, answer.status, answer.seat, answer.created_at, answer.creator, answer.valid,
            cdrinfo.record_file as record
        FROM
        zs_answer answer
        LEFT JOIN zs_cdrinfo cdrinfo ON FIND_IN_SET(answer.agent_UUID, cdrinfo.uuids) > 0
        WHERE
        answer.survey_id = #{id}
        AND answer.agent_UUID != '';
    </select>

    <select id="selectByAgentUuid" resultMap="BaseFullResultMap">
        select
        <include refid="Base_Column_List"></include>
        from zs_answer
        where
        status=1
        and agent_UUID=#{agentUuid}
    </select>

    <select id="randomList" resultMap="BaseResultMap">
        SELECT
            result.*
        FROM
            (
            SELECT
                cdrinfo.id cdr_id,
                answer.id, answer.survey_id, answer.agent_UUID, answer.status, answer.record, answer.seat, answer.created_at, answer.creator, answer.valid, answer.task_id, answer.task_status,answer.start_time,answer.end_time,answer.call_lasts_time
            FROM
                zs_answer answer
                LEFT JOIN zs_cdrinfo cdrinfo ON cdrinfo.id = answer.agent_UUID
            WHERE
                answer.survey_id = #{surveyId}
                AND cdrinfo.id IS NOT NULL
            ) result
        ORDER BY
            RAND()
            LIMIT 0,
            10;
    </select>

    <select id="selectTimeRange" resultType="string">
        select
            CONCAT(
                (
                    SELECT
                        min(created_at)
                    FROM
                        zs_answer
                    WHERE
                        STATUS = 1
                    AND survey_id = #{surveyId}
                ),
                ' - ',
                (
                    SELECT
                        max(created_at)
                    FROM
                        zs_answer
                    WHERE
                        STATUS = 1
                    AND survey_id = #{surveyId}
                )
            )
    </select>
</mapper>
