<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsCashApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsCashApply">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="openid" property="openid"/>
        <result column="uname" property="uname"/>
        <result column="amount" property="amount"/>
        <result column="created_at" property="createdAt"/>
        <result column="exam_by" property="examBy"/>
        <result column="exam_at" property="examAt"/>
        <result column="works" property="works"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, openid, uname, amount, created_at, exam_by, exam_at, works, status
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_cash_apply
        where created_at &gt;= #{startDate}
        and created_at &lt;= #{endDate}
        <if test="uname != null and uname !=''">
            and uname like concat('%', #{uname}, '%')
        </if>
        <if test="status != null">
            and status = #{status.code}
        </if>
    </select>

    <select id="selectTimeRange" resultType="string">
        select
            CONCAT(
                (
                    SELECT
                        min(created_at)
                    FROM
                        zs_cash_apply
                ),
                ' - ',
                (
                    SELECT
                        max(created_at)
                    FROM
                        zs_cash_apply
                )
            )
    </select>
</mapper>
