<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsCallPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsCallPlan">
        <id column="id" property="id"/>
        <result column="trans_name" property="transName"/>
        <result column="name" property="name"/>
        <result column="task_id" property="taskId"/>
        <result column="pstn_number" property="pstnNumber"/>
        <result column="task_status" property="taskStatus"/>
        <result column="max_concurrent_num" property="maxConcurrentNum"/>
        <result column="playfile_url" property="playfileUrl"/>
        <result column="ro_name" property="roName"/>
        <result column="created_at" property="createdAt"/>
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="trans_type" property="transType"
                typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="tot_cust" property="totCust"/>
        <result column="tot_callsuc" property="totCallsuc"/>
        <result column="tot_uncall" property="totUncall"/>
        <result column="tot_failure" property="totFailure"/>
        <result column="tot_success" property="totSuccess"/>
        <result column="tot_tocustomer" property="totTocustomer"/>
        <result column="tot_callsuc_rate" property="totCallsucRate"/>
        <result column="tot_uncall_rate" property="totUncallRate"/>
        <result column="tot_success_rate" property="totSuccessRate"/>
        <result column="tot_tocustomer_rate" property="totTocustomerRate"/>
        <result column="hit_rate" property="hitRate" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="acw_time" property="acwTime"/>
        <result column="redial_times" property="redialTimes"/>
        <result column="min_redial_interval" property="minRedialInterval"
                typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="max_ring_time" property="maxRingTime"
                typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="xintf" property="xintf"/>
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
        <association property="survey" javaType="com.camel.survey.model.ZsSurvey">
            <id property="id" column="survey_id"/>
            <result property="name" column="survey_name" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        p.id, p.name, p.trans_name, p.task_id, p.trans_type, p.pstn_number, p.task_status, p.max_concurrent_num, p.playfile_url, p.ro_name, p.created_at, p.creator, p.status,
        tot_cust, p.tot_callsuc, p.tot_uncall, p.tot_failure, p.tot_success, p.tot_tocustomer, p.tot_callsuc_rate, p.tot_uncall_rate, p.tot_success_rate, p.tot_tocustomer_rate,
        hit_rate, p.acw_time, p.redial_times, p.min_redial_interval, p.max_ring_time, p.xintf, p.survey_id, survey.name survey_name
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_call_plan p LEFT JOIN zs_survey survey ON p.survey_id = survey.id
        <where>
            p.status = 1
            <if test="taskId != null and taskId != ''">
                AND p.task_id like concat("%", #{taskId}, "%")
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
