<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsCdrinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsCdrinfo">
        <id column="call_uuid" property="callUuid" />
        <result column="uuids" property="uuids" />
        <result column="call_type" property="callType" />
        <result column="caller_num" property="callerNum" />
        <result column="callee_num" property="calleeNum" />
        <result column="start_time" property="startTime" />
        <result column="call_lasts_time" property="callLastsTime" />
        <result column="agent_duration" property="agentDuration" />
        <result column="caller_agent_num" property="callerAgentNum" />
        <result column="callee_agent_num" property="calleeAgentNum" />
        <result column="caller_agent_group_name" property="callerAgentGroupName" />
        <result column="record_file" property="recordFile" />
        <result column="grade" property="grade" />
        <result column="taskid" property="taskid" />
        <result column="taskname" property="taskname" />
        <result column="ivr_dtmf" property="ivrDtmf" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        call_uuid, uuids, call_type, caller_num, callee_num, start_time, call_lasts_time, agent_duration, caller_agent_num, callee_agent_num, caller_agent_group_name, record_file, grade, taskid, taskname, ivr_dtmf
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        zs_cdrinfo
    </select>

    <select id="selectByAgentUUID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_cdrinfo
        <where>
            uuids like concat('%', #{uuid} ,'%')
        </where>
    </select>
</mapper>
