<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsCdrinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsCdrinfo">
        <id column="id" property="id" />
        <result column="call_uuid" property="call_uuid" />
        <result column="uuids" property="uuids" />
        <result column="call_type" property="call_type" />
        <result column="caller_num" property="caller_num" />
        <result column="callee_num" property="callee_num" />
        <result column="start_time" property="start_time" />
        <result column="call_lasts_time" property="call_lasts_time" />
        <result column="agent_duration" property="agent_duration" />
        <result column="caller_agent_num" property="caller_agent_num" />
        <result column="callee_agent_num" property="callee_agent_num" />
        <result column="caller_agent_group_name" property="caller_agent_group_name" />
        <result column="record_file" property="recordFile" />
        <result column="grade" property="grade" />
        <result column="taskid" property="taskid" />
        <result column="taskname" property="taskname" />
        <result column="ivr_dtmf" property="ivr_dtmf" />
        <result column="uid" property="uid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, call_uuid, uuids, call_type, caller_num, callee_num, start_time, call_lasts_time, agent_duration, caller_agent_num, callee_agent_num, caller_agent_group_name, record_file, grade, taskid, taskname, ivr_dtmf, uid
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        zs_cdrinfo
    </select>

    <select id="selectByAgentUUID" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_cdrinfo
        <where>
            uuids like concat('%', #{uuid} ,'%')
        </where>
    </select>

    <select id="details" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_cdrinfo
        <where>
            id = #{uuid}
        </where>
    </select>

    <select id="selectListByAgents" resultMap="BaseResultMap">
        SELECT
	        c.id, c.call_uuid, c.uuids, c.call_type, c.caller_num, c.callee_num, c.start_time, c.call_lasts_time, c.agent_duration,
	        c.caller_agent_num, c.callee_agent_num, c.caller_agent_group_name, c.record_file, c.grade, c.taskid, c.taskname, c.ivr_dtmf, c.uid
        FROM
            zs_answer a
        LEFT JOIN zs_cdrinfo c ON c.id = a.agent_UUID
        WHERE
            a.agent_UUID != ''
        AND c.record_file IS NOT NULL
        <if test="collection != null">
            AND c.id IN
            <foreach collection="collection" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="selectAvgTime">
        select AVG(agent_duration) from zs_cdrinfo where survey_id = #{id}
    </select>
</mapper>
