<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsExamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsExam">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="creator" property="creatorId"/>
        <result column="desc" property="desc"/>
        <result column="created_at" property="createdAt"/>
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, creator, created_at, status, `desc`
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_exam
        <where>
            status = 1
            <if test="name != null and name != ''">
                AND name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="listBySurveyId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_exam
        <where>
            status = 1 and id in(
              select exam_id from rel_survey_exam where status = 1 and survey_id = #{id}
            )
        </where>
    </select>


    <select id="listByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_exam
        <where>
            id in (
              select exam_id from zs_delivery where status = 1 and ach = 1 and creator = #{id}
            )
        </where>
    </select>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        FROM
        zs_exam
        <where>
            id = #{id}
        </where>
    </select>

</mapper>
