<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsProject">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="created_at" property="createdAt" />
        <result column="creator" property="creatorId" />
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, status, created_at, creator
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        zs_project
        <where>
            status = 1
        </where>
    </select>

    <select id="listByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_project
        <where>
            STATUS = 1
        </where>
    </select>

    <select id="selectProjectById" resultMap="BaseResultMap">
        select
        id, name, code, status, created_at, creator
        from
        zs_project
        where id = #{id}
    </select>
</mapper>
