<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsQuestion">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="order_num" property="orderNum" />
        <result column="survey_id" property="surveyId" />
        <result column="type" property="type" />
        <result column="status" property="status" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="createdAt" property="createdAt" />
        <result column="creator" property="creatorId" />
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, order_num, survey_id, type, status, createdAt AS createdAt, creator
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        zs_question
    </select>

    <select id="selectQuestionById" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"></include>
        from
        zs_question
        where id = #{id}
    </select>
</mapper>
