<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsSeatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsSeat">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="seat_num" property="seatNum" />
        <result column="password" property="password" />
        <result column="description" property="description" />
        <result column="state" property="state" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="work_num" property="workNum" />
        <result column="survey_id" property="surveyId" />
        <result column="last_submit" property="lastSubmit"/>
        <result column="queue_id" property="queueId"/>
        <association property="queue" javaType="com.camel.survey.model.ZsQueue">
            <result column="queue_id" property="id"/>
            <result column="name" property="name"/>
        </association>
        <association property="user" javaType="com.camel.core.model.SysUser">
            <result column="uid" property="uid"/>
            <result column="username" property="username"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, seat_num, password, description,state,work_num, survey_id, last_submit, queue_id
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
            seat.id,
            seat.uid,
            seat.seat_num,
            seat.PASSWORD,
            seat.description,
            seat.state,
            seat.work_num,
            seat.survey_id,
            seat.last_submit,
            seat.queue_id,
            queue.name,
            user.username
        FROM
            zs_seat seat
            LEFT JOIN zs_queue queue ON queue.id = seat.queue_id
            LEFT JOIN sys_user user ON user.uid = seat.uid
        <where>
            <if test="seatNum !=null and seatNum != ''">AND seat.seat_num LIKE CONCAT('%', #{seatNum}, '%')</if>
            <if test="queueName !=null and queueName != ''">AND queue.name LIKE CONCAT('%', #{queueName}, '%')</if>
            <if test="userName !=null and userName != ''">AND user.username LIKE CONCAT('%', #{userName}, '%')</if>
        </where>
        ORDER BY seat.last_submit DESC
    </select>

    <select id="selectLastByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_seat
    </select>

    <select id="searchBySeatNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_seat
        where
        seat_num like concat('%',#{seatNum},'%')
        limit 1
    </select>

    <update id="callback">
        update
        zs_seat
        set
        uid = null,
        state = 0,
        work_num = null
        where id = #{id}
    </update>

    <update id="assignSeat">
        update
        sys_user
        set
        seat_num=#{seatNum}
        where uid = #{uid}
    </update>

    <update id="callbackByUid">
        update
        zs_seat
        set
        uid = null,
        state = 0,
        work_num = null
        where uid = #{userId}
    </update>

    <update id="clearQueue">
        update zs_seat set queue_id = null where queue_id = #{id}
    </update>
</mapper>
