<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsSignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsSign">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="status" property="status"
                typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="result" property="result" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="creator" property="creatorId"/>
        <result column="survey_id" property="surveyId"/>
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, status, creator, created_at, result, survey_id
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_sign
        <where>
            status = 1
            <if test="surveyId != null">
                AND survey_id = #{surveyId}
            </if>
            <if test="result != null">
                AND result = #{result.value}
            </if>
        </where>
    </select>
</mapper>
