<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsWorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsWork">
        <id column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="pname" property="pname" />
        <result column="uname" property="uname" />
        <result column="ptime" property="ptime" />
        <result column="work_date" property="workDate" />
        <result column="phone" property="phone" />
        <result column="id_num" property="idNum" />
        <result column="job_number" property="jobNumber" />
        <result column="try_num" property="tryNum" />
        <result column="succss_num" property="succssNum" />
        <result column="invalid_num" property="invalidNum" />
        <result column="valid_num" property="validNum" />
        <result column="success_rate" property="successRate" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="eat_time" property="eatTime" />
        <result column="work_hours" property="workHours" />
        <result column="benchmark" property="benchmark" />
        <result column="base_salary" property="baseSalary" />
        <result column="royalty" property="royalty" />
        <result column="meals" property="meals" />
        <result column="salary" property="salary" />
        <result column="gain" property="gain" />
        <result column="gain_time" property="gainTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_id, pname, uname, ptime, work_date, phone, id_num, job_number, try_num, succss_num, invalid_num, valid_num, success_rate, start_time, end_time, eat_time, work_hours, benchmark, base_salary, royalty, meals, salary, gain, gain_time
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        zs_work
        <where>
            <if test="uname != null and uname != ''">
                uname like concat('%', #{uname}, '%')
            </if>
        </where>
    </select>
</mapper>
