<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsWorkRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsWorkRecord">
        <id column="id" property="id"/>
        <result column="status" property="status"
                typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="result" property="result" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="cid_num" property="cIdNum"/>
        <result column="username" property="username"/>
        <result column="ws_id" property="wsId"/>
        <result column="creator" property="creatorId"/>
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ws_id, status, cid_num, created_at, result,creator
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_work_record
        <where>
            status = 1
            <if test="result != null">
                AND result = #{result.value}
            </if>
            <if test="wsId != null">
                AND ws_id = #{wsId}
            </if>
        </where>
    </select>

    <select id="hasAppointment" resultType="integer">
        SELECT
            IFNULL(count(1), 0) count
        FROM
            zs_work_record wr
        LEFT JOIN zs_work_shift ws ON wr.ws_id = ws.id
        WHERE
            wr.creator = #{uid}
        AND ws.stype > 0
        AND start_date = DATE_FORMAT(#{workDate},"%Y-%m-%d")
        AND ws.survey_id = #{projectId}
    </select>
</mapper>
