<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsWorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsWork">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="pname" property="pname"/>
        <result column="uname" property="uname"/>
        <result column="ptime" property="ptime"/>
        <result column="work_date" property="workDate"/>
        <result column="phone" property="phone"/>
        <result column="id_num" property="idNum"/>
        <result column="job_number" property="jobNumber"/>
        <result column="try_num" property="tryNum"/>
        <result column="success_num" property="successNum"/>
        <result column="invalid_num" property="invalidNum"/>
        <result column="valid_num" property="validNum"/>
        <result column="success_rate" property="successRate"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="eat_time" property="eatTime"/>
        <result column="work_hours" property="workHours"/>
        <result column="benchmark" property="benchmark"/>
        <result column="base_salary" property="baseSalary"/>
        <result column="royalty" property="royalty"/>
        <result column="meals" property="meals"/>
        <result column="salary" property="salary"/>
        <result column="place" property="place"/>
        <result column="status" property="status"/>
        <result column="gain" property="gain"/>
        <result column="gain_time" property="gainTime"/>
        <result column="source" property="source" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="uid" property="uid"/>
        <result column="state" property="state"/>
        <result column="source" property="source"/>
        <result column="uid" property="uid"/>
        <result column="call_time" property="callTime"/>
        <result column="state" property="state" typeHandler="com.camel.survey.enumhandler.MyIntegerToEnumHandler"/>
        <result column="avg_num" property="avgNum"/>
    </resultMap>

    <resultMap id="ProjectReportResultMap" type="com.camel.survey.vo.ProjectReport">
        <result column="project_id" property="projectId"/>
        <result column="benchmark" property="benchmark"/>
        <result column="base_salary" property="baseSalary"/>
        <result column="royalty" property="royalty"/>
        <result column="avg_num" property="avgNum"/>
        <result column="meals" property="meals"/>
        <result column="salary" property="salary"/>
        <result column="call_time" property="callTime"/>
        <result column="success_num" property="successNum"/>
        <result column="invalid_num" property="invalidNum" />
        <result column="valid_num" property="validNum" />
        <result column="work_hours" property="workHours" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_id, pname, uname, ptime, work_date, phone, id_num, job_number, try_num, success_num, invalid_num, valid_num, success_rate, start_time, end_time, eat_time, work_hours, benchmark, base_salary, royalty, meals, salary, place, gain, gain_time, source, uid, state, call_time, avg_num
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_work
        <where>
            status = 1
            <if test="entity.uid != null">
                AND uid = #{entity.uid}
            </if>
            <if test="entity.uname != null and entity.uname != ''">
                AND uname like concat('%', #{entity.uname}, '%')
            </if>
            <if test="entity.pname != null and entity.pname != ''">
                AND pname like concat('%', #{entity.pname}, '%')
            </if>
            <if test="entity.idNum != null and entity.idNum != ''">
                AND id_num = #{entity.idNum}
            </if>
            <if test="entity.state != null">
                AND state = #{entity.state.code}
            </if>
            <if test="entity.gain != null and entity.gain != -1">
                AND gain = #{entity.gain}
            </if>
            <if test="entity.startDate != null and entity.startDate != ''">
                and work_date &gt;= #{entity.startDate}
            </if>
            <if test="entity.endDate != null and entity.endDate != ''">
                and work_date &lt;= #{entity.endDate}
            </if>
            <if test="ids != null">
                AND id in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="projectReport" resultMap="ProjectReportResultMap">
        SELECT
            project_id,
            SUM(success_num) success_num,
            SUM(invalid_num) invalid_num,
            sum(success_num - invalid_num) valid_num,
            SUM(call_time) call_time,
            SUM(work_hours) work_hours
        FROM
            zs_work
        WHERE
            project_id = #{proId}
    </select>

    <select id="selectTotalInfoByWork" resultMap="ProjectReportResultMap">
        select avg_top_num avg_num, work_hours work_hours FROM zs_survey_benchmark where pid = #{projectId} and work_date = #{workDate} limit 1
    </select>

    <select id="selectTimeRange" resultType="string">
        SELECT
            CONCAT(
                (
                    SELECT
                        min(work_date)
                    FROM
                        zs_work
                    WHERE
                        STATUS = 1
                ),
                ' - ',
                (
                    SELECT
                        max(work_date)
                    FROM
                        zs_work
                    WHERE
                        STATUS = 1
                )
            )
    </select>
</mapper>
