<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>号码申请页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/ajax-util.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.3/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@2.15.3/lib/index.js"></script>
</head>

<body>
<div class="x-body">
    <div>
        <el-table
                ref="multipleTable"
                :data="tableData"
                height="500"
                :default-sort="{prop: 'submitDate', order: 'descending'}"
                tooltip-effect="dark"
                style="width: 100%">
            <el-table-column
                    label="序号"
                    type="index"
                    align="center"
                    width="80">
            </el-table-column>
            <el-table-column
                    prop="tel"
                    label="接入号"
                    align="center"
                    width="200"
                    show-overflow-tooltip>
            </el-table-column>
            <el-table-column
                    label="最终用户"
                    align="center"
                    width="200">
                <template slot-scope="scope">
                    <el-popover
                            trigger="click"
                            placement="top"
                            @hide="name = []"
                            width="200"
                            :content="name">
                        <el-button slot="reference" @click="getName(scope.row)">查看已绑定的最终用户</el-button>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column
                    align="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                            v-model="search"
                            size="mini"
                            placeholder="输入 名称 搜索"
                            @keyup.enter="searchList">
                        <el-button slot="append" icon="el-icon-search" @click="searchList"></el-button>
                    </el-input>
                </template>
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="success"
                            @click="finalCusList(scope.row.tel)">绑定最终用户</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pageParams.pageNum"
                :page-sizes="pageParams.pageSizes"
                :page-size="pageParams.pageSize"
                :layout="pageParams.layout"
                :total="pageParams.total">
        </el-pagination>
    </div>

    <el-dialog title="最终用户" :visible.sync="dialogTableVisible">
        <el-table :data="finalList">
            <el-table-column
                    label="序号"
                    type="index"
                    width="150"></el-table-column>
            <el-table-column
                    property="username"
                    label="姓名"
                    width="200"></el-table-column>
            <el-table-column
                    align="center">
                <template slot="header" slot-scope="scope">
                    <el-input
                            v-model="search"
                            size="mini"
                            placeholder="输入 名称 搜索"
                            @keyup.enter="searchList">
                        <el-button slot="append" icon="el-icon-search" @click="searchList"></el-button>
                    </el-input>
                </template>
                <template slot-scope="scope">
                    <div v-if="scope.row.isBind !== -1">
                        <el-button
                                size="mini"
                                type="danger"
                                @click="revokeTel(scope.row.telProId)">解绑</el-button>
                    </div>
                    <div v-else>
                        <el-button
                                size="mini"
                                type="success"
                                @click="grant(scope.row.uid)">绑定</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <div class="block">
            <el-pagination
                    @size-change="finalSizeChange"
                    @current-change="finalCurrentChange"
                    :current-page="finalPage.pageNum"
                    :page-sizes="finalPage.pageSizes"
                    :page-size="finalPage.pageSize"
                    :layout="finalPage.layout"
                    :total="finalPage.total">
            </el-pagination>
        </div>
    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el: '.x-body',
        data: {
            tableData:[],
            finalList:[],
            search:"",
            tel:"", // 外呼号码
            name:[],//  最终用户名称
            dialogTableVisible:false,
            paramsData:{
                pageNum:1,
                pageSize:10,
            },
            finalData:{
                pageNum:1,
                pageSize:10,
            },
            telId: null,
            pageParams:{
                pageSizes:[10, 20, 30, 40],
                pageSize:10,
                pageNum:1,
                total:1000,
                layout:"total, sizes, prev, pager, next, jumper",
            },
            finalPage:{
                pageSizes:[10, 20, 30, 40],
                pageSize:10,
                pageNum:1,
                total:1000,
                layout:"total, sizes, prev, pager, next, jumper",
            }
        },
        created: function () {
            // this.me();
            this.getList();
        },
        mounted:function(){

        },
        watch:{
            name(){
                this.name = this.name.length === 0 ? '暂无绑定' : this.name;
            }
        },
        methods: {
            finalCusList(id){
                let that = this;
                let finalData = that.finalData;
                this.dialogTableVisible = true;
                finalData['username'] = that.search;
                finalData['tel'] = id;
                that.tel = id;
                AJAX.GET_SYNC("/survey/telProtection/finalList",finalData,function (res) {
                    that.finalList= res.data.list;
                    that.finalPage.total = res.data.total;
                })
            },
            grant(id) {
                let that = this;
                let obj = {
                    tel:that.tel,
                    finalCusId:id
                }
                // data = JSON.stringify(obj)
                AJAX.POST_JSON("/survey/telProtection/grantFinal",obj,function (res) {
                    if(res.code === 200){
                        that.$message({
                            message: res.msg,
                            type: 'success',
                            center: true
                        });
                        that.tableData = res.data;
                    }else{
                        that.$message({
                            message: res.msg,
                            type: 'error',
                            center: true
                        });
                    }
                })
                that.finalCusList(that.tel);
            },
            revokeTel(id){
                let that = this;
                let data = {
                    id:id
                }
                AJAX.DELETE("/survey/telProtection/revokeTel",data,function(res){
                    if(res.code === 200){
                        that.$message({
                            message: res.msg,
                            type: 'success',
                            center: true
                        });
                    }else{
                        that.$message({
                            message: res.msg,
                            type: 'error',
                            center: true
                        });
                    }
                })
                that.finalCusList(that.tel);
            },
            getName(row){
                let that = this;
                console.log("row",row);
                AJAX.GET_SYNC("/survey/telProtection/getName/"+row.tel,null,function (res) {
                    if(res.code === 200){
                        that.name = res.data;
                    }else{
                        that.$message({
                            message: res.msg,
                            type: 'error',
                            center: true
                        });
                    }
                })
            },
            //getList
            handleSizeChange(val){
                // console.log(`每页 ${val} 条`);
                this.paramsData.pageSize = val;
                this.getList();
            },
            //finalList
            finalSizeChange(val){
                this.finalData.pageNum = val;
                this.finalCusList();
            },
            //getList
            handleCurrentChange(val){
                // console.log(`当前页: ${val}`);
                this.paramsData.pageNum = val;
                this.getList();
            },
            //finalList
            finalCurrentChange(val){
                this.finalData.pageNum = val;
                this.finalCusList();
            },
            resetPage(){
                this.pageParams={
                    pageSizes:[10, 20, 30, 40],
                    pageSize:20,
                    pagerCount:6,
                    pageNum:1,
                    total:1000,
                    layout:"total, sizes, prev, pager, next, jumper",
                }
            },
            searchList(){
                this.resetPage();
                this.getList();
            },
            getList(){
                let that = this;
                let paramsData = this.paramsData;
                AJAX.GET_SYNC("/survey/telProtection/numberManage",paramsData,function(res){
                    if(res.code === 200){
                        for (let i = 0; i < res.data.list.length; i++) {
                            let d ={
                                tel: res.data.list[i]
                            }
                            that.tableData.push(d)
                        }
                        that.pageParams.total = res.data.total;
                    }else{
                        that.$message({
                            message: res.msg,
                            type: 'error',
                            center: true
                        });
                    }
                })
                that.tableData = [];
            }
        }
    });
</script>
</html>
