<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/ajax-util.js"></script>
</head>
<body>
<div class="x-body">
    <blockquote class="layui-elem-quote">本模块仅限个人实名认证，不包含企业与合作商</blockquote>
    <fieldset class="layui-elem-field">
        <legend>认证信息</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <thead>
                <tr>
                    <th colspan="2" scope="col">个人信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th width="30%">姓名</th>
                    <td><span id="lbServerName">{{userInfo.username}}</span></td>
                </tr>
                <tr>
                    <td>身份证号码</td>
                    <td>{{userInfo.idNum}}</td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>{{userInfo.gender}}</td>
                </tr>
                <tr>
                    <td>手机号</td>
                    <td>{{userInfo.mobile}}</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>{{userInfo.email}}</td>
                </tr>
                <tr>
                    <td>所属公司</td>
                    <td>{{userInfo.company}}</td>
                </tr>
                <tr>
                    <td>所在位置 </td>
                    <td>{{userInfo.address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
</body>

<script>
    new Vue({
        el: '.x-body',
        data: {
            userInfo: {}
        },
        created: function () {
            this.me();
        },
        methods: {
            me() {
                let that = this;
                parent.AJAX.GET("/system/sysUser/myself", {}, function (resp) {
                    that.userInfo = resp.data;
                })
            }
        }
    });

</script>
</html>
