<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="/survey/css/plugins/daterangepicker/daterangepicker.css"/>
</head>

<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>提现申请</h5>
            <div class="ibox-tools">
                <div class="ibox-tools">
                    <a :href="applicationContextRootPath + 'pages/document/add.html'"
                       data-pjax class="btn btn-primary btn-xs" v-if="resultDev">开发中</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control m-b" name="type"
                            v-model="pageInfo.status">
                        <option value=''>所有状态</option>
                        <option value='NORMAL'>正常</option>
                        <option value='APPLY'>发起申请</option>
                        <option value='SUCESS'>申请成功</option>
                        <option value='FAILD'>申请失败</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <input type="text" placeholder="请输入申请人" class="input-sm form-control search-input"
                           v-model="pageInfo.uname">
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" id="datePickerSelect" placeholder="请选择时间"
                               class="input-sm form-control search-input"> <span
                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" v-on:click="pagequery()"> 搜索</button> </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>申请人</th>
                        <th>提现金额</th>
                        <th>申请时间</th>
                        <th>状态</th>
                        <th>详情</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                        <td>{{item.uname}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.createdAt | formatDate}}</td>
                        <td>
                            <span v-if="item.status && item.status.code === 0" class="badge badge-info">{{item.status ? item.status.name : '未知'}}</span>
                            <span v-if="item.status && item.status.code === 1" class="badge badge-primary">{{item.status ? item.status.name : '未知'}}</span>
                            <span v-if="item.status && item.status.code === 2" class="badge badge-success">{{item.status ? item.status.name : '未知'}}</span>
                            <span v-if="item.status && item.status.code === 3" class="badge badge-danger">{{item.status ? item.status.name : '未知'}}</span>
                        </td>
                        <td><a class="btn btn-circle btn-warning" @click="showCashWorks(item)" v-if="resultDev">查看</a></td>
                        <td>
                            <button type="button" v-on:click="pass(item)" class="btn btn-success btn-xs" v-if="item.status && item.status.code === 0
                            && resultDev ">
                                通过
                            </button>
                            <button type="button" v-on:click="reject(item)" class="btn btn-danger btn-xs" v-if="item.status && item.status.code === 0
                             && resultDev">
                                驳回
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>
            <div class="modal fade " id="cashDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content " style="width: 800px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">提现详情</h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>日期</th>
                                        <th>问卷名称</th>
                                        <th>接触量</th>
                                        <th>成功量</th>
                                        <th>成功率</th>
                                        <th>薪资</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in itemsWork">
                                        <td><span>{{item.uname}}</span></td>
                                        <td><span>{{item.workDate | formatOnlyDate}}</span></td>
                                        <td><span>{{item.pname}}</span></td>
                                        <td><span>{{item.tryNum}}</span></td>
                                        <td><span>{{item.successNum}}</span></td>
                                        <td><span>{{Number.parseFloat(item.successRate).toFixed(2) + "%"}}</span></td>
                                        <td><span>{{item.salary}}</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <pageination :total="pageInfoWork.total" :size="pageInfoWork.size" :page="pageInfoWork.pageNum"
                                         :changge="pageFnWork"></pageination>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                status: '',
                uname:'',
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            pageInfoWork: {
                zsWorkId:[0],
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            master: [],//接受权限数组
            result: false,//表示超级管理员权限
            resultDev: false,//表示操作人员权限
            items: [{}],
            itemsWork: [{}]
        },
        created: function () {
            this.loginMaster();
            this.loadTimeRange();
        },
        methods: {
            loadTimeRange() {
                let that = this;
                AJAX.GET('zsCashApply/selectTimeRange', {}, function (resp) {
                    if (resp.data) {
                        that.pageInfo.daterange = resp.data;
                    }
                })
            },
            loginMaster(){
                var that = this;
                this.master = sessionStorage.getItem('master');
                var masterJ = JSON.parse(this.master);
                masterJ.forEach(e => {
                    var authority = e.authority;
                    if(authority ==='ROLE_ADMIN'){
                        that.result = true;
                        that.resultDev = true;
                    }
                    if(authority ==='ROLE_DEVOPS'){
                        that.resultDev = true;
                    }

                })
            },
            projectDetails: function (item) {
                sessionStorage.setItem('editParams', item.projectId);
                toPage("pages/project/details.html");
            },
            pagequery: function () {
                let that = this;
                if (document.getElementById("datePickerSelect").value != null && document.getElementById("datePickerSelect").value != "") {
                    this.pageInfo.daterange = document.getElementById("datePickerSelect").value;
                }
                if (this.pageInfo.daterange != null && this.pageInfo.daterange != "") {
                    that.pageInfo.startDate = that.pageInfo.daterange.substring(0, 19);
                    that.pageInfo.endDate = that.pageInfo.daterange.substring(22, 41);
                }
                AJAX.GET('zsCashApply', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
            pagequeryWork: function (item) {
                    if(item != null)this.pageInfoWork.zsWorkId = item.zsWorkId;
                    if(this.pageInfoWork.zsWorkId[0] != 0){
                    var that = this;
                    AJAX.GET('zsWork', this.pageInfoWork, function (resp) {
                        that.itemsWork = resp.data.list;
                        that.pageInfoWork.pageNum = resp.data.pageNum;
                        that.pageInfoWork.total = resp.data.total;
                    })}
            },
            pageFnWork: function (val) {
                this.pageInfoWork.pageNum = val;
                this.pagequeryWork();
            },
            showCashWorks: function(item){
                $("#cashDetails").modal('show');
                this.pagequeryWork(item);
            },
            signUp(item) {
                console.log(item);
            },
            pass(item) {
                let that = this;
                confirm("您确定要通过" + item.uname + item.amount + '元的提现申请吗？', "", function (d) {
                    if (d) {
                        AJAX.GET("zsCashApply/pass/" + item.id, {}, function (resp) {
                            that.pagequery();
                            toastr.success(resp.msg);
                        })
                    }
                })
            },
            reject(item) {
                let that = this;
                confirm("您确定要驳回" + item.uname + item.amount + '元的提现申请吗？', "", function (d) {
                    AJAX.GET("zsCashApply/reject/" + item.id, {}, function (resp) {
                        that.pagequery();
                        toastr.success(resp.msg);
                    })
                })
            },
            viewFile(item) {

                AJAX.GET('document/view/' + item['id'], {}, function (resp) {
                    window.open(resp['data']);
                });

            }
        }
    });
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        updateConfig();

        function updateConfig() {
            jQuery('#datePickerSelect').daterangepicker({
                "startDate": vue.$data.pageInfo.daterange.substring(0,19),
                "endDate": vue.$data.pageInfo.daterange.substring(22,41),
                "timePickerSeconds": true,
                "timePicker": true,
                "opens": "center",
                "buttonClasses": 'btn btn-sm',
                "applyClass": 'btn-success',
                "cancelClass": 'btn-default',
                "timePicker24Hour": true,
                "linkedCalendars": false,
                "autoUpdateInput": true,
                locale: { //汉化
                    format: "YYYY/MM/DD HH:mm:ss",
                    applyLabel: '确定', //确定按钮文本
                    cancelLabel: '取消', //取消按钮文本
                    customRangeLabel: '自定义范围',
                    daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                        '七月', '八月', '九月', '十月', '十一月', '十二月'],
                },
            }, function (start, end, label) {
                jQuery("datePickerSelect").val(start.format('YYYY-MM-DD:HH:mm:ss') + "-" + end.format('YYYY-MM-DD:HH:mm:ss'));
                console.log("New date range selected: " + start.format('YYYY-MM-DD:HH:mm:ss') + ' to ' + end.format('YYYY-MM-DD:HH:mm:ss') + ' (predefined range: ' + label + ")");
            });
        }
    });
</script>