<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="col-sm-3">
                <select class="form-control m-b" v-model="dataIdp" @change="loadS">
                    <option v-for="pro in p" :value="pro.baseAreaid">{{pro.name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control m-b" v-model="dataIds" @change="loadX">
                    <option v-for="pro in s" :value="pro.baseAreaid">{{pro.name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control m-b" v-model="dataIdx" @change="selectX">
                    <option v-for="pro in x" :value="pro.baseAreaid">{{pro.name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <form class="form-horizontal m-t" id="signupForm" action="survey/upload" method=post
                      enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control" id="fileSelector"
                           multiple="multiplt" v-on:change="toSubmit" style="display: none;">
                    <a class="btn btn-success" v-on:click="selectFile">选择文件</a>
                </form>
                <button class="btn btn-danger" @click="deleteArea()">清空</button>
            </div>
        </div>

        <div class="table-responsive" style="width: 100%;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>地址信息</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in items">
                    <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                    <td>{{item.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                     :changge="pageFn"></pageination>

    </div>
</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            dataIdp: null,
            dataIds: null,
            dataIdx: null,
            p: [],
            s: [],
            x: [],
            items: [],
            pageInfo: {
                areaId: null,
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },

        },
        created: function () {
            this.loadP();
        },
        methods: {
            deleteArea() {
                let that = this;
                let areaId = this.getAreaId();
                if (!areaId) {
                    return toastr.error('请选择对应的地区', '错误');
                }
                confirm("您确定要清空这些数据吗?", "", function (isConfirm) {
                    if (isConfirm) {
                        AJAX.DELETE("areaAddress", {id: areaId}, function (resp) {
                            toastr.success(resp.msg, '成功');
                            that.pagequery()
                        })
                    }
                }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});
            },
            selectFile() {
                $("#fileSelector").click();
            },
            getAreaId() {
                let areaId = null;
                if (this.dataIdp) {
                    areaId = this.dataIdp;
                }
                if (this.dataIds) {
                    areaId = this.dataIds;
                }
                if (this.dataIdx) {
                    areaId = this.dataIdx;
                }
                console.log(areaId)
                return areaId;
            },
            toSubmit(v) {
                let areaId = this.getAreaId();
                let that = this;
                let formData = new FormData($('#signupForm')[0]);
                if (!areaId) {
                    return toastr.error('请选择对应的地区', '错误')
                }
                formData.append("areaId", areaId);
                let url = "/survey/areaAddress/upload";
                if (sessionStorage.getItem("access_token")) {
                    url = url + '?access_token=' + sessionStorage.getItem("access_token");
                }
                $.ajax({
                    type: 'post',
                    url: url,
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                }).success(function (resp) {
                    alert(resp.msg);
                    that.pagequery();
                }).error(function () {
                    alert("上传失败");
                });

            },
            pagequery: function () {
                let that = this;
                this.pageInfo.areaId = this.getAreaId();
                AJAX.GET('areaAddress', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
            selectX(e) {
                let v = event.target.value;
                this.pagequery();
            },
            // 省市县
            loadP() {
                let that = this;
                this.p = [];
                this.s = [];
                this.x = [];
                AJAX.GET("baseArea/0", {}, function (resp) {
                    that.p = resp.data;
                })

            },
            loadS(event) {
                this.dataIds = undefined;
                this.dataIdx = undefined;
                let that = this;
                this.s = [];
                this.x = [];
                AJAX.GET("baseArea/" + event.target.value, {}, function (resp) {
                    that.s = resp.data;
                });
                this.pagequery();
            },
            loadX(event) {
                this.dataIdx = undefined;
                let that = this;
                this.x = [];
                AJAX.GET("baseArea/" + event.target.value, {}, function (resp) {
                    that.x = resp.data;
                });
                this.pagequery();
            },

        }
    });
</script>
