<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">菜单名称：</label>
                    <div class="col-sm-8">
                        <input name="name" class="form-control" type="text" v-model="menu.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">菜单地址：</label>
                    <div class="col-sm-8">
                        <input name="url" class="form-control" type="text" v-model="menu.url">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">菜单类型：</label>
                    <div class="col-sm-8">
                        <select class="form-control" v-model="menu.type">
                            <option value="0">一级菜单</option>
                            <option value="1">二级菜单</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" v-if="menu.type === '1'">
                    <label class="col-sm-3 control-label">上级菜单：</label>
                    <div class="col-sm-8">
                        <select name="parentId" class="form-control" v-model="menu.parentId">
                            <option :value="item.menuId" v-for="item in tops">{{item.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button type="button" class="btn btn-secondary" v-on:click="cancel()">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="save()">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            menu: {
                name: '',
                url: '',
                type: 0,
                parentId: null
            },
            tops: []
        },
        created: function () {
            this.loadParrent();
            this.loadEntity();
        },
        methods: {
            loadEntity() {
                var that = this;
                AJAX.GET('/system/sysMenu/' + sessionStorage.getItem('editParams'), {}, function (resp) {
                    that.menu = resp.data;
                });
            },
            loadParrent() {
                var that = this;
                AJAX.GET('/system/sysMenu/tops', {}, function (resp) {
                    that.tops = resp.data;
                });
            },
            cancel: function () {
                this.backToMain();
            },
            save: function () {
                if(!$("#signupForm").valid()){
                    return false;
                }
                var that = this;
                AJAX.PUT('/system/sysMenu', JSON.stringify(this.menu), function (resp) {
                    toastr.success(resp.msg);
                    that.backToMain();
                });
            },
            backToMain: function () {
                $.pjax({
                    url: mvm.applicationContextRootPath + 'pages/menu/index.html',
                    container: '.page-container'
                });
            }
        }
    });

    $().ready(function () {
        var icon = "<i class='fa fa-times-circle'></i> ";
        console.log(123)
        $("#signupForm").validate({
            rules: {
                name: {
                    required: true
                },
                url: 'required',
                type: 'required',
                parentId: 'required'
            },
            messages: {
                name: {
                    required: icon + "请输入菜单名称"
                },
                url: icon + "请输入菜单地址",
                type: icon + "请选择菜单类型",
                parentId: icon + "请选择上级菜单名称"
            }
        });
    });
</script>