<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>菜单管理</h5>
            <div class="ibox-tools">
                <div class="ibox-tools">
                    <a :href="applicationContextRootPath + 'pages/menu/add.html'"
                       data-pjax class="btn btn-primary btn-xs">创建菜单</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="请输入关键词" class="input-sm form-control search-input"
                               v-model="pageInfo.dname"> <span
                            class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" v-on:click="pagequery()"> 搜索</button> </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>菜单名称</th>
                            <th>地址</th>
                            <th>类型</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in items">
                            <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.url}}</td>
                            <td>{{item.type == 0 ? '一级菜单': '二级菜单'}}</td>
                            <td>
                                <button type="button" v-on:click="edit(item)" class="btn btn-success btn-xs">
                                    编辑
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>

        </div>
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                name: '',
                state: 'COLLECTING',
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            items: [{}]
        },
        created: function () {
        },
        methods: {
            pagequery: function () {
                var that = this;
                AJAX.GET('/system/sysMenu', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
            signUp(item) {
                console.log(item);
            },
            edit(item) {
                toPage('pages/menu/edit.html', item.id);
            },
            viewFile(item) {

                AJAX.GET('document/view/' + item['id'], {}, function (resp) {
                    window.open(resp['data']);
                });

            }
        }
    });
</script>
