<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>综合培训</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            sssss<span class="line">5,3,9,6,5,9,7,3,5,2</span>
        </div>
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/'
        },
        created: function () {
        },
        methods: {
        }
    });
</script>
