<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">考试名称：</label>
                    <div class="col-sm-8">
                        <input id="name" name="name" class="form-control" type="text" v-model="args.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">考试内容：</label>
                    <div class="col-sm-8">
                        <textarea id="code" name="desc" class="form-control" type="text" aria-required="true" aria-invalid="false" class="valid" v-model="args.desc"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button type="button" class="btn btn-secondary" v-on:click="cancel()">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="save()">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            args: {
                name: '',
                desc: ''
            }
        },
        created: function () {
            this.loadEntity();
        },
        methods: {
            loadEntity() {
                var that = this;
                AJAX.GET('zsExam/' + sessionStorage.getItem('editParams'), {}, function (resp) {
                    that.args = {
                        id: resp.data.id,
                        name: resp.data.name,
                        desc: resp.data.desc
                    };
                });
            },
            cancel: function () {
                this.backToMain();
            },
            save: function () {
                if(!$("#signupForm").valid()){
                    return false;
                }
                var that = this;
                AJAX.PUT('zsExam', JSON.stringify(this.args), function (resp) {
                    toastr.success(resp.msg);
                    that.backToMain();
                });
            },
            backToMain: function () {
                $.pjax({
                    url: mvm.applicationContextRootPath + 'pages/exam/index.html',
                    container: '.page-container'
                });
            }
        }
    });

    $().ready(function () {
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                name: "required",
                desc: "required"
            },
            messages: {
                name: icon + "请输入你的姓",
                desc: icon + "请输入您的名字"
            }
        });

        // propose username by combining first- and lastname
        $("#username").focus(function () {
            var firstname = $("#firstname").val();
            var lastname = $("#lastname").val();
            if (firstname && lastname && !this.value) {
                this.value = firstname + "." + lastname;
            }
        });
    });
</script>