<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约上岗</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="/viewer/wx/css/weui.min.css">
    <link rel="stylesheet" href="/viewer/wx/css/weui.css">
    <link rel="stylesheet" href="/viewer/wx/css/jquery-weui.css">
    <link rel="stylesheet" href="/viewer/wx/css/demos.css">
    <script src="/viewer/wx/js/jquery-2.1.4.js"></script>
    <script src="/viewer/wx/js/jweixin-1.6.0.js"></script>

    <script src="/viewer/wx/js/vue.js"></script>
</head>
<body ontouchstart>
<div class="container" id="container">
    <div class="weui_msg" v-if="!userinfo">
        <div class="weui_icon_area">
            <i class="weui_icon_success weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">无权限操作</h2>
            <p class="weui_msg_desc">请您完善个人信息后再次尝试</p>
        </div>
        <div class="weui_extra_area">
        </div>
    </div>
    <div class="weui-panel" style="padding-top: 10%;" v-if="userinfo">
        <div class="weui-panel__hd" style="font-size: 25px;">近期定点调查</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text" v-for="item in works" v-on:click="itemClickHandler(item)">
                <h4 class="weui-media-box__title">{{item.cname}}</h4>
                <p class="weui-media-box__desc">
                <p v-if="item.survey" style="font-size: 14px;">{{item.survey.name}}</p>
                <ul class="weui-media-box__info">
                    <li class="weui-media-box__info__meta">班次时间</li>
                    <li class="weui-media-box__info__meta">{{item.startDate}}</li>
                    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{item.startTime}} -
                        {{item.endTime}}
                    </li>
                </ul>
                <ul class="weui-media-box__info">
                    <li class="weui-media-box__info__meta"><i class="weui-icon-arrow"></i> {{item.address}}</li>
                </ul>
            </div>
            <div class="weui-form__extra-area" style="bottom: 0px; text-align: center; width: 100%;">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:" class="weui-footer__link">赛炜调查提供技术支持</a>
                    </p>
                    <p class="weui-footer__text">Copyright © 2008-2019 diaocha.cn</p>
                </div>
            </div>
        </div>

    </div>

    <div class="weui-dialog" id="eee" style="display: none">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">{{currentWork.cname}}</strong></div>
        <div class="bd">
            <div class="weui_cells_title">{{currentWork.survey ? currentWork.survey.name : ""}}</div>
            <div class="weui_cells">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary" style="display: inline-block; -webkit-flex: unset; width: 30%;">
                        <p>日期</p>
                    </div>
                    <div class="weui_cell_ft" style="display: inline-block; -webkit-flex: unset; width: 70%; text-align: center;">{{currentWork.startDate}}</div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary" style="display: inline-block; -webkit-flex: unset; width: 30%;">
                        <p>时间</p>
                    </div>
                    <div class="weui_cell_ft" style="display: inline-block; -webkit-flex: unset; width: 70%; text-align: center;">{{currentWork.startTime}} -
                        {{currentWork.endTime}}</div>
                </div>
            </div>
        </div>

        <div class="weui-dialog__ft">
            <a href="javascript:;" v-on:click="confirmApply()" class="weui-dialog__btn ">确认申请</a>
            <a href="javascript:;" v-on:click="cancelApply()" class="weui-dialog__btn default">我再看看</a>
        </div>
    </div>
</div>
<script src="/viewer/wx/js/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/viewer/wx/js/jquery-weui.js"></script>
<script src="/viewer/wx/js/ajax-util.js"></script>
</body>

<script type="application/javascript">
    new Vue({
        el: '#container',
        data: {
            userinfo: {
                id: '',
                openid: '',
                username: '',
                idNum: '',
                school: '',
                phone: '',
                sex: '0',
                email: '',
                validCode: ''
            },
            currentWork: {},
            works: []
        },
        created: function () {
            this.initUserInfo();
        },
        methods: {
            confirmApply() {
                // TODO
            },
            cancelApply() {
                $('.weui-mask').hide();
                $('.weui-dialog').hide();
            },
            itemClickHandler(item) {
                this.currentWork = item;
                $.openModal($("#eee"))
            },
            initWorkList() {
                let that = this;
                $.ajax({
                        url: '/survey/zsWorkShift/all',
                        type: 'GET',
                        async: false,
                        success: function (resp) {
                            if (resp.code == 200 && resp.data) {
                                that.works = resp.data;
                            }
                        },
                        error: function (err) {
                            that.userinfo = null;
                            $.toast(err.msg, "cancel", function (toast) {
                            });

                        }
                    }
                )
            },
            initUserInfo() {
                let that = this;
                if (this.getQueryString("code") || true) {
                    $.ajax({
                        url: '/viewer/getUserInfo?code=' + this.getQueryString("code"),
                        type: 'GET',
                        async: false,
                        success: function (resp) {
                            if (resp.code == 200 && resp.data) {
                                let user = resp.data;
                                that.userinfo.id = user.id;
                                that.userinfo.openid = user.openid;
                                that.userinfo.username = user.username;
                                that.userinfo.idNum = user.idNum;
                                that.userinfo.school = user.school;
                                that.userinfo.phone = user.phone;
                                that.userinfo.email = user.email;
                                that.userinfo.sex = user.sex;
                                that.initWorkList();
                            } else {
                                that.userinfo = null;
                                // TODO 生产环境删除
                                that.initWorkList();
                            }

                        },
                        error: function (err) {
                            that.userinfo = null;
                        }
                    });
                } else {
                    $.toast("未获取到用户信息", "cancel", function (toast) {
                    });
                }
            },
            getQueryString(name) {
                let reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                let r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            },
        }
    });
</script>
</html>