<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约上岗</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="/viewer/wx/css/weui.min.css">
    <link rel="stylesheet" href="/viewer/wx/css/weui.css">
    <link rel="stylesheet" href="/viewer/wx/css/jquery-weui.css">
    <link rel="stylesheet" href="/viewer/wx/css/demos.css">
    <script src="/viewer/wx/js/jquery-2.1.4.js"></script>
    <script src="/viewer/wx/js/jweixin-1.6.0.js"></script>

    <script src="/viewer/wx/js/vue.js"></script>
</head>
<body ontouchstart>
<div class="container" id="container">
    <div class="weui_msg" v-if="false">
        <div class="weui_icon_area"><i class="weui_icon_cancel weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">无权限操作</h2>
            <p class="weui_msg_desc">请使用微信客户端浏览</p>
        </div>

    </div>
    <div class="weui-panel" style="padding-top: 10%;">
        <div class="weui-panel__hd">近期工作安排</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">标题一</h4>
                <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                <ul class="weui-media-box__info">
                    <li class="weui-media-box__info__meta">文字来源</li>
                    <li class="weui-media-box__info__meta">时间</li>
                    <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">其它信息</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="weui_extra_area">
        <a href="">赛炜调查</a>
    </div>
</div>
<script src="/viewer/wx/js/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/viewer/wx/js/jquery-weui.js"></script>
<script src="/viewer/wx/js/ajax-util.js"></script>
</body>

<script type="application/javascript">
    new Vue({
        el: '#container',
        data: {
            userinfo: {
                id: '',
                openid: '',
                username: '',
                idNum: '',
                school: '',
                phone: '',
                sex: '0',
                email: '',
                validCode: ''
            },
            works: [],
            balance: 0
        },
        created: function () {
            this.initUserInfo();
        },
        methods: {
            initUserInfo() {
                let that = this;
                if (this.getQueryString("code") || true) {
                    $.ajax({
                        url: '/viewer/getUserInfo?code=' + this.getQueryString("code"),
                        type: 'GET',
                        async: false,
                        success: function (resp) {
                            if(resp.code == 200 && resp.data) {
                                let user = resp.data;
                                that.userinfo.id = user.id;
                                that.userinfo.openid = user.openid;
                                that.userinfo.username = user.username;
                                that.userinfo.idNum = user.idNum;
                                that.userinfo.school = user.school;
                                that.userinfo.phone = user.phone;
                                that.userinfo.email = user.email;
                                that.userinfo.sex = user.sex;
                                that.loadWorks();
                            } else {
                                that.userinfo = null;
                                $.toast(resp.msg, "cancel", function (toast) {});
                            }
                        },
                        error: function (err) {
                            that.userinfo = null;
                            $.toast(err.msg, "cancel", function (toast) {});

                        }
                    });
                } else {
                    $.toast("未获取到用户信息", "cancel", function (toast) {});
                }
            },
            getQueryString(name) {
                let reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                let r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            },
        }
    });
</script>
</html>