<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>完善资料</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="/viewer/wx/css/weui.css">
    <link rel="stylesheet" href="/viewer/wx/css/example.css"/>
    <link rel="stylesheet" href="/viewer/wx/css/jquery-weui.css">
    <link rel="stylesheet" href="/viewer/wx/css/demos.css">
    <script src="/viewer/wx/js/jquery-2.1.4.js"></script>
    <script src="/viewer/wx/js/jweixin-1.6.0.js"></script>

    <script src="/viewer/wx/js/jquery.validate.min.js"></script>
    <script src="/viewer/wx/js/jquery.validate.zh.js"></script>
    <script src="/viewer/wx/js/vue.js"></script>
</head>
<body>
<div class="container" id="container">
    <div class="page form_page js_show" id="wrapper">
        <div class="weui-form">
            <div class="weui-form__text-area">
                <h2 class="weui-form__title">用户信息完善</h2>
                <div class="weui-form__desc">请完善你的个人信息，完成后就可以开始你的调查之路</div>
            </div>
            <div class="weui-form__control-area">
                <div class="weui-cells__group weui-cells__group_form">
                    <form id="userinfoForm">
                        <div class="weui-cells__title">基本信息</div>
                        <div class="weui-cells weui-cells_form">
                            <div class="weui-cell">
                                <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="text" placeholder="请输入你的真实姓名"
                                           v-model="userinfo.username" minlength="2" required>
                                </div>
                            </div>
                            <div class="weui-cell weui-cell_select weui-cell_select-after">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">性别</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <select class="weui-select" v-model="userinfo.sex">
                                        <option value="0">女</option>
                                        <option value="1">男</option>
                                    </select>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">邮箱</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" placeholder="请输入你的邮箱" v-model="userinfo.email" v-bind:disabled="isEdit"
                                           type="email" name="email" required/>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd"><label class="weui-label">身份证号</label></div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="text" name="idNum" required v-bind:disabled="isEdit"
                                           pattern="/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/"
                                           placeholder="请输入身份证号" v-model="userinfo.idNum">
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd"><label class="weui-label">学校</label></div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="text" placeholder="请输入你的学校"
                                           v-model="userinfo.school" name="school" required>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">手机号</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="number" placeholder="请输入手机号"
                                           v-model="userinfo.phone" name="phone" required>
                                </div>
                                <div class="weui-cell__ft">
                                    <span class="weui-vcode-btn" :class="submitActive ? '' : 'weui-btn_disabled'" @click="sendValidateCode">获取验证码<span v-if="!submitActive">({{countNum}})</span></span>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="number" placeholder="请输入验证码" name="validCode" v-model="userinfo.validCode"
                                           required>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="weui-form__opr-area">
                <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" v-on:click="submit">确定</a>
            </div>
            <div class="weui-form__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:" class="weui-footer__link">赛炜调查提供技术支持</a>
                    </p>
                    <p class="weui-footer__text">Copyright © 2008-2019 diaocha.cn</p>
                </div>
            </div>
        </div>
        <div class="page__ft j_bottom">
            <!--             准备来一个logo-->
            <!--            <a href="javascript:home()"><img src="https://weui.io/images/icon_footer_link.png"></a>-->
        </div>
    </div>
</div>
<script src="/viewer/wx/js/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/viewer/wx/js/jquery-weui.js"></script>
<script src="/viewer/wx/js/ajax-util.js"></script>
</body>
<script>
    function isCardNo(num) {
        num = num.toUpperCase();
        //身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X。
        if (!(/(^\d{15}$)|(^\d{17}([0-9]|X)$)/.test(num))) {
            return false;
        }
        //校验位按照ISO 7064:1983.MOD 11-2的规定生成，X可以认为是数字10。
        //下面分别分析出生日期和校验位
        var len, re;
        len = num.length;
        if (len == 15) {
            re = new RegExp(/^(\d{6})(\d{2})(\d{2})(\d{2})(\d{3})$/);
            var arrSplit = num.match(re);

            //检查生日日期是否正确
            var dtmBirth = new Date('19' + arrSplit[2] + '/' + arrSplit[3] + '/' + arrSplit[4]);
            var bCorrectDay;
            bCorrectDay = (dtmBirth.getYear() == Number(arrSplit[2])) && ((dtmBirth.getMonth() + 1) == Number(arrSplit[3])) &&
                (
                    dtmBirth.getDate() == Number(arrSplit[4]));
            if (!bCorrectDay) {
                return false;
            } else {
                //将15位身份证转成18位
                //校验位按照ISO 7064:1983.MOD 11-2的规定生成，X可以认为是数字10。
                var arrInt = new Array(7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2);
                var arrCh = new Array('1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2');
                var nTemp = 0,
                    i;
                num = num.substr(0, 6) + '19' + num.substr(6, num.length - 6);
                for (i = 0; i < 17; i++) {
                    nTemp += num.substr(i, 1) * arrInt[i];
                }
                num += arrCh[nTemp % 11];
                return true;
            }
        }
        if (len == 18) {
            re = new RegExp(/^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$/);
            var arrSplit = num.match(re);

            //检查生日日期是否正确
            var dtmBirth = new Date(arrSplit[2] + "/" + arrSplit[3] + "/" + arrSplit[4]);
            var bCorrectDay;
            bCorrectDay = (dtmBirth.getFullYear() == Number(arrSplit[2])) && ((dtmBirth.getMonth() + 1) == Number(arrSplit[3])) &&
                (dtmBirth.getDate() == Number(arrSplit[4]));
            if (!bCorrectDay) {
                return false;
            } else {
                //检验18位身份证的校验码是否正确。
                //校验位按照ISO 7064:1983.MOD 11-2的规定生成，X可以认为是数字10。
                var valnum;
                var arrInt = new Array(7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2);
                var arrCh = new Array('1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2');
                var nTemp = 0,
                    i;
                for (i = 0; i < 17; i++) {
                    nTemp += num.substr(i, 1) * arrInt[i];
                }
                valnum = arrCh[nTemp % 11];
                if (valnum != num.substr(17, 1)) {
                    return false;
                }
                return true;
            }
        }
        return false;
    }
</script>

<script type="application/javascript">
    $(function () {
    })
    new Vue(
        {
            el: '#wrapper',
            data: {
                userinfo: {
                    id: '',
                    openid: '',
                    username: '',
                    idNum: '',
                    school: '',
                    phone: '',
                    sex: '0',
                    email: '',
                    validCode: ''
                },
                submitActive: true,
                countNum: 60,
                counter: null,
                isEdit: false
            },
            created: function () {
                this.initUserInfo();
            },
            methods: {
                clearCount() {
                    window.clearInterval(this.counter);
                },
                sendValidateCode() {
                    if(!this.submitActive) {
                        return;
                    }
                    let that = this;
                    if (this.userinfo.phone) {
                        this.counter = window.setInterval(function () {
                            that.countNum--;
                            if(that.countNum === 0) {
                                that.countNum = 60;
                                that.clearCount();
                                that.submitActive = true;
                            }
                        },1000);
                        this.submitActive = false;
                        $.ajax({
                            url: '/viewer/valid/send?phone=' + this.userinfo.phone,
                            type: 'get',
                            success: function (resp) {
                                if (resp.code === 200) {
                                    $.toast(resp.msg, function () {
                                    });
                                } else {
                                    $.toast(resp.msg, "cancel", function () {
                                    });
                                }
                            }
                        });
                    } else {
                        $.toast("请输入正确的手机号", "cancel", function (toast) {});
                    }
                },
                submit() {
                    let that = this;
                    if(!isCardNo(this.userinfo.idNum)) {
                        return $.toast("身份证号码不正确", function () {
                        });
                    }
                    if($("#userinfoForm").valid()){
                        if(this.userinfo.id) {
                            AJAX.PUT("wxUser", this.userinfo, function (resp) {
                                $.toast(resp.msg, function () {
                                })
                            });
                        }else{
                            AJAX.POST_JSON("wxUser", this.userinfo, function (resp) {
                                that.userinfo = resp.data;
                                $.toast(resp.msg, function () {
                                })
                            });
                        }
                    }
                },
                getQueryString(name) {
                    let reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                    let r = window.location.search.substr(1).match(reg);
                    if (r != null) {
                        return unescape(r[2]);
                    }
                    return null;
                },
                initUserInfo() {
                    let that = this;
                    if (this.getQueryString("code") || true) {
                        $.ajax({
                            url: '/viewer/getUserInfo?code=' + this.getQueryString("code"),
                            type: 'GET',
                            async: false,
                            success: function (resp) {
                                if(resp.data) {
                                    let user = resp.data;
                                    that.userinfo.id = user.id;
                                    that.userinfo.openid = user.openid;
                                    that.userinfo.username = user.username;
                                    that.userinfo.idNum = user.idNum;
                                    that.userinfo.school = user.school;
                                    that.userinfo.phone = user.phone;
                                    that.userinfo.email = user.email;
                                    that.userinfo.sex = user.sex;
                                    if(that.userinfo.id) {
                                        that.isEdit = true;
                                    }
                                }
                            },
                            error: function (err) {
                            }
                        });
                    } else {
                        $.toast("未获取到用户信息", "cancel", function (toast) {});
                    }
                }
            }
        }
    );
    // window.onload = function () {
    // if (getQueryString("code")) {
    //     alert(getQueryString("code"));


    // wx.request({
    //     url: 'https://diaocha.svdata.cn/viewer/getUserInfo?code=' + getQueryString("code"),
    //     header: {
    //         'content-type': 'application/json' // 默认值
    //     },
    //     success: function (resp) {
    //         alert(resp['openid']);
    //         $("#js_input1").text(resp['openid'])
    //     },
    //     fail: function () {
    //         alert("失败");
    //     },
    //     complete: function () {
    //         alert("完成");
    //     }
    // });
    //     }
    // }

</script>
</html>