<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我要推荐</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <link rel="stylesheet" href="/viewer/wx/css/weui.min.css">
    <link rel="stylesheet" href="/viewer/wx/css/weui.css">
    <link rel="stylesheet" href="/viewer/wx/css/jquery-weui.css">
    <link rel="stylesheet" href="/viewer/wx/css/demos.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script src="/viewer/wx/js/vue.js"></script>

    <script src="/viewer/wx/js/jquery-2.1.4.js"></script>
    <script src="/viewer/wx/js/jweixin-1.6.0.js"></script>

</head>
<body ontouchstart>
<div class="container" id="container" style="height: 100%;">
    <div style="height: 100%;">
        <div style="height: 100%;">
            <div style="height: 60%; background-image: url('/viewer/wx/img/shareBg1.png'); background-size:100% 100%; background-repeat: no-repeat;">

            </div>
            <div style="height: 30%; background-color: #ffffff; border-left: 6px #e1e3e8 solid; border-right: 6px #e1e3e8 solid;">
                <div class="weui-row weui-no-gutter">
                    <div class="weui-col-50">
                        <div style="padding: 20% 10% 30% 30%; font-size: 25px; text-align: center; color: #6091f8;">
                            <div><b>扫码关注</b></div>
                            <div><b>跟我同行</b></div>
                        </div>
                    </div>
                    <div class="weui-col-50">
                        <div class="weui-panel" style="padding-top: 10%;" v-if="ticket">
                            <img v-bind:src="qrCodeSrc()" style="width: 80%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 10%; background-image: url('/viewer/wx/img/shareBg2.png'); background-size: contain;">
            </div>
        </div>

    </div>
</div>
<script src="/viewer/wx/js/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/viewer/wx/js/jquery-weui.js"></script>
<script src="/viewer/wx/js/ajax-util.js"></script>
</body>

<script type="application/javascript">
    new Vue({
        el: '#container',
        data: {
            ticket: null,
            qrCode: "https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=",
            signature: null,
            viewModel: false
        },
        created: function () {
            this.initQRCode();
        },
        methods: {
            qrCodeSrc() {
                return this.qrCode + this.ticket;
            },
            initWxConfig(params) {
                let that = this;
                wx.config({
                    debug: false,
                    appId: params.appId,
                    timestamp: params.timestamp,
                    nonceStr: params.nonceStr,
                    signature: params.signature,
                    jsApiList: ['updateAppMessageShareData', 'updateTimelineShareData']
                });
                wx.ready(function () {
                    let baseUrl = "http://diaocha.natapp1.cc/";
                    // let baseUrl = "https://diaocha.svdata.cn/";
                    // 自定义“分享给朋友”及“分享到QQ”按钮的分享内容（1.4.0）
                    wx.updateAppMessageShareData({
                        title: '提高能力,磨炼意志,锻炼口才,增加收入', // 分享标题
                        desc: '撸起袖子加油干, 打开钱包笑灿烂', // 分享描述
                        link: baseUrl + 'viewer/view/share?ticket=' + that.ticket, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: 'https://mmbiz.qpic.cn/mmbiz_png/DqcTjjLJ88ZkJ3ibMco3TbWNxNRGaYibibHqibLbPOqIkCiawbicrQcwTGbnJqAaFbDc6UV2qfqOic2SHQxCPwtc8yA6A/0?wx_fmt=png', // 分享图标
                        success: function () {
                        }
                    });
                    // 自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容（1.4.0）
                    wx.updateTimelineShareData({
                        title: '提高能力,磨炼意志,锻炼口才,增加收入', // 分享标题
                        link: baseUrl + 'viewer/view/share?ticket=' + that.ticket, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                        imgUrl: 'https://mmbiz.qpic.cn/mmbiz_png/DqcTjjLJ88ZkJ3ibMco3TbWNxNRGaYibibHqibLbPOqIkCiawbicrQcwTGbnJqAaFbDc6UV2qfqOic2SHQxCPwtc8yA6A/0?wx_fmt=png', // 分享图标
                        success: function () {
                        }
                    });
                });

                wx.error(function (res) {
                    alert(res);
                });
            },
            getSignature() {
                let that = this;
                $.ajax({
                    url: '/viewer/signature?currentUrl=' + encodeURIComponent(location.href.split('#')[0]),
                    type: 'GET',
                    async: false,
                    timeout:30000,
                    success: function (resp) {
                        if (resp.code == 200 && resp.data) {
                            that.signature = resp.data
                            that.initWxConfig(resp.data);
                        }
                    },
                    error: function (err) {
                        that.signature = null;
                    }
                });
            },
            initQRCode() {
                if (this.getQueryString("ticket")) {
                    this.ticket = this.getQueryString("ticket");
                    this.viewModel = true;
                }
                let that = this;
                if (this.getQueryString("code") || true) {
                    $.ajax({
                        url: '/viewer/share/getQRCode?code=' + this.getQueryString("code"),
                        type: 'GET',
                        async: false,
                        timeout:30000,
                        success: function (resp) {
                            if (resp.code == 200 && resp.data) {
                                that.ticket = resp.data.ticket;
                                that.getSignature();
                            } else {
                                that.userinfo = null;
                            }

                        },
                        error: function (err) {
                            that.userinfo = null;
                        }
                    });
                } else {
                    $.toast("未获取二维码信息", "cancel", function (toast) {
                    });
                }
            },
            getQueryString(name) {
                let reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                let r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return null;
            },
        }
    });
</script>

<script>

</script>
</html>