<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>工作记录</h5>
            <div class="ibox-tools">
                <div class="ibox-tools">
                    <a v-on:click="importData"
                       data-pjax class="btn btn-primary btn-xs">导入记录</a>
                    <a :href="applicationContextRootPath + 'pages/project/add.html'"
                       data-pjax class="btn btn-success btn-xs">下载模板</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="请输入姓名" class="input-sm form-control search-input"
                               v-model="pageInfo.uname"> <span
                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" v-on:click="pagequery()"> 搜索</button> </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>日期</th>
                        <th>问卷名称</th>
                        <th>接触量</th>
                        <th>成功量</th>
                        <th>成功率</th>
                        <th>薪资</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                        <td><span>{{item.uname}}</span></td>
                        <td><span>{{item.workDate | formatOnlyDate}}</span></td>
                        <td><span>{{item.pname}}</span></td>
                        <td><span>{{item.tryNum}}</span></td>
                        <td><span>{{item.succssNum}}</span></td>
                        <td><span>{{Number.parseFloat(item.successRate).toFixed(2) + "%"}}</span></td>
                        <td><span>{{item.salary}}</span></td>
                        <td>
                            <span v-if="item.gain === 0">未提取</span>
                            <span v-if="item.gain === 1">已提取</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>

        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">报名条件</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="signupForm" action="survey/upload" method=post
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">完成：</label>
                            <div class="col-sm-8">
                                <input type="file" name="file" class="form-control" id="fileSelector"
                                       multiple="multiplt" v-on:change="toSubmit" style="display: none;">
                                <a class="btn btn-success" v-on:click="selectFile">选择文件</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    currentVue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                uname: '',
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            file: null,
            items: [{}],
            selectedItem: {}
        },
        created: function () {
        },
        methods: {
            selectFile() {
                $("#fileSelector").click();
            },
            importData() {
                $("#myModal").modal("show");
            },
            toSubmit(v) {
                let that = this;
                let formData = new FormData($('#signupForm')[0]);
                let url = "/survey/zsWork/upload";
                if (sessionStorage.getItem("access_token")) {
                    url = url + '?access_token=' + sessionStorage.getItem("access_token");
                }
                $.ajax({
                    type: 'post',
                    url: url,
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                }).success(function (resp) {
                    alert(resp.msg);
                    $("#myModal").modal("hide");
                    that.pageQuery();
                }).error(function () {
                    alert("上传失败");
                    $("#myModal").modal("hide");
                });

            },
            pagequery: function () {
                var that = this;
                AJAX.GET('zsWork', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
        }
    });
</script>
