<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="/survey/css/plugins/daterangepicker/daterangepicker.css"/>
</head>
<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>工作记录</h5>
            <div class="ibox-tools">
                <div class="ibox-tools">
                    <a v-on:click="importData"
                       data-pjax class="btn btn-primary btn-xs" v-if="resultDev">导入记录</a>
                    <a :href="applicationContextRootPath + 'pages/project/add.html'"
                       data-pjax class="btn btn-success btn-xs" v-if="resultDev">下载模板</a>
                    <a v-on:click="agreeBatch()"
                       data-pjax class="btn btn-info btn-xs" v-if="resultDev">批量同意</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-control m-b" name="type"
                            v-model="pageInfo.state">
                        <option value='empty'>所有状态</option>
                        <option value='APPLYED'>未审核</option>
                        <option value='SUCCESS'>审核通过</option>
                        <option value='FAILD'>审核驳回</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control m-b" name="type"
                            v-model="pageInfo.gain">
                        <option value= -1>所有状态</option>
                        <option value= 0>未提取</option>
                        <option value=1>已提取</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" placeholder="请输入项目名称" class="input-sm form-control search-input"
                               v-model="pageInfo.pname">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" placeholder="请输入姓名" class="input-sm form-control search-input"
                               v-model="pageInfo.uname">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" id="datePickerSelect" placeholder="请选择时间"
                               class="input-sm form-control search-input"> <span
                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" v-on:click="pagequery()"> 搜索</button> </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><input type="checkbox" @click="selectedAll($event)"> 全选</th>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>日期</th>
                        <th>问卷名称</th>
                        <th>接触量</th>
                        <th>成功量</th>
                        <th>作废量</th>
                        <th>有效量</th>
                        <th>成功率</th>
                        <th>餐补</th>
                        <th>薪资</th>
                        <th>审核</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <td><input type="checkbox" :value="item.id" name="work"></td>
                        <td scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</td>
                        <td><span>{{item.uname}}</span></td>
                        <td><span>{{item.workDate | formatOnlyDate}}</span></td>
                        <td><span>{{item.pname}}</span></td>
                        <td><span>{{item.tryNum}}</span></td>
                        <td><span>{{item.successNum}}</span></td>
                        <td><input style="max-width: 50px;" v-model="item.invalidNum" type="number"
                                   v-on:change="updateInvalidNum(item)"/></td>
                        <td><span>{{item.validNum}}</span></td>
                        <td>
                            <span>{{item.successRate? Number.parseFloat(item.successRate).toFixed(2) + "%" : '未完善'}}</span>
                        </td>
                        <td><input v-model="item.meals" style="max-width: 50px;" type="number"
                                   v-on:change="updateMeals(item)"/></td>
                        <td><span>{{item.salary}}</span></td>
                        <td><span class="label" :class="item.state.code === 1 ? 'label-info' : 'label-danger'">{{item.state ? item.state.name : ''}}</span>
                        </td>
                        <td>
                            <span v-if="item.gain === 0">未提取</span>
                            <span v-if="item.gain === 1">已提取</span>
                        </td>
                        <td>
                            <a class="btn btn-circle btn-warning" @click="addSurveyShow(item)" v-if="resultDev">查看</a>
                            <a class="btn btn-circle btn-danger" @click="deleteItem(item)" v-if="result">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>
            <div class="modal fade " id="addSurvey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" style="width: 1000px">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="">工作详情</h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>工号</th>
                                        <th>姓名</th>
                                        <th>工作日期</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>工作时长</th>
                                        <th>工作地点</th>
                                        <th>接触量</th>
                                        <th>成功量</th>
                                        <th>作废量</th>
                                        <th>成功率</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-if="item">
                                        <td><span>{{item.jobNumber}}</span></td>
                                        <td><span>{{item.uname}}</span></td>
                                        <td><span>{{item.workDate | formatOnlyDate}}</span></td>
                                        <td><span>{{item.startTime | formatOnlyTime }}</span></td>
                                        <td><span>{{item.endTime | formatOnlyTime}}</span></td>
                                        <td><span>{{item.workHours}}</span></td>
                                        <td><span>{{item.place}}</span></td>
                                        <td><span>{{item.tryNum}}</span></td>
                                        <td><span>{{item.successNum}}</span></td>
                                        <td><span>{{item.invalidNum}}</span></td>
                                        <td><span>{{item.successRate? Number.parseFloat(item.successRate * 100).toFixed(2) + "%" : '未完善'}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div>
                                <b>结算信息</b>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>总基准量</th>
                                    <th>人均产量</th>
                                    <th>考核系数</th>
                                    <th>餐补费用</th>
                                    <th>基本工资</th>
                                    <th>提成奖励</th>
                                    <th>作废扣除</th>
                                    <th>工资合计</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{selectedItem.benchmark? selectedItem.benchmark : '无数据'}}</td>
                                    <td>{{selectedItem.avgNum}}</td>
                                    <td>{{selectedItem.examRatio ? selectedItem.examRatio : '无数据'}}</td>
                                    <td>{{item.meals}}</td>
                                    <td>{{selectedItem.baseSalary ? selectedItem.baseSalary : '无数据'}}</td>
                                    <td>{{selectedItem.royalty}}</td>
                                    <td>{{selectedItem.invalidCost ? selectedItem.invalidCost : item.invalidNum * 4.0}}</td>
                                    <td>{{selectedItem.salary ? selectedItem.salary : '无数据'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" v-on:click="pass(item)" class="btn btn-success" v-if="item.state && item.state.code === 0
                            && resultDev " data-dismiss="modal">
                                通过
                            </button>
                            <button type="button" v-on:click="reject(item)" class="btn btn-danger" v-if="item.state && item.state.code === 0
                             && resultDev" data-dismiss="modal">
                                驳回
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">报名条件</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="signupForm" action="survey/upload" method=post
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">完成：</label>
                            <div class="col-sm-8">
                                <input type="file" name="file" class="form-control" id="fileSelector"
                                       multiple="multiplt" v-on:change="toSubmit" style="display: none;">
                                <a class="btn btn-success" v-on:click="selectFile">选择文件</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    currentVue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                state:'empty',
                gain:-1,
                zsWorkId: [0],
                uname: '',
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
                daterange:'',
            },
            file: null,
            items: [],
            item: {},
            selectedItem: {
                benchmark: 0.0,
                avgNum: 0.0
            },
            master: [],//接受权限数组
            result: false,//表示超级管理员权限
            resultDev: false,//表示操作人员权限
        },
        created: function () {
            this.loginMaster();
            this.loadTimeRange();
        },
        methods: {
            loadTimeRange() {
                let that = this;
                AJAX.GET('zsWork/selectTimeRange', {}, function (resp) {
                    if (resp.data) {
                        that.pageInfo.daterange = resp.data;
                    }
                })
            },
            getSelectedRow() {
                let result = [];
                for (let i = 0; i < $('input[name="work"]').length; i++) {
                    if($($('input[name="work"]')[i]).prop("checked")) {
                        result.push($($('input[name="work"]')[i]).val())
                    }
                }
                return result;
            },
            agreeBatch() {
                let that = this;
                if(this.getSelectedRow().length === 0) {
                    return toastr.error('请选择要操作的数据', '错误')
                }
                confirm("您确定要同意"+ this.getSelectedRow().length +"条数据吗?", "", function (isConfirm) {
                    if (isConfirm) {
                        AJAX.POST('zsWork/pass/batch', {idstr: that.getSelectedRow().join(',')}, function (resp) {
                            toastr.success(resp.msg);
                            that.pagequery();
                        })

                        //after click the cancel
                    }
                }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});
            },
            selectedAll(e) {
                console.log(e.target.checked);
                if(e.target.checked){
                    $('input[name="work"]').prop("checked", true);
                }else {
                    $('input[name="work"]').prop("checked", false);
                }
            },
            updateInvalidNum(item) {
                let that = this;
                AJAX.PUT("zsWork", JSON.stringify({id: item.id, invalidNum: item.invalidNum}), function (resp) {
                    toastr.success(resp['msg'], '操作成功');
                    that.pagequery();
                })
            },
            updateMeals(item) {
                let that = this;
                AJAX.PUT("zsWork", JSON.stringify({id: item.id, meals: item.meals}), function (resp) {
                    toastr.success(resp['msg'], '操作成功');
                    that.pagequery();
                })
            },
            updateBenchmark(item, v) {
                let that = this;
                AJAX.PUT("zsWork", JSON.stringify({id: item.id, benchmark: v}), function (resp) {
                    toastr.success(resp['msg'], '操作成功');
                    that.reloadCaculate(item.id);
                })
            },
            updateAvgNum(item, v) {
                let that = this;
                AJAX.PUT("zsWork", JSON.stringify({id: item.id, avgNum: v}), function (resp) {
                    toastr.success(resp['msg'], '操作成功');
                    that.reloadCaculate(item.id);
                })
            },
            reloadCaculate(id) {
                let that = this;
                AJAX.GET("zsWork/precaculate/" + id, {}, function (resp) {
                    that.selectedItem = resp.data;
                });
            },
            pass(item) {
                let that = this;
                AJAX.GET("zsWork/pass/" + item.id, {}, function (resp) {
                    toastr.success(resp['msg'], '操作成功');
                    that.pagequery();
                })
            },
            reject(item) {
                let that = this;
                AJAX.GET("zsWork/reject/" + item.id, {}, function (resp) {
                    toastr.success(resp['msg'], '操作成功');
                    that.pagequery();
                })
            },
            deleteItem(item) {
                let that = this;
                confirm("您确定要删除这条数据吗?", "", function (isConfirm) {
                    if (isConfirm) {
                        console.log(item);
                        AJAX.DELETE('zsWork', {id: item.id}, function (resp) {
                            toastr.success(resp.msg);
                            that.pagequery();
                        })

                    } else {
                        //after click the cancel
                    }
                }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});
            },
            loginMaster() {
                var that = this;
                this.master = sessionStorage.getItem('master');
                var masterJ = JSON.parse(this.master);
                masterJ.forEach(e => {
                    var authority = e.authority;
                    if (authority === 'ROLE_ADMIN') {
                        that.result = true;
                        that.resultDev = true;
                    }
                    if (authority === 'ROLE_DEVOPS') {
                        that.resultDev = true
                    }
                })
            },
            selectFile() {
                $("#fileSelector").click();
            },
            importData() {
                $("#myModal").modal("show");
            },
            toSubmit(v) {
                let that = this;
                let formData = new FormData($('#signupForm')[0]);
                let url = "/survey/zsWork/upload";
                if (sessionStorage.getItem("access_token")) {
                    url = url + '?access_token=' + sessionStorage.getItem("access_token");
                }
                $.ajax({
                    type: 'post',
                    url: url,
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                }).success(function (resp) {
                    alert(resp.msg);
                    $("#myModal").modal("hide");
                    that.pageQuery();
                }).error(function () {
                    alert("上传失败");
                    $("#myModal").modal("hide");
                });

            },
            Timeformat: function () {

            },
            addSurveyShow: function (item) {
                let that = this;
                console.log(123213)
                AJAX.GET("zsWork/precaculate/" + item.id, {}, function (resp) {
                    that.selectedItem = resp.data;
                });
                $("#addSurvey").modal('show');
                this.item = item;
            },
            pagequery: function () {
                var that = this;
                if (document.getElementById("datePickerSelect").value != null && document.getElementById("datePickerSelect").value != "") {
                    this.pageInfo.daterange = document.getElementById("datePickerSelect").value;
                }
                var that = this;
                if (this.pageInfo.daterange != null && this.pageInfo.daterange != "") {
                    that.pageInfo.startDate = that.pageInfo.daterange.substring(0, 10);
                    that.pageInfo.endDate = that.pageInfo.daterange.substring(13, 23);
                }
                if(that.pageInfo.state==="empty"){
                    that.pageInfo.state = null;
                }
                AJAX.GET('zsWork', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
                if(that.pageInfo.state===null){
                    that.pageInfo.state = "empty";
                }
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
        }
    });
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        updateConfig();

        function updateConfig() {
            jQuery('#datePickerSelect').daterangepicker({
                "startDate": currentVue.$data.pageInfo.daterange.substring(0,10),
                "endDate": currentVue.$data.pageInfo.daterange.substring(13,23),
                // "timePickerSeconds": true,
                // "timePicker": true,
                "opens": "center",
                "buttonClasses": 'btn btn-sm',
                "applyClass": 'btn-success',
                "cancelClass": 'btn-default',
                // "timePicker24Hour": true,
                "linkedCalendars": false,
                "autoUpdateInput": true,
                locale: { //汉化
                    format: "YYYY/MM/DD",
                    applyLabel: '确定', //确定按钮文本
                    cancelLabel: '取消', //取消按钮文本
                    customRangeLabel: '自定义范围',
                    daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                        '七月', '八月', '九月', '十月', '十一月', '十二月'],
                },
            }, function (start, end, label) {
                console.log("New date range selected: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ")");
            });
        }
    });
</script>