<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.control.mapper.DRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.control.model.DRecord">
        <id column="id" property="id" />
        <result column="id_number" property="idNumber" />
        <result column="sex" property="sex" />
        <result column="name" property="name" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="nation" property="nation" />
        <result column="address" property="address" />
        <result column="sign_office" property="signOffice" />
        <result column="legal_date" property="legalDate" />
        <result column="result" property="result" />
        <result column="similar_degree" property="similarDegree" />
        <result column="idcard_image" property="idcardImage" />
        <result column="device_number" property="deviceNumber" />
        <result column="auth_time" property="authTime" />
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, id_number, sex, name, avatar, birthday, nation, address, sign_office, legal_date, result, similar_degree, idcard_image, device_number, auth_time, created_at
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        d_record
    </select>
</mapper>
