<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">项目名称：</label>
                    <div class="col-sm-8">
                        <input name="name" class="form-control" type="text" v-model="zs_project.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">项目编码：</label>
                    <div class="col-sm-8">
                        <input name="code" class="form-control" type="text" aria-required="true" aria-invalid="false" class="valid" v-model="zs_project.code">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">项目描述：</label>
                    <div class="col-sm-8">
                        <input name="desc" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error" v-model="zs_project.desc">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">最终客户：</label>
                    <div class="col-sm-8">
                        <select name="finalCusId" id="finalCusId" aria-required="true" aria-invalid="true" v-model="zs_project.finalCusId" @change='getValue'>
                            <option value="">--请选择--</option>
                            <option v-for='item in optionList'>{{ item.username }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button type="button" class="btn btn-secondary" v-on:click="cancel()">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="save()">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            zs_project: {
                name: '',
                code: '',
                desc: '',
                finalCusId: '',
            },
            select: '',
            optionList: []
        },
        created: function () {
            this.getValue();
        },
        methods: {
            getValue: function(){
                let that = this;
                AJAX.GET_SYNC('/system/sysUser/role/'+7, {},function (res) {
                    that.optionList = res.data;
                })

            },
            cancel: function () {
                this.backToMain();
            },
            save: function () {
                console.log($("#signupForm").valid());
                if(!$("#signupForm").valid()){
                    return false;
                }
                var that = this;
                AJAX.POST('zsProject', this.zs_project, function (resp) {
                    toastr.success(resp.msg);
                    that.backToMain();
                });
            },
            backToMain: function () {
                $.pjax({
                    url: mvm.applicationContextRootPath + 'pages/project/index.html',
                    container: '.page-container'
                });
            }
        }
    });

    $().ready(function () {
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                name: "required",
                code: "required",
                desc: "required",
                finalCusId: "required"
            },
            messages: {
                name: icon + "请输入项目名称",
                code: icon + "请输入项目编号",
                desc: icon + "请输入描述信息",
                finalCusId : icon + "请选择最终客户"
            }
        });

        // propose username by combining first- and lastname
        $("#username").focus(function () {
            var firstname = $("#firstname").val();
            var lastname = $("#lastname").val();
            if (firstname && lastname && !this.value) {
                this.value = firstname + "." + lastname;
            }
        });
    });
</script>
