<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>项目管理</h5>
            <div class="ibox-tools">
                <a :href="applicationContextRootPath + 'pages/project/add.html'"
                   data-pjax class="btn btn-primary btn-xs" v-if="result">新建项目</a>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span
                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>项目名称</th>
                        <th>项目编号</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                        <td><span class="click-span" v-on:click="details(item)">{{item.name}}</span></td>
                        <td>{{item.code}}</td>
                        <td>{{item.creator.username}}</td>
                        <td>{{item.createdAt | formatDate}}</td>
                        <td>
                            <button type="button" v-on:click="edit(item)" class="btn btn-primary btn-xs" v-if="result">修改</button>
                            <button type="button" v-on:click="deleteItem(item)" class="btn btn-danger btn-xs" v-if="result">删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>

        </div>
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            items: [{}],
            master: [],//接受权限数组
            admin: ['admin',''],
            DevOps: ['DevOps','admin'],
            interviewer: ['interviewer','DevOps','admin'],
            result: false,//表示超级管理员权限
            resultDev: false,//表示操作人员权限
        },
        created: function () {
            this.pagequery();
            this.master = sessionStorage.getItem('master');

            this.result = this.admin.filter(v => this.master.includes(v));

            this.resultDev = this.DevOps.filter(v => this.master.includes(v));
        },
        methods: {
            pagequery: function () {
                var that = this;
                AJAX.GET('zsProject', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
            edit: function (item) {
                sessionStorage.setItem('editParams', item.id);
                toPage('pages/project/edit.html');
            },
            deleteItem: function (item) {
                var that = this;
                confirm("您确定要删除这条数据吗?", "", function (isConfirm) {
                    if (isConfirm) {
                        AJAX.DELETE('zsProject', item, function (resp) {
                            toastr.success(resp.msg);
                            that.pagequery();
                        })

                    }
                }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});

            },
            details: function (item) {
                sessionStorage.setItem('editParams', item.id);
                toPage('pages/project/details.html')
            }
        }
    });
</script>
