<div class="container dashboard">
    <div class="row models">
        <div class="span3">
            <h4>流程模型</h4>
            <div class="sidebar">
                <ul class="col-nav span3">
                    <li><a href="#bookmarks" data-toggle="collapse" class="accordion-toggle"><span
                            class="label label-inverse pull-right">3 </span>功能菜单</a></li>
                    <li id="bookmarks" class="collapse">
                        <ul>
                            <li><a href="#"> <i class="pull-right icon-plane"></i>开发中...</a><a href="#"> <i
                                    class="pull-right icon-fire"></i>开发中...</a><a href="#"> <i
                                    class="pull-right icon-comment"></i>开发中...</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div style="text-align: right;">
                <button class="btn btn-success" v-on:click="newModel()"> 绘制流程</button>
            </div>
            <h4 class="header">工作流程模型</h4>
            <div id="d3" style="width: 100%; margin-top: -30px"></div>
            <br/>
            <div class="row-fluid">
                <table class="table table-striped sortable">
                    <thead>
                    <tr>
                        <th>模型编号</th>
                        <th>模型名称</th>
                        <th>版本</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in models">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.version}}</td>
                        <td>{{item.createTime | dateformat("yyyy-MM-dd hh:mm:ss") }}</td>
                        <td>
                            <a :href="applicationContextRootPath + '/editor?modelId=' + item.id + '&access_token='+ accessToken " style="cursor: pointer;">编辑</a>
                            <a v-on:click="deleteItem(item.id)" style="cursor: pointer;">删除</a>
                            <a v-on:click="deploymentItem(item.id)" style="cursor: pointer;">发布</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
            el: '.models',
            data: {
                applicationContextRootPath: '/acti',
                models: [],
                deployments: [],
                accessToken: ''
            },
            filters: {
                dateformat: function (val, formate) {
                    var date = new Date(val);
                    return date.format(formate);
                }
            },
            methods: {
                loadModels: function () {
                    AJAX.GET("../models", null
                        , function (result) {
                            vm.models = result['data'];
                        });
                },
                saveCookie: function () {
                    var token = sessionStorage.getItem('access_token');
                    if (token) {
                        $.cookie('access_token', token);
                    }
                },
                deleteItem: function (id) {
                    AJAX.DELETE(this.applicationContextRootPath + '/models/' + id, null, function (resp) {
                        toastr.success(resp['msg'], '操作成功');
                        vm.loadModels();
                    });
                },
                deploymentItem: function (id) {
                    AJAX.POST(this.applicationContextRootPath + '/models/' + id + '/deployment', null, function (resp) {
                        toastr.success(resp['msg'], '操作成功');
                    });
                },
                newModel: function (id) {
                    AJAX.POST(this.applicationContextRootPath + '/models/newModel', null, function (resp) {
                        location.href = resp['data'] + '&access_token=' + sessionStorage.getItem('access_token');
                    });
                }
            },
            created: function () {
                this.accessToken = sessionStorage.getItem('access_token');
                this.saveCookie();
                this.loadModels();

            }
        })
    ;
</script>