<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>坐席号管理</h5>
            <div class="ibox-tools">
                <div class="ibox-tools">
                    <a :href="applicationContextRootPath + 'pages/seat/add.html'"
                       data-pjax class="btn btn-primary btn-xs" v-if="resultDev">新增坐席</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="请输入坐席号" class="input-sm form-control search-input"
                               v-model="pageInfo.seatNum"> <span
                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" v-on:click="pagequery()"> 搜索</button> </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>坐席号</th>
                        <th>坐席密码</th>
                        <th>描述信息</th>
                        <th>用户</th>
                        <th>工号</th>
                        <th>是否在用</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                        <td>{{item.seatNum}}</td>
                        <td>{{item.password}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.user ? item.user.username : ''}}</td>
                        <td>{{item.workNum}}</td>
                        <td>
                            <span class="label-restore label" v-if="item.state && item.state.code === 0">否</span>
                            <span class="label-success label" v-if="item.state && item.state.code === 1">是</span></td>
                        <td>
                            <button type="button" v-on:click="edit(item)" class="btn btn-success btn-xs" v-if="resultDev">
                                编辑
                            </button>
                            <button type="button" v-on:click="deleteItem(item)" class="btn btn-danger btn-xs" v-if="resultDev && item.state && item.state.code === 0">
                                删除
                            </button>
                            <button type="button" v-on:click="callbackItem(item)" class="btn btn-restore btn-xs" v-if="resultDev && item.state && item.state.code === 1">
                                回收
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>

        </div>
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            items: [{}],
            master: [],//接受权限数组
            result: false,//表示超级管理员权限
            resultDev: false,//表示操作人员权限
        },
        created: function () {
            this.loginMaster();
            this.pagequery();
        },
        methods: {
            loginMaster(){
                var that = this;
                this.master = sessionStorage.getItem('master');
                var masterJ = JSON.parse(this.master);
                masterJ.forEach(e => {
                    var authority = e.authority;
                    if(authority ==='ROLE_ADMIN'){
                        that.result = true;
                        that.resultDev = true;
                    }
                    if(authority ==='ROLE_DEVOPS'){
                        that.resultDev = true;
                    }

                })
            },
            pagequery: function () {
                var that = this;
                AJAX.GET('zsSeat', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
            edit: function (item) {
                sessionStorage.setItem('editParams', item.id);
                $.pjax({
                    url: mvm.applicationContextRootPath + 'pages/seat/edit.html',
                    container: '.page-container'
                });
            },
            deleteItem: function(item){
                var that = this;
                confirm("您确定要删除这个坐席吗?", "", function (isConfirm) {
                    if (isConfirm) {
                        AJAX.DELETE('zsSeat', item, function (resp) {
                            toastr.success(resp.msg);
                            that.pagequery();
                        })
                    } else {
                        //after click the cancel
                    }
                }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});
            },
            callbackItem:function(item){
                var that = this;
                confirm("您确定要回收这个坐席吗?", "", function (isConfirm) {
                    if (isConfirm) {
                        AJAX.POST_JSON('/system/sysUser/emptySeat',item, function (resp) {
                        });
                        AJAX.POST('zsSeat/callback/'+item.id, {}, function (resp) {
                            toastr.success(resp.msg);
                            that.pagequery();
                        });
                    } else {
                        //after click the cancel
                    }
                }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});
            }
        }
    });
</script>
