<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.interviewer.mapper.WxUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.interviewer.model.WxUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="openid" property="openid"/>
        <result column="sex" property="sex"/>
        <result column="id_num" property="idNum"/>
        <result column="school" property="school"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="created_at" property="createdAt"/>
        <result column="status" property="status"/>
        <association property="tjUser" column="share_user" select="selectTjUser">
        </association>
    </resultMap>

    <resultMap id="ShareUserResultMap" type="com.camel.interviewer.model.WxUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="openid" property="openid"/>
        <result column="sex" property="sex"/>
        <result column="id_num" property="idNum"/>
        <result column="school" property="school"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="created_at" property="createdAt"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="allWxZcMap" type="com.camel.interviewer.entity.wx.WxZc">
        <id column="id" property="id"></id>
        <result column="address" property="address"></result>
        <result column="nickname" property="nickname"></result>
        <result column="zcname" property="zcname"></result>
        <result column="rixin" property="rixin"></result>
        <result column="scene_id" property="sceneId"></result>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wx_user.id, wx_user.username, wx_user.openid, wx_user.sex, wx_user.id_num, wx_user.school, wx_user.phone, wx_user.email, wx_user.created_at, wx_user.status,
        b.share_user
    </sql>

    <select id="selectTjUser" resultMap="ShareUserResultMap">
        select wx_user.id, wx_user.username, wx_user.openid, wx_user.sex, wx_user.id_num, wx_user.school, wx_user.phone, wx_user.email, wx_user.created_at, wx_user.status
        from wx_user
        where
        wx_user.openid = #{openid}
        order by id DESC limit 1;

    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        wx_user wx_user left join
        (select * from wx_subscibe where status = 1) b
        on wx_user.openid = b.`user` where wx_user.status = 1
        <if test="openid != null and openid != ''">
            and wx_user.openid != #{openid}
        </if>
        <if test="username != null and username != ''">
            and wx_user.username like concat('%', #{username}, '%')
        </if>
        <if test="openIds != null">
            and b.share_user in
            <foreach collection="openIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="allWxZc" resultMap="allWxZcMap">
        select id, nickname, zcname, address, rixin, scene_id from sys_zc
    </select>

    <select id="selectRecommends" resultType="java.util.Map">
        SELECT
            subs.user, subuser.username subname,  shareuser.username share,  shareuser.openid, subs.created_at
        FROM wx_subscibe subs LEFT JOIN wx_user shareuser ON subs.share_user = shareuser.openid
        LEFT JOIN wx_user subuser ON subuser.openid = subs.`user`

        WHERE subs.`status` = 1
        AND shareuser.openid = #{openid}
        ORDER BY subs.created_at DESC
    </select>

    <select id="selectRecommendSalary" resultType="java.util.Map">
        SELECT
            fee.work_name, work.work_hours, fee.salary, `work`.phone
        FROM zs_agency_fee fee LEFT JOIN zs_work WORK ON `work`.id = fee.work_id WHERE fee.id_num = #{idNum}
    </select>


</mapper>
