<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minimal Form Interface</title>
    <meta name="description" content="Minimal Form Interface: Simplistic, single input view form"/>
    <meta name="keywords" content="form, minimal, interface, single input, big form, responsive form, transition"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/survey/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/survey/css/demo.css"/>
    <script src="/survey/js/modernizr.custom.js"></script>
    <script src="/survey/js/jquery.min.js?v=2.1.4"></script>
    <script src="/survey/js/jQuery.fontFlex.js"></script>
    <script src="/survey/js/ajax-util.js"></script>
    <script src="/survey/js/vue.js"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>
    <style type="text/css">
        .star-box {
            display: inline-block;
        }

        .star-box label {
            float: right;
            color: #999;
            margin-bottom: 0px;
        }

        .star-box label::after {
            content: '★';
            font-size: 14px;
            padding: 5px;
            display: inline-block;
            line-height: 1;
        }

        .star-box input:checked ~ label,
        .star-box label:hover ~ label,
        .star-box label:hover {
            color: red;
        }

        input[disabled] + label {
            color: #dedede;
            opacity: 1;
        }
    </style>
</head>
<body>
<div id="container">
    <!-- Top Navigation -->
    <div style="position: fixed; top: 0; font-size: 25px; left:2px;">
        <span style="color: green;">计时：</span>
        <span style="color: green;" id="time">00:00</span>
    </div>
    <header class="codrops-header">
        <h1>智慧调查<span>{{survey.name}}</span></h1>
        <h3><span>{{textFilter(survey.informationTemplate)}}</span></h3>
    </header>
    <section>
        <div class="row question-welcome" v-if="current === 1">
            <div class="text-center">
                <span>
                    {{textFilter(survey.startShow)}}
                </span>
            </div>
        </div>
        <form id="theForm" class="simform" autocomplete="off" style="font-size: 14px;">
            <div class="simform-inner">
                <div class="question" v-for="(item, index) in questions" v-show="current === index + 1"
                     :data-type="item.type">
                    <h4 class=" question-title">{{item.orderNum}}. {{textFilter(item.name)}} <span style="font-size: 12px;"
                          v-if="item.type === 2">{{item.maxSelect ? '最多' + item.maxSelect + '条':''}} {{item.minSelect ? '最少' + item.minSelect + '条':''}}</span>
                    </h4>
                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 1 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<input :disabled="disableOption(opt)" type="radio"
                                                                  :id="'radio_' + item.id + '_' + opt.id"
                                                                  v-on:change="radioChange(opt, $event, item.type)"
                                                                  :dtarget="opt.target" :dignoreNum="opt.ignoreNum"
                                                                  :name="'radio_' + item.id + '_' + item.id"
                                                                  :value="opt.id + '_' +  opt.name"
                                                                  :content="opt.name">
                            <label :for="'radio_' + item.id + '_' + opt.id">
                                <span>{{textFilter(opt.name)}}</span>
                                <input class="form-control" v-if="opt.hasRemark" style="display: inherit; width: auto;"
                                       v-model="opt.name">
                            </label>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 2 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<input type="checkbox"
                                                                  :id="'checkbox_' + item.id + '_' + opt.id"
                                                                  v-on:change="radioChange(opt, $event, item.type)"
                                                                  :dtarget="opt.target" :dignoreNum="opt.ignoreNum"
                                                                  :dexclusivity="opt.exclusivity ? opt.exclusivity.code : 0"
                                                                  :name="'checkbox_' + item.id + '_' + opt.id"
                                                                  :value="opt.id + '_' +  opt.name"
                                                                  :content="opt.name">
                            <label :for="'checkbox_' + item.id + '_' + opt.id">
                                <span :value="opt.id + '_' +  opt.name">{{textFilter(opt.name)}}</span>
                                <input class="form-control" v-if="opt.hasRemark" style="display: inherit; width: auto;"
                                       v-model="opt.name">
                            </label>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 3 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<span>{{textFilter(opt.name)}}</span>
                            <span class="star-box">
                            <input type="radio" value="5"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_5'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_5'"></label>

                            <input type="radio" value="4"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_4'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_4'"></label>

                            <input type="radio" value="3"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_3'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_3'"></label>

                            <input type="radio" value="2"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_2'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_2'"></label>

                            <input type="radio" value="1"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_1'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_1'"></label>
                        </span>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 4 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<span>{{textFilter(opt.name)}}</span>
                            <input type="text" :name="'answer_' + item.id + '_' + opt.id" class="form-control"
                                   style="display: initial; width: auto;">
                        </div>
                    </div>
                    <div class="row text-center">
                        <span class="glyphicon glyphicon-arrow-left" style="font-size: 30px; cursor: pointer;" v-if="current!=1"
                              v-on:click="previousQuestion(item, $event)">上一题</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="nextQuestion" v-if="!showSubmit" class="glyphicon glyphicon-arrow-right" style="font-size: 30px; cursor: pointer;"
                              v-on:click="nextQuestion(item, $event)">下一题</span>
                        <span  v-if="showSubmit" class="submit btn btn-success" v-on:click="submit(item, $event)">{{submitText()}}</span>
                    </div>

                </div>
            </div><!-- /simform-inner -->
        </form><!-- /simform -->
        <div id="end" class="simform" autocomplete="off" style="font-size: 14px; display: none;">
            <div class="simform-inner">
                <div class="question">
                    <h4 class="question-title" style="font-size: 30px;">{{textFilter(survey.endShow)}}</h4>
                </div>
            </div>
        </div>

    </section>
</div>
</body>

<script src="/survey/js/plugins/beautifyhtml/beautifyhtml.js"></script>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#container',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {},
            survey: {
                name: '',
                endShow: '问卷结束，感谢您的配合！',
                informationTemplate:'',
            },
            paramsPair: [],
            questions: [],
            options: [],
            surveyId: null,
            complete: false,
            phone: '',
            current: 1,
            nextIndex: 1,
            index:[], //按顺序存储answersave的问题id
            order:[], //按顺序存储answersave的问题orderNum
            tmpNext: [],
            tmpNextRadio: null,
            showSubmit: false,
            endInfo: '问卷结束，感谢您的配合！',
            unclear:0,
            tmpNextAll: [],
            phoneInformation:{
                mobile:'',
                surveyId:'',
                information: [],
            },
            pageParams:[],
            finalData:[], //存储最终zsAnswerItemSaves
            tag:1,  //问卷提交的时候判断是否提前结束,正常结束为1，提前结束为0
            userParamsIndex: 0,
            label: null, // 标签,不同标签可以重复收集
            validResult: true
        },
        created: function () {
            this.loadParams();
            this.loadSurvey();
            this.initPageParams();
        },
        methods: {
            // 逻辑出提交按钮的文字,入提交,提交并继续
            submitText() {
                if(this.pageParams.length === this.userParamsIndex + 1) {
                    return '提交';
                }
                return '提交并继续';
            },
            //将最新问题答案写入最终zsAnswerItemSaves
            loadFinalData(){
                this.index.push(this.questions[this.current-1].id);
                this.order.push(this.current);
                let array =$('#theForm').serializeArray();
                for(let j=0;j<array.length;j++){
                    if(array[j].name.split("_")[1]===(""+this.questions[this.current-1].id)){
                        this.finalData.push(array[j]);
                    }
                }
            },
            initPageParams() {
                if(!this.survey.informationTemplate) {
                    return false;
                }
                let that=this;
                this.phoneInformation.mobile=this.getParams('phone');
                this.phoneInformation.surveyId=this.survey.id;
                AJAX.GET('zsPhoneInformation/selectByMobileAndSurvey' ,this.phoneInformation , function (resp) {
                    if(resp.data!=null){
                        let infos = resp.data;
                        if(infos) {
                            for (let i = 0; i < infos.length; i++) {
                                that.phoneInformation.information.push(infos[i].information);
                                that.pageParams.push(JSON.parse(infos[i].information));
                            }
                        }
                    }
                    else{
                        alert("被访对象数据为空，请联系管理员");
                    }
                });
            },
            textFilter(text){
                if(text!=null){
                    let that = this;
                    let filterParams = that.pageParams[this.userParamsIndex];
                    if(!filterParams) {
                        return  text;
                    }
                    for(let i=0;i<Object.keys(filterParams).length;i++){
                        let str="{"+Object.keys(filterParams)[i]+"}";
                        if(text.includes(str)){
                            text=text.replace(new RegExp(str,'g'),Object.values(filterParams)[i]);
                        }
                    }
                    if(text.includes("{")&&text.includes("}")){
                        alert("被访对象数据不正确，请联系管理员");
                    }
                }
                return text;
            },
            validSurvey() {
                var that = this;
                var $inputs = $('.simform-inner').find('.question :visible').find('input');
                $inputs.each(function (index, item) {
                    var target = $(item).attr('dtarget');
                    var checked = $(item).is(':checked');
                    var content = $(item).attr('content');
                    // 选中说不清数量到达限额
                    if (checked && content.search("说不清") !=-1) {
                        that.unclear=that.unclear+1;
                        if(that.unclear>=that.survey.unclearCount){
                            if(that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                                $("#theForm").hide();
                                that.survey.endShow = "对不起，打扰您了，感谢您的支持，祝您生活愉快，再见！";
                                $("#end").show();
                            }else {
                                $("#theForm")[0].reset();
                                that.current = 1;
                                that.nextIndex = 1;
                                that.showSubmit = false;
                                that.userParamsIndex++;
                                that.validResult = false;
                            }
                        }


                    }
                    // 选中的项目 target为数字并且小于0
                    if (checked && !isNaN(target) && target < 0) {
                        if(that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                            $("#theForm").hide();
                            that.survey.endShow = "对不起，打扰您了，感谢您的支持，祝您生活愉快，再见！";
                            $("#end").show();
                        }else{
                            $("#theForm")[0].reset();
                            that.current = 1;
                            that.nextIndex = 1;
                            that.showSubmit = false;
                            that.userParamsIndex++;
                            that.validResult = false;
                        }

                    }

                    if (checked && !isNaN(target) && target > 1000) {
                        that.submit();
                        if(that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                            that.tag = 0; //提前结束标签
                        }else{
                            $("#theForm")[0].reset();
                            that.current = 1;
                            that.nextIndex = 1;
                            that.showSubmit = false;
                            that.userParamsIndex++;
                            that.validResult = false;
                        }
                    }
                });
                AJAX.POST_JSON('zsSurvey/valid', {
                    zsAnswerItemSaves: this.finalData,
                    surveyId: this.getParams('surveyId'),
                    phone: this.getParams('phone'),
                    record: this.getParams('record'),
                    seat: this.getParams('seat'),
                    agentUUID: this.getParams('agentUUID')
                }, function (resp) {
                    if (resp.msg != '') {
                        if(that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                            alert(resp.msg);
                            // window.close();
                            $("#nextQuestion").hide();
                        }else{
                            $("#theForm")[0].reset();
                            that.current = 1;
                            that.nextIndex = 1;
                            that.showSubmit = false;
                            that.userParamsIndex++;
                            that.validResult = false;
                        }

                    }
                    return true;
                });
            },
            validateForm() {
                var that = this;
                var flag = true;
                var $questions = $('.simform-inner').find('.question');
                $questions.each(function (index, item) {
                    if ($(item).css('display') !== 'none') {
                        var dataType = $(item).attr('data-type');
                        if (dataType === '1') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '2') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '3') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '4') {
                            var selected = $(item).find('input');
                            selected.each(function (index, item) {
                                if ($(item).val() === '') {
                                    return flag = false;
                                }
                            })
                        }
                    }
                });
                return flag;
            },
            disableOption(opt) {
                if (opt.configration && opt.current) {
                    return opt.configration <= opt.current;
                }
                return false;

            },
            radioChange(opt, event, type) {
                // 判断类型
                if (type === 2) {
                    return this.checkboxChanged(opt, event);
                }
                if (opt.target > 0) {
                    this.tmpNextRadio = opt.target;
                } else {
                    this.tmpNextRadio = null;
                }
            },
            checkboxChanged(opt, event) {
                if (opt.exclusivity && opt.exclusivity.code == 1) {
                    if (event.target.checked) {
                        this.tmpNext = [];
                        $(event.target).parents('.question').find('input').not(event.target).attr('checked', false);
                    }
                }else{
                    $(event.target).parents('.question').find("[dexclusivity=1]").attr('checked', false);
                }
                if (opt.target > 0) {
                    if (event.target.checked) {
                        this.tmpNextAll.push(opt.target);
                    } else {
                        this.tmpNextAll.splice(this.tmpNextAll.indexOf(opt.target), 1);
                    }
                    this.tmpNext = Array.from(new Set(this.tmpNextAll));
                    this.tmpNext.sort(function (a1, a2) {
                        return a1 - a2;
                    })
                }


            },
            nextQuestion(question, event) {
                if (!this.isInputed(question, event)) {
                    return alert('请选择');
                }
                if (question.type === 2 && this.isOutOfBounds(question, event)) {
                    var resultStr = "";
                    if (question.maxSelect) {
                        resultStr += '最多只能选择' + question.maxSelect + '条';
                    }
                    if (question.minSelect) {
                        resultStr += '最少选择' + question.minSelect + '条';
                    }
                    alert(resultStr);
                    return;
                }
                this.loadFinalData();
                this.validSurvey();
                if(!this.validResult) {
                    this.validResult = true;
                    return ;
                }
                if (this.current === this.nextIndex) {
                    this.nextIndex += 1
                }
                if (this.questions.length <= this.nextIndex) {
                    this.showSubmit = true;
                }
                if (this.questions.length < this.nextIndex) {
                    return;
                }
                let nextQIndex = this.getNextIndex(question);
                if (nextQIndex > 0) {
                    this.nextIndex = nextQIndex;
                }
                this.current = this.nextIndex;
                this.nextIndex += 1;
            },
            //删除前一题的作答
            deletePreviousQuestion(){
                let that = this;
                let length=this.finalData.length;
                for(let j=length-1;j>=0;j--){
                    if(this.finalData[j].name.split("_")[1]===(""+this.index[this.index.length-1])){
                        if(this.finalData[j].value.split("_")[1].search("说不清")!=-1){
                            that.unclear -= 1;
                        }
                        this.finalData.pop(this.finalData[j]);
                    }
                }
            },
            previousQuestion(question, event) {
                this.deletePreviousQuestion();
                this.index.pop();
                let end = this.order.pop();
                this.nextIndex= end;
                this.current = this.nextIndex;
                this.nextIndex += 1;
                this.showSubmit= false;
                $("input").attr('checked', false);
                $("input").val(null);
            },
            getNextIndex(question) {
                if (question.type === 1 && this.tmpNextRadio) {
                    let nextIndex = this.tmpNextRadio;
                    this.tmpNextRadio = null;
                    return nextIndex;
                } else {
                    if (this.tmpNext.length > 0) {
                        let nextIndex = this.tmpNext[0];
                        this.tmpNext.splice(0, 1);
                        return nextIndex;
                    }
                }

                return 0;
            },
            isOutOfBounds(question, event) {
                var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                question.minSelect = question.minSelect ? question.minSelect : 0;
                question.maxSelect = question.maxSelect ? question.maxSelect : 0;
                if (question.minSelect == 0 && question.maxSelect == 0) {
                    return false;
                }
                return $inputs.length < question.minSelect || $inputs.length > question.maxSelect;

            },
            isInputed(question, event) {
                if (question.type === 1) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 2) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 3) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 4) {
                    var $inputs = $(event.srcElement).parents('.question').find('input');
                    var flag = true;
                    $.each($inputs, function (index, value) {
                        if ($(value).val() === '') {
                            flag = false;
                        }
                    });
                    return flag;
                }

            },
            submit(question, event) {
                var that = this;
                if (!this.validateForm()) {
                    alert('请完成表单');
                    return false;
                }
                if (question && question.type === 2 && this.isOutOfBounds(question, event)) {
                    var resultStr = "";
                    if (question.maxSelect) {
                        resultStr += '最多只能选择' + question.maxSelect + '条';
                    }
                    if (question.minSelect) {
                        resultStr += '最少选择' + question.minSelect + '条';
                    }
                    alert(resultStr);
                    return;
                }
                if(this.tag==1){
                    this.loadFinalData();
                }
                let currentParams = this.pageParams[this.userParamsIndex];

                AJAX.POST_JSON('zsQuestion/answer', {
                    zsAnswerItemSaves: this.finalData,
                    surveyId: this.getParams('surveyId'),
                    phone: this.getParams('phone'),
                    record: this.getParams('record'),
                    seat: this.getParams('seat'),
                    agentUUID: this.getParams('agentUUID'),
                    label: currentParams ? currentParams['type'] ? currentParams['type'] : null : null
                }, function (resp) {
                    if(that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                        $("#theForm").hide();
                        $("#end").show();
                        parent.surveyStatus = 1;
                        that.survey.endShow = resp.msg;
                        return false;
                    } else {
                        $("#theForm")[0].reset();
                        that.current = 1;
                        that.nextIndex = 1;
                        that.showSubmit = false;
                        that.userParamsIndex++;
                    }
                });
            },
            showOptions(question, option) {
                if (option.questionOrderNum) {
                    return option.questionOrderNum === question.orderNum;
                }
                if (option.questionId && question.id) {
                    return option.questionId === question.id;
                }
                return false;
            },
            loadParams() {
                var params = location.href.split("?")[1];
                var paramsPair = params.split("&");
                this.paramsPair = paramsPair;
            },
            getParams(paramName) {
                var result = null;
                this.paramsPair.forEach(function (value) {
                    if (value.includes(paramName)) {
                        result = value.split("=")[1]
                        return
                    }
                });
                return result;
            },
            loadSurvey() {
                var that = this;
                AJAX.GET('zsSurvey/questions/' + this.getParams('surveyId'), {}, function (resp) {
                    that.questions = resp.data;
                    if (that.questions.length === 1) {
                        that.showSubmit = true;
                    }
                });
                AJAX.GET('zsSurvey/' + this.getParams('surveyId'), {}, function (resp) {
                    that.survey = resp.data;
                    document.title = that.survey.name;
                    if (resp.data.currentNum >= resp.data.collectNum) {
                        alert("该问卷已经调查完成！");
                        $("#nextQuestion").hide();
                    }
                });
            }
        }
    });
</script>

<script>

    //我需要两个变量来分别存储秒数和分钟数
    var second = 0;
    var minute = 0;
    //然后需要一个变量来存储我的定时器
    var int;

    function timer(){  //声明一个timer函数，在这个函数里实现我的功能。
        second += 1;  //秒数加1
        if(second > 59){
            second = 0;  //当秒数大于59的时候，让秒数重新归零。
            minute += 1;  //分钟数加1
        }
        //然后将秒和分钟追加到dom里，为了保持00:00这样的格式，我们需要做一些简单的判断
        if(minute < 10){
            document.getElementById('time').innerHTML = '0' + minute + ":0" + second;
            if(second < 10){
                document.getElementById('time').innerHTML = '0' + minute + ":0" + second;
            }else{
                document.getElementById('time').innerHTML = '0' + minute + ":" + second;
            }
        }else{
            document.getElementById('time').innerHTML = minute + ":0" + second;
            if(second < 10){
                document.getElementById('time').innerHTML = minute + ":0" + second;
            }else{
                document.getElementById('time').innerHTML = minute + ":" + second;
            }
        }
    }
    //然后我创建一个定时器来执行timer函数，在js中，1000毫秒等于1秒。我可以让这个定时器每隔1000毫秒执行一次timer函数。我想要的效果是点击开始按钮的时候再执行这个定时器。
    //我可以把这个定时器放在一个函数里，在我点击开始按钮的时候运行这个函数即可。
    function start(){
        //在每次点击开始按钮时，我们需要先清除一下定时器，然后再执行定时器，原因是如果不清除，每次点击开始按钮，定时器都会累加，会导致计时越来越快的bug
        clearInterval(int);
        int = setInterval(timer,1000);
    }
    jQuery(document).ready(function(){
        start();
    });

</script>
</html>
