<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minimal Form Interface</title>
    <meta name="description" content="Minimal Form Interface: Simplistic, single input view form"/>
    <meta name="keywords" content="form, minimal, interface, single input, big form, responsive form, transition"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/survey/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/survey/css/demo.css"/>
    <script src="/survey/js/modernizr.custom.js"></script>
    <script src="/survey/js/jquery.min.js?v=2.1.4"></script>
    <script src="/survey/js/jQuery.fontFlex.js"></script>
    <script src="/survey/js/ajax-util.js"></script>
    <script src="/survey/js/vue.js"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>
    <style type="text/css">
        [v-cloak]{
            display: none;
        }

        .star-box {
            display: inline-block;
        }

        .star-box label {
            float: right;
            color: #999;
            margin-bottom: 0px;
        }

        .star-box label::after {
            content: '★';
            font-size: 14px;
            padding: 5px;
            display: inline-block;
            line-height: 1;
        }

        .star-box input:checked ~ label,
        .star-box label:hover ~ label,
        .star-box label:hover {
            color: red;
        }

        input[disabled] + label {
            color: #dedede;
            opacity: 1;
        }
        #answerCard{
            border: 5px solid #8AC007;
            float:right;
            height:50%;
            overflow:auto;
            position:fixed;
            top: 150px;
            right: 100px;
            text-align: center;
            border-radius: 25px;
        }
        .card_ul {
            margin-top: 20px;
            text-align: center;
            list-style:none;
            width: 150px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div id="container" v-cloak>
    <!-- Top Navigation -->
    <div style="position: fixed; top: 0; font-size: 25px; left:2px;">
        <span style="color: green;">计时：</span>
        <span style="color: green;" id="time">00:00</span>
    </div>
    <div class="panel padder-v item"
         style="position:fixed; top: 150px; width: 200px; text-align: center;background-color: sandybrown; border-radius: 0 40px 40px 0;">
        <div class="font-thin"><span
                style="font-size: 50px; color: navy; font-family: 'Microsoft YaHei',微软雅黑,'MicrosoftJhengHei',华文细黑,STHeiti,MingLiu">{{userParamsIndex + 1}} </span>
            <span style="font-size: 30px;">/{{pageParams.length ? pageParams.length : 1 }}</span></div>
        <span class="text-muted text-xs">所有问卷进度</span>
    </div>
    <header class="codrops-header">
        <h1>智慧调查<span>{{survey.name}}</span></h1>
        <h3><span>{{textFilter(survey.informationTemplate)}}</span></h3>
    </header>
    <section>
        <div style="position: fixed; width: 100%; bottom: 0px;">
            <div class="progress progress-striped active">
                <div :style="{width: getPercentage()}" :aria-valuemax="questions.length" aria-valuemin="0"
                     :aria-valuenow="current" role="progressbar" class="progress-bar progress-bar-danger">
                    <span class="sr-only" style="position: relative; font-size: 20px;">当前进度： {{current}} / {{questions.length}} </span>
                </div>
            </div>
        </div>
        <div class="row question-welcome" v-if="current === 1">
            <div class="text-center">
                <span>
                    {{textFilter(survey.startShow)}}
                </span>
            </div>
        </div>
        <form id="theForm" class="simform" autocomplete="off" style="font-size: 14px;">
            <div class="simform-inner">
                <div class="question" v-for="(item, index) in questions" v-show="current === index + 1"
                     :showCondition="item.showCondition"
                     :data-type="item.type">
                    <h4 class=" question-title">{{item.orderNum}}. {{textFilter(item.name)}} <span
                            style="font-size: 12px;"
                            v-if="item.type === 2">{{item.maxSelect ? '最多' + item.maxSelect + '条':''}} {{item.minSelect ? '最少' + item.minSelect + '条':''}}</span>
                    </h4>
                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 1 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<input :disabled="disableOption(opt)" type="radio"
                                                                  :id="'radio_' + item.id + '_' + opt.id"
                                                                  v-on:change="radioChange(opt, $event, item.type)"
                                                                  :dtarget="opt.target" :dendshow="opt.endshowPlus"
                                                                  :dignoreNum="opt.ignoreNum"
                                                                  :name="'radio_' + item.id + '_' + item.id"
                                                                  :value="opt.id + '_' +  opt.name"
                                                                  :content="opt.name">
                            <label :for="'radio_' + item.id + '_' + opt.id">
                                <span>{{textFilter(opt.text)}}</span>
                            </label>
                            <div style="display: inline-block; width: 300px;" v-if="opt.hasRemark">
                                <input class="form-control" style="display: inherit; width: 100%;"
                                       :placeholder="textFilter(opt.text)"
                                       @input="areaChange($event, opt)" @focus="foucusAreaHandler($event, opt, item)"
                                       @blur="markBlueHandler($event, opt, item)">
                                <div v-show="sigleInputShow">
                                    <div v-for="s in areaSelectors"
                                         @mousedown="areaSelectHandler(s, opt)"
                                         style="border: 1px solid #ccc; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);font-size: 14px; padding: 5px; cursor: pointer;">
                                        {{s.name}}
                                    </div>
                                </div>
                            </div>

                            <span class="badge label-success" v-if="opt.score">{{opt.score}} 分</span>
                            <span class="badge" style="background-color: #f0ad4e"
                                  v-if="opt.target > 1000 || opt.target < 0">立即结束</span>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 2 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<input type="checkbox"
                                                                  :id="'checkbox_' + item.id + '_' + opt.id"
                                                                  v-on:change="radioChange(opt, $event, item.type)"
                                                                  :dtarget="opt.target" :dendshow="opt.endshowPlus"
                                                                  :dignoreNum="opt.ignoreNum"
                                                                  :dexclusivity="opt.exclusivity ? opt.exclusivity.code : 0"
                                                                  :name="'checkbox_' + item.id + '_' + opt.id"
                                                                  :value="opt.id + '_' +  opt.name"
                                                                  :content="opt.name">
                            <label :for="'checkbox_' + item.id + '_' + opt.id">
                                <span :value="opt.id + '_' +  opt.name">{{textFilter(opt.text)}}</span>

                            </label>
                            <div style="display: inline-block; width: 300px;" v-if="opt.hasRemark">
                                <input class="form-control" style="display: inherit; width: 100%;"
                                       :placeholder="textFilter(opt.text)"
                                       @input="areaChange($event, opt)" @focus="foucusAreaHandler($event, opt, item)"
                                       @blur="markBlueHandler($event, opt, item)">
                                <div v-show="multipleInputShow">
                                    <div v-for="s in areaSelectors"
                                         @click="areaSelectHandler(s, opt)"
                                         style="border: 1px solid #ccc; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);font-size: 14px; padding: 5px; cursor: pointer;">
                                        {{s.name}}
                                    </div>
                                </div>
                            </div>

                            <span class="badge label-success" v-if="opt.score">{{opt.score}} 分</span>
                            <span class="badge" style="background-color: #f0ad4e"
                                  v-if="opt.target > 1000 || opt.target < 0">立即结束</span>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 3 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<span>{{textFilter(opt.name)}}</span>
                            <span class="star-box">
                            <input type="radio" value="5"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_5'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_5'"></label>

                            <input type="radio" value="4"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_4'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_4'"></label>

                            <input type="radio" value="3"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_3'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_3'"></label>

                            <input type="radio" value="2"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_2'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_2'"></label>

                            <input type="radio" value="1"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_1'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_1'"></label>
                        </span>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 4 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<span>{{textFilter(opt.name)}}</span>
                            <input type="text" :name="'answer_' + item.id + '_' + opt.id" class="form-control"
                                   style="display: initial; width: auto;">
                        </div>
                    </div>
                    <div class="row text-center">
                        <span class="glyphicon glyphicon-arrow-left" style="font-size: 30px; cursor: pointer;"
                              v-if="current!=1"
                              v-on:click="previousQuestion(item, $event)">上一题</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="nextQuestion" v-if="!showSubmit" class="glyphicon glyphicon-arrow-right"
                              style="font-size: 30px; cursor: pointer;"
                              v-on:click="nextQuestion(item, $event)">下一题</span>
                        <span v-if="showSubmit" class="submit btn"
                              :class="{'btn-warning': isLastParams(), 'btn-danger': !isLastParams()}"
                              v-on:click="submit(item, $event)">{{submitText()}}</span>
                    </div>
                    <div id="answerCard">
                        <template v-for="(item,i) in answerArr">
                            <div class="card_ul">
                                <div><span>第{{i + 1}}题：</span><span>{{item}}</span></div>
                            </div>
                        </template>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div><!-- /simform-inner -->
        </form><!-- /simform -->
        <div id="end" class="simform" autocomplete="off" style="font-size: 14px; display: none;">
            <div class="simform-inner">
                <div class="question">
                    <h4 class="question-title" style="font-size: 30px;">{{endshowText}}</h4>
                </div>
            </div>
        </div>

    </section>
</div>
</body>

<script src="/survey/js/plugins/beautifyhtml/beautifyhtml.js"></script>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    mvm = new Vue({
        el: '#container',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                hrefstr: ''
            },
            survey: {
                name: '',
                endShow: '问卷结束，感谢您的配合！',
                informationTemplate: '',
            },
            paramsPair: [],
            questions: [],
            options: [],
            surveyId: null,
            complete: false,
            phone: '',
            current: 1,
            nextIndex: 1,
            answerArr: undefined, //暂存答案数组，用来侧边显示
            index: [], //按顺序存储answersave的问题id
            order: [], //按顺序存储answersave的问题orderNum
            tmpNext: [],
            tmpNextRadio: null,
            showSubmit: false,
            endInfo: '问卷结束，感谢您的配合！',
            unclear: 0,
            tmpNextAll: [],
            phoneInformation: {
                mobile: '',
                surveyId: '',
                information: [],
            },
            pageParams: [],
            finalData: [], //存储最终zsAnswerItemSaves
            userParamsIndex: 0,
            label: null, // 标签,不同标签可以重复收集
            validResult: true,
            areaSelectors: [],
            currentRemark: '',
            multipleInputShow: false,
            sigleInputShow: false
        },
        created: function () {
            this.loadParams();
            this.loadSurvey();
            this.initPageParams();
        },
        computed: {
            endshowText() {
                let end = this.survey.endShow;
                return this.textFilter(end);
            }
        },
        methods: {
            areaSelectHandler(s, opt) {
                this.currentRemark = s.name;
            },
            foucusAreaHandler(e, o, q) {
                if (o.otype == 1) {
                    if (q.type == 2) {
                        $($(e.target).next().get(0)).show()
                    }
                    if (q.type == 1) {
                        $($(e.target).next().get(0)).show()
                    }
                }
            },
            areaChange(e, o) {
                let that = this;
                console.log(e);
                if (o.otype == 1) {
                    if (e.target.value) {
                        AJAX.GET("areaAddress/match", {areaId: o.dataId, text: e.target.value}, function (resp) {
                            that.areaSelectors = resp.data;
                        })
                    } else {
                        this.areaSelectors = [];
                    }
                }

            },
            markBlueHandler(event, opt, q) {
                setTimeout(() => {
                    //执行离开焦点操作
                    if (q.type == 2) {
                        $($(event.target).next().get(0)).hide();
                    }
                    if (q.type == 1) {
                        $($(event.target).next().get(0)).hide()
                    }
                    if (this.currentRemark) {
                        // $("#areaSelectors").hide();
                        event.target.value = this.currentRemark;
                        opt.name = this.currentRemark;
                        return this.currentRemark = '';

                    }
                    // opt.name = event.target.value;
                    opt.name = "&%%&"+event.target.value;

                }, 0);
            },
            getPercentage() {
                if (this.pageParams) {
                    let p = this.current / this.questions.length;
                    if (p) {
                        let percent = Number(p * 100).toFixed(1) + "%";
                        return percent;
                    } else {
                        return "0%";
                    }

                } else {
                    return null;
                }
            },
            // 逻辑出提交按钮的文字,入提交,提交并继续
            submitText() {
                if (this.isLastParams()) {
                    return '保存问卷结束';
                }
                return '保存问卷继续';
            },
            isLastParams() {
                if (this.pageParams.length) {
                    return this.pageParams.length === this.userParamsIndex + 1;
                } else {
                    return true;
                }

            },
            //将最新问题答案写入最终zsAnswerItemSaves
            loadFinalData() {
                this.index.push(this.questions[this.current - 1].id);
                this.order.push(this.current);
                let array = $('#theForm').serializeArray();
                let answerValue = '';
                for (let j = 0; j < array.length; j++) {
                    if (array[j].name.split("_")[1] === ("" + this.questions[this.current - 1].id)) {
                        this.finalData.push(array[j]);
                        let arr = array[j].value.split('_');
                        answerValue += arr[arr.length - 1] + ","
                    }
                }
                return answerValue;
            },
            initPageParams() {
                if (!this.survey.informationTemplate) {
                    return false;
                }
                let that = this;
                this.phoneInformation.mobile = this.getParams('phone');
                this.phoneInformation.surveyId = this.survey.id;
                AJAX.GET('zsPhoneInformation/selectByMobileAndSurvey', this.phoneInformation, function (resp) {
                    if (resp.data != null) {
                        let infos = resp.data;
                        if (infos) {
                            for (let i = 0; i < infos.length; i++) {
                                that.phoneInformation.information.push(infos[i].information);
                                let info = infos[i].information;
                                info = info.replace(/[\r\n]/g, "")
                                that.pageParams.push(JSON.parse(info));
                            }
                        }
                    } else {
                        alert("被访对象数据为空，请联系管理员");
                    }
                });
            },
            textFilter(text) {
                if (text != null) {
                    let that = this;
                    let filterParams = that.pageParams[this.userParamsIndex];
                    if (!filterParams) {
                        return text;
                    }
                    for (let i = 0; i < Object.keys(filterParams).length; i++) {
                        let str = "{" + Object.keys(filterParams)[i] + "}";
                        if (text.includes(str)) {
                            text = text.replace(new RegExp(str, 'g'), Object.values(filterParams)[i]);
                        }
                    }
                    if (text.includes("{") && text.includes("}")) {
                        alert("被访对象数据不正确，请联系管理员");
                    }
                }
                return text;
            },
            validSurvey() {
                var that = this;
                var $inputs = $('.simform-inner').find('.question :visible').find('input');
                $inputs.each(function (index, item) {
                    var target = $(item).attr('dtarget');
                    var checked = $(item).is(':checked');
                    var content = $(item).attr('content');
                    var endshowPlus = $(item).attr('dendshow');
                    // 选中说不清数量到达限额
                    if (checked && content.search("说不清") != -1) {
                        that.unclear = that.unclear + 1;
                        if (that.unclear >= that.survey.unclearCount) {
                            if (that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                                $("#theForm").hide();
                                that.survey.endShow = "对不起，打扰您了，感谢您的支持，祝您生活愉快，再见！";
                                // that.userParamsIndex++;
                                $("#end").show();
                            } else {
                                $("#theForm")[0].reset();
                                that.current = 1;
                                that.nextIndex = 1;
                                that.showSubmit = false;
                                that.userParamsIndex++;
                                that.validResult = false;
                                that.finalData = [];
                            }
                        }


                    }
                    // 选中的项目 target为数字并且小于0
                    if (checked && !isNaN(target) && target < 0) {
                        if (that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                            $("#theForm").hide();
                            that.survey.endShow = "对不起，打扰您了，感谢您的支持，祝您生活愉快，再见！";
                            console.log(endshowPlus)
                            if (endshowPlus) {
                                that.survey.endShow = endshowPlus;
                            }
                            // that.userParamsIndex++;
                            $("#end").show();
                        } else {
                            $("#theForm")[0].reset();
                            that.current = 1;
                            that.nextIndex = 1;
                            that.showSubmit = false;
                            that.userParamsIndex++;
                            that.validResult = false;
                            that.finalData = [];
                        }

                    }

                    if (checked && !isNaN(target) && target > 1000) {
                        console.log(endshowPlus)
                        that.submitImmediately(null, null, endshowPlus);
                        if (that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                        } else {
                            $("#theForm")[0].reset();
                            that.current = 1;
                            that.nextIndex = 1;
                            that.showSubmit = false;
                            that.userParamsIndex++;
                            that.validResult = false;
                        }
                    }
                });
                if (!this.finalData.length > 0) {
                    return;
                }
                AJAX.POST_JSON('zsSurvey/valid', {
                    zsAnswerItemSaves: this.finalData,
                    surveyId: this.getParams('surveyId'),
                    phone: this.getParams('phone'),
                    record: this.getParams('record'),
                    seat: this.getParams('seat'),
                    agentUUID: this.getParams('agentUUID')
                }, function (resp) {
                    if (resp.msg != '') {
                        if (that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                            alert(resp.msg);
                            // window.close();
                            $("#nextQuestion").hide();
                        } else {
                            $("#theForm")[0].reset();
                            that.current = 1;
                            that.nextIndex = 1;
                            that.showSubmit = false;
                            that.userParamsIndex++;
                            that.validResult = false;
                            that.finalData = [];
                        }

                    }
                    return true;
                });
            },
            validateForm() {
                var that = this;
                var flag = true;
                var $questions = $('.simform-inner').find('.question');
                $questions.each(function (index, item) {
                    if ($(item).css('display') !== 'none') {
                        var dataType = $(item).attr('data-type');
                        if (dataType === '1') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '2') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '3') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '4') {
                            var selected = $(item).find('input');
                            selected.each(function (index, item) {
                                if ($(item).val() === '') {
                                    return flag = false;
                                }
                            })
                        }
                    }
                });
                return flag;
            },
            disableOption(opt) {
                if (opt.configration && opt.current) {
                    return opt.configration <= opt.current;
                }
                return false;

            },
            radioChange(opt, event, type) {
                // 判断类型
                if (type === 2) {
                    return this.checkboxChanged(opt, event);
                }
                if (opt.target > 0) {
                    this.tmpNextRadio = opt.target;
                } else {
                    this.tmpNextRadio = null;
                }
            },
            checkboxChanged(opt, event) {
                if (opt.exclusivity && opt.exclusivity.code == 1) {
                    if (event.target.checked) {
                        this.tmpNext = [];
                        $(event.target).parents('.question').find('input').not(event.target).attr('checked', false);
                    }
                } else {
                    $(event.target).parents('.question').find("[dexclusivity=1]").attr('checked', false);
                }
                if (opt.target > 0) {
                    if (event.target.checked) {
                        this.tmpNextAll.push(opt.target);
                    } else {
                        this.tmpNextAll.splice(this.tmpNextAll.indexOf(opt.target), 1);
                    }
                    this.tmpNext = Array.from(new Set(this.tmpNextAll));
                    this.tmpNext.sort(function (a1, a2) {
                        return a1 - a2;
                    })
                }


            },
            nextQuestion(question, event, notValid) {
                // 未选择
                if (!notValid && !this.isInputed(question, event)) {
                    return alert('请选择');
                }
                // 选项数量
                if (!notValid && question.type === 2 && this.isOutOfBounds(question, event)) {
                    var resultStr = "";
                    if (question.maxSelect) {
                        resultStr += '最多只能选择' + question.maxSelect + '条';
                    }
                    if (question.minSelect) {
                        resultStr += '最少选择' + question.minSelect + '条';
                    }
                    alert(resultStr);
                    return;
                }
                let anwserValue = this.loadFinalData();
                // 将对应的orderNum位置的问题的答案记录
                this.answerArr[question.orderNum-1] = anwserValue;
                this.validSurvey();
                if (!this.validResult) {
                    this.validResult = true;
                    return;
                }
                if (this.current === this.nextIndex) {
                    this.nextIndex += 1
                }
                if (this.questions.length < this.nextIndex) {
                    return;
                }
                let nextQIndex = this.getNextIndex(question);
                if (nextQIndex > 0) {
                    this.nextIndex = nextQIndex;
                }
                this.current = this.nextIndex;
                // 判断是不是能显示
                if(!this.questionIsShow(this.current)) {
                    this.nextQuestion(this.questions[this.current], event, true);
                    if (this.questions.length <= this.nextIndex) {
                        this.showSubmit = true;
                    }
                    return ;
                }

                if (this.questions.length <= this.nextIndex) {
                    this.showSubmit = true;
                }
                console.log("answerArr",this.answerArr)
                console.log("finaldata",this.finalData)
                this.nextIndex += 1;
            },
            //删除前一题的作答
            deletePreviousQuestion() {
                let that = this;
                let length = this.finalData.length;
                for (let j = length - 1; j >= 0; j--) {
                    if (this.finalData[j].name.split("_")[1] === ("" + this.index[this.index.length - 1])) {
                        if (this.finalData[j].value.split("_")[1].search("说不清") != -1) {
                            that.unclear -= 1;
                        }
                        this.finalData.pop(this.finalData[j]);
                    }
                }
            },
            previousQuestion(question, event) {
                this.deletePreviousQuestion();
                this.index.pop();
                let end = this.order.pop();
                this.nextIndex = end;
                this.current = this.nextIndex;
                this.nextIndex += 1;
                this.showSubmit = false;
                $("input").attr('checked', false);
                $("input").val(null);
            },
            getNextIndex(question) {
                let nextIndex = 0;
                if (question.type === 1 && this.tmpNextRadio) {
                    nextIndex = this.tmpNextRadio;
                    this.tmpNextRadio = null;
                } else {
                    if (this.tmpNext.length > 0) {
                        nextIndex = this.tmpNext[0];
                        this.tmpNext.splice(0, 1);
                    }
                }
                return nextIndex;
            },
            // 判断是否显示 如果必须的话
            questionIsShow(qIndex) {
                let q = this.questions[qIndex - 1];
                if(q && q.showCondition) {
                    console.log(q.showCondition)
                    for (let i = 0; i < this.finalData.length; i++) {
                        let data = this.finalData[i];
                        if(data['value'] && data['value'].split("_")[0]) {
                            if(q.showCondition.indexOf(data['value'].split("_")[0]) > -1) {
                                return true;
                            }
                        }
                    }
                    return false;
                }
                return true;
            },
            isOutOfBounds(question, event) {
                var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                question.minSelect = question.minSelect ? question.minSelect : 0;
                question.maxSelect = question.maxSelect ? question.maxSelect : 0;
                if (question.minSelect == 0 && question.maxSelect == 0) {
                    return false;
                }
                return $inputs.length < question.minSelect || $inputs.length > question.maxSelect;
            },
            isInputed(question, event) {
                if (question.type === 1) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 2) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 3) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 4) {
                    var $inputs = $(event.srcElement).parents('.question').find('input');
                    var flag = true;
                    $.each($inputs, function (index, value) {
                        if ($(value).val() === '') {
                            flag = false;
                        }
                    });
                    return flag;
                }

            },
            submit(question, event) {
                let that = this;
                if (!this.validateForm()) {
                    alert('请完成表单');
                    return false;
                }
                console.log("form",this.finalData)
                if (question && question.type === 2 && this.isOutOfBounds(question, event)) {
                    let resultStr = "";
                    if (question.maxSelect) {
                        resultStr += '最多只能选择' + question.maxSelect + '条';
                    }
                    if (question.minSelect) {
                        resultStr += '最少选择' + question.minSelect + '条';
                    }
                    alert(resultStr);
                    return;
                }
                this.loadFinalData();
                let currentParams = this.pageParams[this.userParamsIndex];

                AJAX.POST_JSON('zsQuestion/answer', {
                    zsAnswerItemSaves: this.finalData,
                    surveyId: this.getParams('surveyId'),
                    phone: this.getParams('phone'),
                    record: this.getParams('record'),
                    seat: this.getParams('seat'),
                    agentUUID: this.getParams('agentUUID'),
                    label: currentParams ? currentParams['type'] ? currentParams['type'] : null : null
                }, function (resp) {
                    if (that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                        $("#theForm").hide();
                        $("#end").show();
                        parent.surveyStatus = 1;
                        that.survey.endShow = resp.msg;
                        // that.userParamsIndex++;
                        return false;
                    } else {
                        $("#theForm")[0].reset();
                        that.current = 1;
                        that.nextIndex = 1;
                        that.showSubmit = false;
                        that.userParamsIndex++;
                        that.finalData = [];
                    }
                });
            },
            submitImmediately(question, event, endshowPlus) {
                console.log(endshowPlus)
                var that = this;
                if (!this.validateForm()) {
                    alert('请完成表单');
                    return false;
                }
                if (question && question.type === 2 && this.isOutOfBounds(question, event)) {
                    var resultStr = "";
                    if (question.maxSelect) {
                        resultStr += '最多只能选择' + question.maxSelect + '条';
                    }
                    if (question.minSelect) {
                        resultStr += '最少选择' + question.minSelect + '条';
                    }
                    alert(resultStr);
                    return;
                }
                let currentParams = this.pageParams[this.userParamsIndex];
                AJAX.POST_JSON('zsQuestion/answer', {
                    zsAnswerItemSaves: this.finalData,
                    surveyId: this.getParams('surveyId'),
                    phone: this.getParams('phone'),
                    record: this.getParams('record'),
                    seat: this.getParams('seat'),
                    agentUUID: this.getParams('agentUUID'),
                    label: currentParams ? currentParams['type'] ? currentParams['type'] : null : null
                }, function (resp) {
                    if (that.pageParams.length === 0 || that.pageParams.length === that.userParamsIndex + 1) {
                        $("#theForm").hide();
                        console.log(endshowPlus)
                        that.survey.endShow = resp.msg;
                        if (endshowPlus) {
                            that.survey.endShow = endshowPlus;
                        }
                        $("#end").show();
                        parent.surveyStatus = 1;
                        return false;
                    } else {
                        $("#theForm")[0].reset();
                        that.current = 1;
                        that.nextIndex = 1;
                        that.showSubmit = false;
                        that.finalData = [];
                    }
                });
            },
            showOptions(question, option) {
                if (option.questionOrderNum) {
                    return option.questionOrderNum === question.orderNum;
                }
                if (option.questionId && question.id) {
                    return option.questionId === question.id;
                }
                return false;
            },
            loadParams() {
                let params = location.href.split("?")[1];
                this.pageInfo.hrefstr = params;
                let paramsPair = params.split("&");
                this.paramsPair = paramsPair;
            },
            getParams(paramName) {
                let result = null;
                this.paramsPair.forEach(function (value) {
                    if (value.includes(paramName)) {
                        result = value.split("=")[1]
                        return
                    }
                });
                return result;
            },
            loadSurvey() {
                let that = this;
                AJAX.GET('zsSurvey/questions/' + this.getParams('surveyId'), {}, function (resp) {
                    that.questions = resp.data;
                    that.answerArr = Array.from({length: that.questions.length}, () => '');
                    if (that.questions.length === 1) {
                        that.showSubmit = true;
                    }
                });
                AJAX.GET('zsSurvey/' + this.getParams('surveyId'), {}, function (resp) {
                    that.survey = resp.data;
                    document.title = that.survey.name;
                    if (resp.data.currentNum >= resp.data.collectNum) {
                        alert("该问卷已经调查完成！");
                        $("#nextQuestion").hide();
                    }
                });
            }
        }
    });
</script>

<script>

    //我需要两个变量来分别存储秒数和分钟数
    var second = 0;
    var minute = 0;
    //然后需要一个变量来存储我的定时器
    var int;

    function timer() {  //声明一个timer函数，在这个函数里实现我的功能。
        second += 1;  //秒数加1
        if (second > 59) {
            second = 0;  //当秒数大于59的时候，让秒数重新归零。
            minute += 1;  //分钟数加1
        }
        //然后将秒和分钟追加到dom里，为了保持00:00这样的格式，我们需要做一些简单的判断
        if (minute < 10) {
            document.getElementById('time').innerHTML = '0' + minute + ":0" + second;
            if (second < 10) {
                document.getElementById('time').innerHTML = '0' + minute + ":0" + second;
            } else {
                document.getElementById('time').innerHTML = '0' + minute + ":" + second;
            }
        } else {
            document.getElementById('time').innerHTML = minute + ":0" + second;
            if (second < 10) {
                document.getElementById('time').innerHTML = minute + ":0" + second;
            } else {
                document.getElementById('time').innerHTML = minute + ":" + second;
            }
        }
    }

    //然后我创建一个定时器来执行timer函数，在js中，1000毫秒等于1秒。我可以让这个定时器每隔1000毫秒执行一次timer函数。我想要的效果是点击开始按钮的时候再执行这个定时器。
    //我可以把这个定时器放在一个函数里，在我点击开始按钮的时候运行这个函数即可。
    function start() {
        //在每次点击开始按钮时，我们需要先清除一下定时器，然后再执行定时器，原因是如果不清除，每次点击开始按钮，定时器都会累加，会导致计时越来越快的bug
        clearInterval(int);
        int = setInterval(timer, 1000);
    }

    jQuery(document).ready(function () {
        start();
    });

</script>
</html>
