<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minimal Form Interface</title>
    <meta name="description" content="Minimal Form Interface: Simplistic, single input view form"/>
    <meta name="keywords" content="form, minimal, interface, single input, big form, responsive form, transition"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link href="css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/survey/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/survey/css/demo.css"/>
    <script src="/survey/js/modernizr.custom.js"></script>
    <script src="/survey/js/jquery.min.js?v=2.1.4"></script>
    <script src="/survey/js/jQuery.fontFlex.js"></script>
    <script src="/survey/js/ajax-util.js"></script>
    <script src="/survey/js/vue.js"></script>
    <script src="js/bootstrap.min.js?v=3.3.6"></script>
    <style type="text/css">
        .star-box {
            display: inline-block;
        }

        .star-box label {
            float: right;
            color: #999;
            margin-bottom: 0px;
        }

        .star-box label::after {
            content: '★';
            font-size: 14px;
            padding: 5px;
            display: inline-block;
            line-height: 1;
        }

        .star-box input:checked ~ label,
        .star-box label:hover ~ label,
        .star-box label:hover {
            color: red;
        }

        input[disabled] + label {
            color: #dedede;
            opacity: 1;
        }

        #lottery {
            width: 100%;
            margin: 0px auto;
            border: 4px solid #ba1809;
        }

        #lottery table {
            background-color: yellow;
        }

        #lottery table td {
            position: relative;
            width: 30%;
            text-align: center;
            color: #333;
            font-index: -999
        }

        #lottery table td img {
            display: block;
            width: 100%;
        }

        #lottery table td.active .mask {
            display: block;
        }

        .mask {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(252, 211, 4, 0.5);
            display: none;
        }
    </style>
</head>
<body>
<div id="container">
    <!-- Top Navigation -->
    <header class="codrops-header">
        <h1>智慧调查<span>{{survey.name}}</span></h1>
    </header>

    <section>
        <div id="lottery">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="lottery-unit lottery-unit-0">
                        <span>100元话费</span>
                        <div class="mask"></div>
                    </td>
                    <td class="lottery-unit lottery-unit-1"><img src="img/cj/gift1.jpg">
                        <div class="mask"></div>
                    </td>
                    <td class="lottery-unit lottery-unit-2"><img src="img/cj/gift2.jpg">
                        <div class="mask"></div>
                    </td>
                </tr>
                <tr>
                    <td class="lottery-unit lottery-unit-7"><img src="img/cj/gift7.jpg">
                        <div class="mask"></div>
                    </td>
                    <td class="lottery-unit xxx" v-on:click="cjclick($event)"><img src="img/cj/lottery1.jpg"></td>
                    <td class="lottery-unit lottery-unit-3"><img src="img/cj/gift3.jpg">
                        <div class="mask"></div>
                    </td>
                </tr>
                <tr>
                    <td class="lottery-unit lottery-unit-6"><img src="img/cj/gift6.jpg">
                        <div class="mask"></div>
                    </td>
                    <td class="lottery-unit lottery-unit-5"><img src="img/cj/gift5.jpg">
                        <div class="mask"></div>
                    </td>
                    <td class="lottery-unit lottery-unit-4"><img src="img/cj/gift4.jpg">
                        <div class="mask"></div>
                    </td>
                </tr>
            </table>
        </div>
        <form id="theForm" class="simform" autocomplete="off" style="font-size: 14px;display: none;">
            <div class="simform-inner">
                <div class="question" v-for="(item, index) in questions" v-show="current === index + 1"
                     :data-type="item.type">
                    <h4 class=" question-title">{{item.orderNum}}. {{item.name}} <span style="font-size: 12px;"
                                                                                       v-if="item.type === 2">{{item.maxSelect ? '最多' + item.maxSelect + '条':''}} {{item.minSelect ? '最少' + item.minSelect + '条':''}}</span>
                    </h4>
                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 1 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<input :disabled="disableOption(opt)" type="radio"
                                                                  :id="'radio_' + item.id + '_' + opt.id"
                                                                  v-on:change="radioChange(opt)"
                                                                  :dtarget="opt.target" :dignoreNum="opt.ignoreNum"
                                                                  :name="'radio_' + item.id + '_' + item.id"
                                                                  :value="opt.id + '_' +  opt.name">
                            <label :for="'radio_' + item.id + '_' + opt.id">
                                <span>{{opt.name}}</span>
                                <input class="form-control" v-if="opt.hasRemark" style="display: inherit; width: auto;"
                                       v-model="opt.name">
                            </label>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 2 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<input type="checkbox"
                                                                  :id="'checkbox_' + item.id + '_' + opt.id"
                                                                  v-on:change="radioChange(opt)"
                                                                  :dtarget="opt.target" :dignoreNum="opt.ignoreNum"
                                                                  :name="'checkbox_' + item.id + '_' + opt.id"
                                                                  :value="opt.id + '_' +  opt.name">
                            <label :for="'checkbox_' + item.id + '_' + opt.id">
                                <span :value="opt.id + '_' +  opt.name">{{opt.name}}</span>
                                <input class="form-control" v-if="opt.hasRemark" style="display: inherit; width: auto;"
                                       v-model="opt.name">
                            </label>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 3 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<span>{{opt.name}}</span>
                            <span class="star-box">
                            <input type="radio" value="5"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_5'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_5'"></label>

                            <input type="radio" value="4"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_4'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_4'"></label>

                            <input type="radio" value="3"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_3'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_3'"></label>

                            <input type="radio" value="2"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_2'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_2'"></label>

                            <input type="radio" value="1"
                                   :name="'star_' + item.id + '_' + opt.id"
                                   :id="'star_' + item.id + '_' + opt.id + '_1'"
                                   hidden/>
                            <label :for="'star_' + item.id + '_' + opt.id + '_1'"></label>
                        </span>
                        </div>
                    </div>

                    <div class="question-option" v-for="(opt, i) in item.options"
                         v-if="item.type === 4 && showOptions(item, opt)">
                        <div>
                            {{opt.orderNum}}. &nbsp; &nbsp;<span>{{opt.name}}</span>
                            <input type="text" :name="'answer_' + item.id + '_' + opt.id" class="form-control"
                                   style="display: initial; width: auto;">
                        </div>
                    </div>
                    <div class="row text-center" v-if="!showSubmit" id="nextQuestion">
                        <span class="btn btn-primary"
                              style="padding: 10px; cursor: pointer; width: 92%; font-size: 16px;"
                              v-on:click="nextQuestion(item, $event)">下一题</span>
                    </div>
                    <div class="row text-center" v-if="showSubmit">
                        <span class="btn btn-primary"
                              style="padding: 10px; cursor: pointer; width: 92%; font-size: 16px;"
                              v-on:click="submit()">提交</span>
                    </div>
                </div>
            </div><!-- /simform-inner -->
        </form><!-- /simform -->
        <div id="phoneContent" class="simform" autocomplete="off" style="font-size: 14px; display: none;">
            <div class="simform-inner">
                <div class="question">
                    <h4 class="question-title end-show">提交问卷成功，请留下手机号，后续我们会将奖励以话费的形式发放到您的手机号上！</h4>
                </div>
                <div class="question-option row" style="border: none">
                    <div style="width: 30%; display: inline-block; text-align: right;"><label>您的手机号：</label></div>
                    <div style="width: 65%; display: inline-block; text-align: right;">
                        <input class="form-control" id="phone" v-model="phone">
                    </div>
                </div>
                <div class="row text-center" v-if="showSubmit">
                    <span class="btn btn-primary"
                          style="padding: 10px; cursor: pointer; width: 92%; font-size: 16px;"
                          v-on:click="submitPhone()">提交</span>
                </div>
            </div>
        </div>

        <div id="end" class="simform" autocomplete="off" style="font-size: 14px; display: none;">
            <div class="simform-inner">
                <div class="question">
                    <h4 class="question-title" style="font-size: 30px;">{{survey.endShow}}</h4>
                </div>
            </div>
        </div>
    </section>
    <div class="progress" style="position: absolute; width: 100%; height: 5px; bottom: 0px; margin: 0px;">
        <div class="progress-bar" :style="'width:' + progress + '%'"></div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#container',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {},
            survey: {
                name: '',
                endShow: '问卷结束，感谢您的配合！'
            },
            paramsPair: [],
            questions: [],
            options: [],
            surveyId: null,
            complete: false,
            phone: '',
            current: 1,
            nextIndex: 1,
            tmpNext: null,
            showSubmit: false,
            endInfo: '问卷结束，感谢您的配合！',
            place: 0, //请求后指定停留在某个位置
            click: false, //默认值为false可抽奖，防止重复点击
            index: -1, //当前转动到哪个位置，起点位置
            count: 0, //总共有多少个位置
            timer: 0, //setTimeout的ID，用clearTimeout清除
            speed: 20, //初始转动速度
            times: 0, //转动次数
            cycle: 50, //转动基本次数：即至少需要转动多少次再进入抽奖环节
            prize: -1, //中奖位置
        },
        created: function () {
            this.loadParams();
            this.loadSurvey();
        },
        watch: {},
        computed: {
            progress: function () {
                console.log(312)
                if (this.questions.length > 0) {
                    return Math.round((this.current - 1) / this.questions.length * 100);
                } else {
                    return 1;
                }
            }
        },
        methods: {
            cjclick(event) {
                console.log(event)
                event.preventDefault();
                this.init('lottery');
                if (this.click) { //click控制一次抽奖过程中不能重复点击抽奖按钮，后面的点击不响应
                    return false;
                } else {
                    this.getLottery();
                    return false;
                }
            },
            init: function(id) {
                if ($("#" + id).find(".lottery-unit").length > 0) {
                    $lottery = $("#" + id);
                    $units = $lottery.find(".lottery-unit");
                    this.obj = $lottery;
                    this.count = $units.length;
                    $lottery.find(".lottery-unit-" + this.index).addClass("active");
                };
            },
            roll: function() {
                var index = this.index,
                    count = this.count,
                    lottery = this.obj;
                $(lottery).find(".lottery-unit-" + index).removeClass("active");
                index += 1;
                if (index > count - 1) {
                    index = 0;
                };
                $(lottery).find(".lottery-unit-" + index).addClass("active");
                this.index = index;
                return false;
            },
            stop: function() {
                this.times += 1;
                this.roll(); //转动过程调用的是lottery的roll方法，这里是第一次调用初始化
                if (this.times > this.cycle + 10 && this.prize == this.index) {
                    clearTimeout(this.timer);
                    this.prize = -1;
                    this.times = 0;
                    this.click = false;
                    //可以在这个位置写上中奖弹框，这个是转盘停止时触发事件
                    console.log('您抽中了第' + this.place + '个奖品');
                } else {
                    if (this.times < this.cycle) {
                        this.speed -= 10;
                    } else if (this.times == this.cycle) {
                        // this.place = 3; //案例中奖物品通过一个随机数生成
                        this.prize = this.place;
                        // this.prize = this.place;  //这个可以通过ajax请求回来的数据赋值给this.place
                    } else {
                        if (this.times > this.cycle + 10 && ((this.prize == 0 && this.index == 7) || this.prize == this.index + 1)) {
                            this.speed += 110;
                        } else {
                            this.speed += 20;
                        }
                    }
                    if (this.speed < 40) {
                        this.speed = 40;
                    };
                    this.timer = setTimeout(this.stop, this.speed); //循环调用
                }
                return false;
            },
            getLottery: function() {
                this.place = 4
                //ajax请求中奖接口，本案例注释便于案例正常展示效果，实际中可参考注释的代码
                // $.ajax({
                //     url: '/activity/this',//中奖接口
                //     type: 'POST',
                //     dataType: 'json',
                //     data: {
                //         'activityCategory': 'POINT_SHOP'//提交字段
                //     }
                // })
                // .done(function(data) {
                //     if (data.returnCode == 0) {//登录后的操作

                //         switch (data.prize) {//请求返回的抽中奖品字段
                //             case 'POINT_SHOP_INTEREST_COUPON_2': //0.2加息券
                //                 this.place = 7;//当前奖品所在九宫格位置
                //                 break;
                //             case 'POINT_SHOP_RED_ENVELOPE_10': //10元投资红包
                //                 this.place = 0;//当前奖品所在九宫格位置
                //                 break;
                //             case 'POINT_SHOP_POINT_500': //500积分
                //                 this.place = 1;//当前奖品所在九宫格位置
                //                 break;
                //             case 'POINT_SHOP_PHONE_CHARGE_10': //10元话费
                //                 this.place = 5;//当前奖品所在九宫格位置
                //                 break;
                //             case 'OINT_SHOP_JD_100': //100元京东卡
                //                 this.place = 2;//当前奖品所在九宫格位置
                //                 break;
                //             case 'POINT_SHOP_POINT_3000': //3000积分
                //                 this.place = 6;//当前奖品所在九宫格位置
                //                 break;
                //             case 'POINT_SHOP_INTEREST_COUPON_5': //0.5加息券
                //                 this.place = 4;//当前奖品所在九宫格位置
                //                 break;
                //             case 'POINT_SHOP_RED_ENVELOPE_50': //50元投资红包
                //                 this.place = 3;//当前奖品所在九宫格位置
                //                 break;
                //         }
                this.speed = 100;
                this.stop(); //转圈过程不响应click事件，会将click置为false
                this.click = true; //一次抽奖完成后，设置click为true，可继续抽奖
                //     } else if (data.returnCode == 1) {//没有抽奖机会
                //         alert('没有抽奖机会');
                //     } else if (data.returnCode == 2) {//未登录
                //         location.href='/login';
                //     } else if (data.returnCode == 3) {//不在活动时间范围内！
                //         alert('不在活动时间内');
                //     } else if (data.returnCode == 4) {//实名认证
                //         alert('未实名认证');
                //     }
                // })
                // .fail(function() {
                //     alert('请求失败，请重试！');
                // });
            },
            submitPhone() {
                if (!(/^1[3456789]\d{9}$/.test(this.phone))) {
                    alert("手机号码有误，请重填");
                    return false;
                }
                this.submit();
            },
            validSurvey() {
                var that = this;
                var $inputs = $('.simform-inner').find('.question :visible').find('input');
                console.log($inputs);
                $inputs.each(function (index, item) {
                    var target = $(item).attr('dtarget');
                    var ckecked = $(item).is(':checked')
                    // 选中的项目 target为数字并且小于0
                    if (ckecked && !isNaN(target) && target < 0) {
                        $("#theForm").hide();
                        that.survey.endShow = "对不起，打扰您了，感谢您的支持，祝您生活愉快，再见！";
                        $("#end").show();
                    }

                    if (ckecked && !isNaN(target) && target > 1000) {
                        that.submit();
                    }

                });
                AJAX.POST_JSON('zsSurvey/valid', {
                    zsAnswerItemSaves: $('#theForm').serializeArray(),
                    surveyId: this.getParams('surveyId'),
                    phone: this.phone,
                    seat: this.phone
                }, function (resp) {
                    if (resp.msg != '') {
                        alert(resp.msg);
                        // window.close();
                        $("#nextQuestion").hide();
                    }
                    return true;
                });
            },
            validateForm() {
                var that = this;
                var flag = true;
                var $questions = $('.simform-inner').find('.question');
                $questions.each(function (index, item) {
                    if ($(item).css('display') !== 'none') {
                        var dataType = $(item).attr('data-type');
                        if (dataType === '1') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '2') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '3') {
                            var selected = $(item).find('input:checked');
                            if (selected.length == 0) {
                                return flag = false;
                            }
                        }
                        if (dataType === '4') {
                            var selected = $(item).find('input');
                            selected.each(function (index, item) {
                                if ($(item).val() === '') {
                                    return flag = false;
                                }
                            })
                        }
                    }
                });
                return flag;
            },
            disableOption(opt) {
                if (opt.configration && opt.current) {
                    console.log(opt.configration, opt.current)
                    return opt.configration <= opt.current;
                }
                return false;

            },
            radioChange(opt) {
                if (opt.target > 0) {
                    this.tmpNext = opt.target;
                } else {
                    this.tmpNext = null;
                }
            },
            nextQuestion(question, event) {
                if (!this.isInputed(question, event)) {
                    return alert('请选择');
                }
                if (question.type === 2 && this.isOutOfBounds(question, event)) {
                    var resultStr = "";
                    if (question.maxSelect) {
                        resultStr += '最多只能选择' + question.maxSelect + '条';
                    }
                    if (question.minSelect) {
                        resultStr += '最少选择' + question.minSelect + '条';
                    }
                    alert(resultStr);
                    return;
                }
                this.validSurvey();

                if (this.current === this.nextIndex) {
                    this.nextIndex += 1
                }
                if (this.questions.length <= this.nextIndex) {
                    this.showSubmit = true;
                }
                if (this.questions.length < this.nextIndex) {
                    return;
                }
                if (this.tmpNext > this.nextIndex) {
                    this.nextIndex = this.tmpNext;
                }
                this.current = this.nextIndex;
                this.nextIndex += 1;
            },
            isOutOfBounds(question, event) {
                var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                question.minSelect = question.minSelect ? question.minSelect : 0;
                question.maxSelect = question.maxSelect ? question.maxSelect : 0;
                if (question.minSelect == 0 && question.maxSelect == 0) {
                    return false;
                }
                return $inputs.length < question.minSelect || $inputs.length > question.maxSelect;

            },
            isInputed(question, event) {
                console.log($inputs);
                if (question.type === 1) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 2) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 3) {
                    var $inputs = $(event.srcElement).parents('.question').find('input:checked');
                    return $inputs.length !== 0;
                }
                if (question.type === 4) {
                    var $inputs = $(event.srcElement).parents('.question').find('input');
                    var flag = true;
                    $.each($inputs, function (index, value) {
                        if ($(value).val() === '') {
                            flag = false;
                        }
                    });
                    return flag;
                }

            },
            closeWin() {
                window.opener = null;
                window.top.open('', '_self', '');
                window.close(this);
            },
            submit() {
                var that = this;
                if (!this.validateForm()) {
                    alert('请完成表单');
                    return false;
                }
                this.current++;
                if (this.survey.collectPhone === 1 && this.phone === '') {
                    $("#theForm").hide();
                    $("#phoneContent").show();
                    return false;
                }
                AJAX.POST_JSON('zsQuestion/answer', {
                    zsAnswerItemSaves: $('#theForm').serializeArray(),
                    surveyId: this.getParams('surveyId'),
                    phone: this.phone,
                    seat: this.phone
                }, function (resp) {
                    // alert(resp.msg);
                    $("#phoneContent").hide();
                    $("#theForm").hide();
                    $("#end").show();
                    that.survey.endShow = resp.msg;
                    // window.close();
                    return false;
                });

            },
            radioName(opt) {
                if (opt.questionId) {
                    return 'radio_' + opt.questionId;
                }
            },
            showOptions(question, option) {
                if (option.questionOrderNum) {
                    return option.questionOrderNum === question.orderNum;
                }
                if (option.questionId && question.id) {
                    return option.questionId === question.id;
                }
                return false;
            },
            loadParams() {
                var params = location.href.split("?")[1];
                var paramsPair = params.split("&");
                this.paramsPair = paramsPair;
            },
            getParams(paramName) {
                var result = null;
                this.paramsPair.forEach(function (value) {
                    if (value.includes(paramName)) {
                        result = value.split("=")[1];
                        return;
                    }
                });
                return result;
            },
            loadSurvey() {
                var that = this;
                AJAX.GET('zsSurvey/questions/' + this.getParams('surveyId'), {}, function (resp) {
                    that.questions = resp.data;
                    if (that.questions.length === 1) {
                        that.showSubmit = true;
                    }
                });
                AJAX.GET('zsSurvey/' + this.getParams('surveyId'), {}, function (resp) {
                    that.survey = resp.data;
                    document.title = that.survey.name;
                    if (resp.data.currentNum >= resp.data.collectNum) {
                        alert("该问卷已经调查完成！");
                        $("#nextQuestion").hide();
                    }
                });
            }
        }
    });
</script>
</html>