<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">请输入旧密码：</label>
                    <div class="col-sm-8">
                        <input id="oldPwd" name="oldPwdInput" class="form-control" type="text" v-model="input.oldPwdInput">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">请输入新密码：</label>
                    <div class="col-sm-8">
                        <input id="newPwd" name="newPwd" class="form-control" type="text" v-model="input.newPwd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">请重复新密码：</label>
                    <div class="col-sm-8">
                        <input id="password" name="password" class="form-control" type="text" v-model="user.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button type="button" class="btn btn-secondary" v-on:click="cancel()">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="save()">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            oldPwd:'', //用户密码
            input:{
                oldPwdInput:'', //旧密码输入
                newPwd:'',     //新密码输入
            },
            user:{
                uid:'',
                oldPassword: '',
                password:'', //新密码确认
            },
        },
        created: function () {
            this.loadMe();
        },
        methods: {
            loadMe(){
                var that = this;
                var userJsonStr = sessionStorage.getItem('user');
                that.oldPwd=JSON.parse(userJsonStr).password;
                that.user = {
                    uid: JSON.parse(userJsonStr).userid,
                };
            },
            cancel: function () {
                this.backToMain();
            },
            save: function () {
                let that = this;
                console.log(that.user);
                if(that.input.oldPwdInput=='') toastr.error("旧密码输入不可为空！");
                else if(that.input.newPwd=='') toastr.error("新密码不可为空！");
                else if(that.user.password=='') toastr.error("新密码不可为空！");
                else if(that.user.password!=that.input.newPwd) toastr.error("新密码输入不一致！");
                else{
                    that.user.oldPassword = this.input.oldPwdInput;
                    confirm("您确定要修改密码吗?修改后需重新登录!", "", function (isConfirm) {
                        if (isConfirm) {
                            if(!$("#signupForm").valid()){
                                return false;
                            }
                            AJAX.PUT('/system/sysUser', JSON.stringify(that.user), function (resp) {
                                toastr.success(resp.msg);
                                sessionStorage.clear();
                                window.location.href = "/login?redirect_url=/survey/";
                            });
                        } else {
                            //after click the cancel
                        }
                    }, {confirmButtonText: '确认', cancelButtonText: '取消', width: 400});
                }
            },
            backToMain: function () {
                $.pjax({
                    url: mvm.applicationContextRootPath + 'pages/home.html',
                    container: '.page-container'
                });
            }
        }
    });

</script>
