<script src="/survey/js/validateIsMain.js"></script>
<section class="py-5 wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row row-sm text-center">
                        <div class="col-xs-6">
                            <div class="panel padder-v item">
                                <div class="h1 text-info font-thin h1">1</div>
                                <span class="text-muted text-xs">项目总数</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel padder-v item bg-info">
                                <div class="h1 text-fff font-thin h1">6</div>
                                <span class="text-muted text-xs">问卷总数</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel padder-v item bg-primary">
                                <div class="h1 text-fff font-thin h1">1490</div>
                                <span class="text-muted text-xs">已收集数</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel padder-v item">
                                <div class="font-thin h1">20800</div>
                                <span class="text-muted text-xs">共需收集</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>调查中</h5>
                </div>
                <div class="ibox-content">
                    <ul class="todo-list m-t small-list ui-sortable">
                        <li>
                            <a href="widgets.html#" class="check-link"><i class="fa fa-check-square"></i> </a>
                            <span class="m-l-xs todo-completed">关于杭州市五水共治情况调查信息</span>

                        </li>
                        <li>
                            <a href="widgets.html#" class="check-link"><i class="fa fa-check-square"></i> </a>
                            <span class="m-l-xs  todo-completed">电信诈骗民众知晓情况</span>

                        </li>
                        <li>
                            <a href="widgets.html#" class="check-link"><i class="fa fa-square-o"></i> </a>
                            <span class="m-l-xs">创建文明城市</span>
                            <div><small class="label label-primary"><i class="fa fa-clock-o"></i>已开始 1小时</small></div>
                        </li>
                        <li>
                            <a href="widgets.html#" class="check-link"><i class="fa fa-square-o"></i> </a>
                            <span class="m-l-xs">杭州市垃圾分类知晓情况	</span>
                            <div><small class="label label-primary"><i class="fa fa-clock-o"></i>已开始 1小时</small></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<script src="/attendance/js/validateIsMain.js"></script>-->
