<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.survey.mapper.ZsSurveyBenchmarkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.survey.model.ZsSurveyBenchmark">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="work_date" property="workDate" />
        <result column="avg_top_num" property="avgTopNum" />
        <result column="work_hours" property="workHours" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, work_date, avg_top_num, work_hours
    </sql>

</mapper>
