<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>打捆信息</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            <div class="row search-form">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="请输入名称关键字" class="input-sm form-control search-input"
                               v-model="pageInfo.name">
                        <span
                                class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" v-on:click="pagequery()"> 搜索</button> </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.creator ? item.creator.nickname : ''}}</td>
                        <td>{{item.createdAt}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>
        </div>
    </div>
</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    customerVue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            items: []
        },
        created: function () {
        },
        mounted: function () {
        },
        methods: {
            pagequery: function () {
                let that = this;
                AJAX.GET('customerGroup', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
        }
    });
</script>