<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>号码申请页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <style>
        .success {
            color: green;
        }
    </style>
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="applySheet" class="layui-form-label">
                <span class="x-red">*</span>客户申请表
            </label>
            <div class="layui-input-inline">
                <input type="file" id="applySheet" name="applySheet" @change="upload('applySheet')"
                       :disabled="apply.status && apply.status.code !== 1"
                       autocomplete="off" class="layui-input">
                <span v-if="apply.applySheet" class="span success">已上传</span>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>客户申请表
            </div>
        </div>
        <div class="layui-form-item">
            <label for="license" class="layui-form-label">
                <span class="x-red">*</span>单位资质
            </label>
            <div class="layui-input-inline">
                <input type="file" id="license" name="license" @change="upload('license')"
                       :disabled="apply.status && apply.status.code !== 1"
                       autocomplete="off" class="layui-input">
                <span v-if="apply.license" class="span success">已上传</span>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>营业执照加盖红色公章，注明用途和时间
            </div>
        </div>
        <div class="layui-form-item">
            <label for="cardLegal" class="layui-form-label">
                <span class="x-red">*</span>法人身份证
            </label>
            <div class="layui-input-inline">
                <input type="file" id="cardLegal" name="cardLegal" @change="upload('cardLegal')"
                       :disabled="apply.status && apply.status.code !== 1"
                       autocomplete="off" class="layui-input">
                <span v-if="apply.cardLegal" class="span success">已上传</span>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>正反面加盖红色公章，注明用途和时间
            </div>
        </div>
        <div class="layui-form-item">
            <label for="cardAgent" class="layui-form-label">
                <span class="x-red">*</span>经办人身份证
            </label>
            <div class="layui-input-inline">
                <input type="file" id="cardAgent" name="cardAgent" @change="upload('cardAgent')"
                       :disabled="apply.status && apply.status.code !== 1"
                       autocomplete="off" class="layui-input">
                <span v-if="apply.cardAgent" class="span success">已上传</span>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>身份证复印件正反面一张A4并加盖红色公章，注明用途和时间
            </div>
        </div>
        <div class="layui-form-item">
            <label for="handAgent" class="layui-form-label">
                <span class="x-red">*</span>经办人身份证手持照片
            </label>
            <div class="layui-input-inline">
                <input type="file" id="handAgent" name="handAgent" @change="upload('handAgent')"
                       :disabled="apply.status && apply.status.code !== 1"
                       autocomplete="off" class="layui-input">
                <span v-if="apply.handAgent" class="span success">已上传</span>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>经办人身份证手持照片
            </div>
        </div>
        <div class="layui-form-item">
            <label for="cardUser" class="layui-form-label">
                <span class="x-red">*</span>使用人身份证
            </label>
            <div class="layui-input-inline">
                <input type="file" id="cardUser" name="cardUser" @change="upload('cardUser')"
                       :disabled="apply.status && apply.status.code !== 1"
                       autocomplete="off" class="layui-input">
                <span v-if="apply.cardUser" class="span success">已上传</span>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>身份证复印件正反面一张A4并加盖红色公章，注明用途和时间
            </div>
        </div>
        <div class="layui-form-item">
            <label for="enterPromise" class="layui-form-label">
                <span class="x-red">*</span>电信入网承诺书
            </label>
            <div class="layui-input-inline">
                <input type="file" id="enterPromise" name="enterPromise" @change="upload('enterPromise')"
                       :disabled="apply.status && apply.status.code !== 1"
                       autocomplete="off" class="layui-input">
                <span v-if="apply.enterPromise" class="span success">已上传</span>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>电信入网承诺书（加盖红色公章）
            </div>
        </div>
        <div class="layui-form-item">
            <label for="applyLetter" class="layui-form-label">
                <span class="x-red">*</span>号码申请公函
            </label>
            <div class="layui-input-inline">
                <input type="file" id="applyLetter" name="applyLetter" @change="upload('applyLetter')"
                       :disabled="apply.status && apply.status.code !== 1"
                       autocomplete="off" class="layui-input">
                <span v-if="apply.applyLetter" class="span success">已上传</span>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>加盖红色公章
            </div>
        </div>
    </form>
    <div class="layui-form-item" v-if="apply.status && apply.status.code == 1">
        <button class="layui-btn" lay-filter="add" lay-submit="" @click="applyImmediately(apply)">
            立即申请
        </button>
    </div>
</div>
<script>
    new Vue({
        el: '.x-body',
        data: {
            apply: {},
            userInfo: {}
        },
        created: function () {
            if (localStorage.getItem("params")) {
                this.applying(localStorage.getItem("params"));
                localStorage.removeItem("params");
            } else {
                this.applying();
            }

        },
        methods: {
            applyImmediately(apply) {
                if (!apply.id) {
                    return parent.layer.msg("请完善资料文件");
                }
                parent.layer.confirm('是否立即申请?', function (index) {
                    parent.AJAX.GET("applyNumber/apply/" + apply.id, {}, function (resp) {
                        if (resp && resp.msg) {
                            parent.parent.layer.msg(resp.msg, {icon: 1, time: 1000});
                            x_admin_close();
                        }
                    });
                    parent.layer.close(index);
                });
            },
            applying(id) {
                let that = this;
                //查询正在编辑的
                console.log(id);
                parent.AJAX.GET("applyNumber/applying", {id: id}, function (resp) {
                    if (resp.data) {
                        that.apply = resp.data;
                    }
                })
            },
            upload(id) {
                let that = this;
                parent.parent.AJAX.UPLOAD("realname/applyNumber/upload", {
                    file: $('#' + id)[0].files[0],
                    fileType: id
                }, function (resp) {
                    parent.parent.layer.msg(resp.msg, {icon: 1, time: 1000});
                    that.applying();
                })
            }
        }
    });
</script>

</body>

</html>
