<div id="subContainer">
    <section class="py-5">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6" style="">
                        <h6 class="text-uppercase mb-0">参数列表</h6>
                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <a class="icon text-white bg-green" :href="applicationContextRootPath + 'pages/args_add.html'"
                           data-pjax style="display: inline-flex;"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped card-text">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>参数名称</th>
                        <th>代码</th>
                        <th>参数值</th>
                        <th>最近一次修改</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/attendance/'
        },
        created: function () {

        },
        methods: {

        }
    });
</script>
