<style>
    .droppable-active {
        background-color: #ffe !important;
    }

    .tools a {
        cursor: pointer;
        font-size: 80%;
    }

    .form-body .col-md-6,
    .form-body .col-md-12 {
        min-height: 400px;
    }

    .draggable {
        cursor: move;
    }

    .re-edit-input {
        position: absolute;
        top: 300px;
        left: 500px;
        z-index: 999;
    }

    dd {
        margin-left: 1rem;
    }

    .setting {
        display: none;
    }

    .ui-draggable:hover .setting {
        display: inline;
    }

    .max-select {
        color: #337ab7;
    }

    .min-select {
        color: #337ab7;
    }
</style>

<style type="text/css">
    .star-box {
        display: inline-block;
    }

    .star-box label {
        float: right;
        color: #999;
        margin-bottom: 0px;
    }

    .star-box label::after {
        content: '★';
        font-size: 14px;
        padding: 5px;
        display: inline-block;
        line-height: 1;
    }

    .star-box input:checked ~ label,
    .star-box label:hover ~ label,
    .star-box label:hover {
        color: red;
    }
</style>

<style>
    .question {
        min-height: 100px;
    }

    .survey-tools {
        font-size: 20px;
        display: none;
        position: absolute;
        padding-top: 10px;
        z-index: 999;
    }

    .survey-tools span {
        cursor: pointer;
    }

    .ui-draggable:hover .survey-tools {
        display: inline-grid;
    }

    .ui-draggable:hover .option-delete {
        display: inline-block;
    }

    .option {
        padding: 5px;
    }

    .option-delete {
        padding: 5px;
        display: none;
    }

    .no-padding-left {
        padding-left: 0;
    }
</style>


<div id="subContainer" class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{survey.name}}</h5>
                <div class="ibox-tools">
                    <a v-on:click=backToListPage() class="btn btn-info btn-xs">问卷列表</a>
                    <a v-on:click=backToProjectDetails() class="btn btn-info btn-xs">项目详情</a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-sm-3 control-label">需收集数:</label>
                        <label class="col-sm-3 control-label">{{survey.collectNum}}</label>
                    </div>

                    <div class="col-sm-4">
                        <label class="col-sm-3 control-label">收集方式:</label>
                        <label class="col-sm-3 control-label">{{survey.collectType ? survey.collectType.name :
                            ''}}</label>
                        <a v-on:click=contacts(survey)
                           v-if="survey.collectType ? survey.collectType.value !== 2 : false"
                           class="btn btn-info btn-xs">联系人</a>
                    </div>

                    <div class="col-sm-4">
                        <label class="col-sm-3 control-label">已收集数:</label>
                        <label class="col-sm-3 control-label">{{survey.currentNum}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>元素</h5>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-info">
                        拖拽左侧的元素到右侧区域，即可生成相应的问卷模板
                    </div>
                    <form role="form" class="form-horizontal m-t">

                        <div class="form-group draggable" question-type='1'>
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label"><span class="question-index">1</span>.</label>
                                <label class="col-sm-9 control-label" style="padding-left: 0px;text-align: left;"><span
                                        class="editable question-title">单选题</span></label>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9 survey-optins">
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" checked="" value="option1" id="optionsRadios1"
                                               name="optionsRadios"><span
                                            class="editable question-option">选项1</span></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" value="option2" id="optionsRadios2"
                                               name="optionsRadios"><span
                                            class="editable question-option">选项2</span></label>

                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group draggable" question-type='2'>
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label"><span class="question-index">2</span>.</label>
                                <label class="col-sm-9 control-label" style="padding-left: 0px;text-align: left;"><span
                                        class="editable question-title">多选题</span></label>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9 survey-optins">
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1"><span
                                            class="editable question-option">选项1</span></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option2"><span
                                            class="editable question-option">选项2</span></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option3"><span
                                            class="editable question-option">选项3</span></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group draggable" question-type='3'>
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label"><span class="question-index">3</span>.</label>
                                <label class="col-sm-9 control-label" style="padding-left: 0px;text-align: left;"><span
                                        class="editable question-title">评分题</span></label>
                            </div>
                            <div class="col-sm-3 survey-optins" style="text-align: right;">

                            </div>
                            <div class="col-sm-9 survey-optins">

                                <div option-type="rate">
                                    <label class="control-label" style=""><span
                                            class="editable question-option">评分项</span>:
                                        <label style="float: right; padding-top: 0px;"
                                               class="control-label target-demo function-demo col-sm-6"></label>
                                    </label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group draggable" question-type='4'>
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label"><span class="question-index">4</span>.</label>
                                <label class="col-sm-9 control-label" style="padding-left: 0px;text-align: left;"><span
                                        class="editable question-title">问答题</span></label>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9 survey-optins">
                                <div>
                                    <span class="editable question-option">答</span>
                                    <label class="radio-inline">
                                        <input type="text"
                                               name="optionsRadios"></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>拖拽左侧元素到此区域</h5>
                </div>

                <div class="ibox-content">
                    <div class="row form-body form-horizontal m-t">
                        <div class="col-md-12 droppable sortable" id="surveyArea">
                            <div class="form-group draggable ui-draggable dropped question"
                                 v-for="(question, index) in loadData.zsQuestions">
                                <div class="survey-tools setting">
                                    <span class="fa fa-trash" v-on:click="removeQuestion(question)"
                                          data-toggle="tooltip" data-placement="top" title="添加选项"></span>
                                    <span class="fa fa-plus-circle" v-on:click="addOption(question)"
                                          data-toggle="tooltip" data-placement="top" title="添加选项"></span>
                                    <span class="fa fa-arrow-up" v-on:click="moveUp(question)" data-toggle="tooltip"
                                          data-placement="top" title="上移"></span>
                                    <span class="fa fa-arrow-down" v-on:click="moveDown(question)" data-toggle="tooltip"
                                          data-placement="top" title="下移"></span>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 control-label">
                                        <span class="question-index">{{question.orderNum}}</span>.</label>
                                    <label class="col-sm-5 control-label" style="padding-left: 0px; text-align: left;">
                                        <span class="editable question-title"
                                              v-on:dblclick="bindEdit($event, question)">{{question.name}}</span>
                                    </label>
                                    <label class="col-sm-2 control-label setting"
                                           style="padding-left: 0px; text-align: left;" v-if="question.type===2">
                                        最大选择数：<span class="editable max-select"
                                                    v-on:dblclick="bindMaxEdit($event, question)">{{question.maxSelect ? question.maxSelect : '设置'}}</span>
                                    </label>
                                    <label class="col-sm-2 control-label setting"
                                           style="padding-left: 0px; text-align: left;" v-if="question.type===2">
                                        最小选择数：<span class="editable min-select"
                                                    v-on:dblclick="bindMinEdit($event, question)">{{question.minSelect ? question.minSelect : '设置'}}</span>
                                    </label>
                                </div>
                                <div class="row" v-for="(option, i) in question.options">
                                    <div class="col-sm-3" style="text-align: right;padding-right: 0">
                                        <div class="option-delete" v-on:click="deleteOption(question, option)">
                                            <label class="radio-inline option-delete" style="margin-right: 0;">
                                                <span class="fa fa-trash" data-toggle="tooltip" data-placement="top"
                                                      title="删除选项"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 no-padding-left" v-if="question.type === 1">
                                        <div class="col-sm-9 no-padding-left">
                                            <div class="option no-padding-left">
                                                <label class="radio-inline no-padding-left">{{option.orderNum}}.</label>
                                                <label class="radio-inline">
                                                    <input type="radio" :value="option.name"
                                                           :name="'radio_' + question.orderNum">
                                                    <span class="editable question-option"
                                                          v-on:dblclick="bindEdit($event, option)">{{option.name}}</span>
                                                </label>
                                                <label class="radio-inline" v-if="option.hasRemark">
                                                    <span class="fa fa-flag"></span>
                                                </label>
                                                <label class="radio-inline" v-if="option.boundary">
                                                    配额：<span>{{option.boundary}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="option-delete">
                                                <label style="padding: 0px 5px;"><span class="fa fa-terminal"
                                                                                       data-toggle="tooltip"
                                                                                       v-on:click="addRemark(question, option)"
                                                                                       v-if="question.type = 1"
                                                                                       data-placement="top"
                                                                                       title="设置备注"></span></label>
                                                <label style="padding: 0px 5px;"><span class="fa fa-cogs"
                                                                                       data-toggle="tooltip"
                                                                                       v-if="question.type == 1 && question.orderNum == 1"
                                                                                       v-on:click="bindPEEdit($event, option)"
                                                                                       data-placement="top"
                                                                                       title="甄选配额"></span></label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-9 no-padding-left" v-if="question.type === 2">
                                        <div class="col-sm-9 no-padding-left">
                                            <div v-on:dblclick="bindEdit($event, option)"
                                                 class="option no-padding-left">
                                                <label class="checkbox-inline no-padding-left">{{option.orderNum}}.</label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" :value="option.name"
                                                           :name="'checkbox_' + question.orderNum + '_' + option.orderNum">
                                                    <span class="editable question-option">{{option.name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="col-sm-9 no-padding-left" v-if="question.type === 3">
                                        <div class="col-sm-9 no-padding-left">
                                            <div class="no-padding-left">
                                                <label class="checkbox-inline no-padding-left">{{option.orderNum}}.
                                                    <span v-on:dblclick="bindEdit($event, option)">{{option.name}}:</span></label>
                                                <label class="checkbox-inline">
                                                    <span class="star-box">
                                                        <input type="radio"
                                                               :name="'star_' + question.orderNum + '_' + option.orderNum"
                                                               :id="'star_' + question.orderNum + '_' + option.orderNum + '_5'"
                                                               :value="5"
                                                               hidden/>
                                                        <label :for="'star_' + question.orderNum + '_' + option.orderNum + '_5'"></label>

                                                        <input type="radio"
                                                               :name="'star_' + question.orderNum + '_' + option.orderNum"
                                                               :id="'star_' + question.orderNum + '_' + option.orderNum + '_4'"
                                                               :value="4"
                                                               hidden/>
                                                        <label :for="'star_' + question.orderNum + '_' + option.orderNum + '_4'"></label>

                                                        <input type="radio"
                                                               :name="'star_' + question.orderNum + '_' + option.orderNum"
                                                               :id="'star_' + question.orderNum + '_' + option.orderNum + '_3'"
                                                               :value="3"
                                                               hidden/>
                                                        <label :for="'star_' + question.orderNum + '_' + option.orderNum + '_3'"></label>

                                                        <input type="radio"
                                                               :name="'star_' + question.orderNum + '_' + option.orderNum"
                                                               :id="'star_' + question.orderNum + '_' + option.orderNum + '_2'"
                                                               :value="2"
                                                               hidden/>
                                                        <label :for="'star_' + question.orderNum + '_' + option.orderNum + '_2'"></label>

                                                        <input type="radio"
                                                               :name="'star_' + question.orderNum + '_' + option.orderNum"
                                                               :id="'star_' + question.orderNum + '_' + option.orderNum + '_1'"
                                                               :value="1"
                                                               hidden/>
                                                        <label :for="'star_' + question.orderNum + '_' + option.orderNum + '_1'"></label>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="col-sm-9 no-padding-left" v-if="question.type === 4">
                                        <div class="col-sm-9 no-padding-left">
                                            <div v-on:dblclick="bindEdit($event, option)"
                                                 class="option no-padding-left">
                                                <label class="checkbox-inline no-padding-left">{{option.orderNum}}.</label>
                                                <label class="checkbox-inline no-padding-left">
                                                    <span class="editable question-option">{{option.name}}</span>
                                                    <input type="text"
                                                           :name="'checkbox_' + question.orderNum + '_' + option.orderNum">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning" data-clipboard-text="testing" id="copy-to-clipboard">
                        保存问卷
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">问卷联系人</h4>
                </div>
                <div class="modal-body">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 联系人</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">新建</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">导入</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>联系人</th>
                                                <th>手机号</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(item, index) in concats">
                                                <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                                                <td>{{item.name}}</td>
                                                <td>{{item.phone}}</td>
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-danger btn-xs">删除
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                                                 :changge="pageFn"></pageination>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <form class="form-horizontal m-t" id="signupForm">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">联系人：</label>
                                            <div class="col-sm-8">
                                                <input name="name" class="form-control" type="text"
                                                       v-model="concat.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">手机号：</label>
                                            <div class="col-sm-8">
                                                <input name="phone" class="form-control" type="text"
                                                       v-model="concat.phone">
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-success" v-on:click="saveConcat()">提交
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    导入
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="toIndexModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myToIndexModalLabel">跳题</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal m-t">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">下一题：</label>
                            <div class="col-sm-6">
                                <input name="name" class="form-control" type="text" v-model="navigat.nextIndex">
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary" v-on:click="saveToIndex()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/survey/js/plugins/beautifyhtml/beautifyhtml.js"></script>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            survey: {},
            saveData: {
                zsQuestions: [],
                zsOptions: [],
                surveyId: 0
            },
            loadData: {
                zsQuestions: []
            },
            concats: [],
            pageInfo: {
                surveyId: sessionStorage.getItem('editParams'),
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            concat: {
                name: '',
                phones: '',
                surveyId: sessionStorage.getItem('editParams')
            },
            navigat: {
                selectedOption: null,
                nextIndex: null
            }
        },
        watch: {},
        mounted: function () {
            this.initDraggable();
            this.initDropable();
        },
        created: function () {
            this.loadSurvey();
            this.loadQuestions();
        },
        computed: {},
        methods: {
            loadSurvey() {
                var that = this;
                AJAX.GET('zsSurvey/' + sessionStorage.getItem('editParams'), {}, function (resp) {
                    that.survey = {
                        id: resp.data.id,
                        name: resp.data.name,
                        currentNum: resp.data.currentNum,
                        collectNum: resp.data.collectNum,
                        projectId: resp.data.projectId,
                        collectType: resp.data.collectType
                    };
                })
            },
            removeQuestion(question) {
                var qIndex = this.loadData.zsQuestions.indexOf(question);
                this.loadData.zsQuestions.splice(qIndex, 1);
            },
            addRemark(question, myoption) {
                if (myoption.hasRemark == true) {
                    myoption.hasRemark = false;
                } else {
                    myoption.hasRemark = true;
                }
                console.log(this.loadData.zsQuestions)
            },
            deleteOption(question, option) {
                var questionIndexNum = this.loadData.zsQuestions.indexOf(question);
                question.options.splice(question.options.indexOf(option), 1);
                if (question.options.length == 0) {
                    this.loadData.zsQuestions.splice(questionIndexNum, 1);
                }
                // 调整序号
                $.each(question.options, function (index, item) {
                    if (item.orderNum > option.orderNum) {
                        item.orderNum -= 1;
                    }
                })
            },
            addOption(question) {
                var optionForQuestionNum = question.options.length;
                if (question.type == 1) {
                    question.options.push({
                        orderNum: optionForQuestionNum + 1,
                        name: '新选项',
                        hasRemark: false,
                        questionOrderNum: question.orderNum
                    })
                }
                if (question.type == 2) {
                    question.options.push({
                        orderNum: optionForQuestionNum + 1,
                        name: '新选项',
                        hasRemark: false,
                        questionOrderNum: question.orderNum
                    })
                }
            },
            moveDown(question) {
                var index = this.loadData.zsQuestions.indexOf(question);
                if (index === (this.loadData.zsQuestions.length - 1)) {
                    return alert('已经是在最底部了');
                }
                this.changeIndex(this.loadData.zsQuestions, index, index + 1);
                console.log(index);
            },
            moveUp(question) {
                var index = this.loadData.zsQuestions.indexOf(question);
                if (index === 0) {
                    return alert('已经是在最顶部了');
                }
                this.changeIndex(this.loadData.zsQuestions, index, index - 1);
                console.log(index);
            },
            editable(option) {

            },
            pageFn(val) {
                this.pageInfo.pageNum = val;
                this.pageQuery();
            },
            pageQuery() {
                var that = this;
                AJAX.GET('zsConcat', this.pageInfo, function (resp) {
                    that.concats = resp.data.list;
                })
            },
            initDraggable() {
                $(".draggable").draggable({
                    appendTo: "body",
                    helper: "clone"
                });
            },
            initDropable() {
                var that = this;
                $(".droppable").droppable({
                    accept: ".draggable",
                    helper: "clone",
                    hoverClass: "droppable-active",
                    drop: function (event, ui) {
                        $(".empty-form").remove();
                        var $orig = $(ui.draggable);

                        var $el = null;
                        if (!$(ui.draggable).hasClass("dropped")) {
                            $el = $orig
                                .clone()
                                .addClass("dropped")
                                .css({
                                    "position": "static",
                                    "left": null,
                                    "right": null
                                });
                            that.loadData.zsQuestions.push(
                                {
                                    orderNum: that.loadData.zsQuestions.length + 1,
                                    name: '题标题',
                                    type: Number.parseInt($el.attr('question-type')),
                                    maxSelect: 1,
                                    minSelect: 1,
                                    options: [
                                        {
                                            orderNum: 1,
                                            name: '选项1',
                                            hasRemark: false,
                                            boundary: null, // 选项配额
                                            questionOrderNum: that.loadData.zsQuestions.length + 1
                                        }, {
                                            orderNum: 2,
                                            name: '选项2',
                                            hasRemark: false,
                                            boundary: null, // 选项配额
                                            questionOrderNum: that.loadData.zsQuestions.length + 1
                                        }
                                    ]
                                }
                            );
                        }
                    }
                });
            },
            changeIndex(arr, newIndex, oldIndex) {
                var item = arr[oldIndex];
                arr.splice(oldIndex, 1);
                arr.splice(newIndex, 0, item);
                var order = arr[newIndex].orderNum
                arr[newIndex].orderNum = arr[oldIndex].orderNum
                arr[oldIndex].orderNum = order;
                this.loadData.zsQuestions = arr;
            },
            bindPEEdit(event, obj) {
                var that = this;
                var element = event.srcElement;
                var oldhtml = element.innerHTML;//获得元素之前的内容
                if (element.firstElementChild && element.firstElementChild.tagName.toUpperCase() === "INPUT") {
                    return;
                }
                var newobj = document.createElement('input');//创建一个input元素
                newobj.type = 'text';//为newobj元素添加类型
                newobj.value = oldhtml;
                // element.innerHTML = '';　　 //设置元素内容为空
                element.appendChild(newobj);//添加子元素
                newobj.focus();//获得焦点
                //设置newobj失去焦点的事件
                newobj.onblur = function () {
                    $(newobj).remove()
                    obj.boundary = parseInt(this.value);
                }
            },
            bindEdit(event, obj) {
                var that = this;
                var element = event.srcElement;
                var oldhtml = element.innerHTML;//获得元素之前的内容
                if (element.firstElementChild && element.firstElementChild.tagName.toUpperCase() === "INPUT") {
                    return;
                }
                var newobj = document.createElement('input');//创建一个input元素
                newobj.type = 'text';//为newobj元素添加类型
                newobj.value = oldhtml;
                // element.innerHTML = '';　　 //设置元素内容为空
                element.appendChild(newobj);//添加子元素
                newobj.focus();//获得焦点
                //设置newobj失去焦点的事件
                newobj.onblur = function () {
                    $(newobj).remove()
                    obj.name = this.value
                }
            },
            bindMaxEdit(event, obj) {
                var that = this;
                var element = event.srcElement;
                var oldhtml = element.innerHTML;//获得元素之前的内容
                if (element.firstElementChild && element.firstElementChild.tagName.toUpperCase() === "INPUT") {
                    return;
                }
                var newobj = document.createElement('input');//创建一个input元素
                newobj.type = 'text';//为newobj元素添加类型
                newobj.value = oldhtml;
                // element.innerHTML = '';　　 //设置元素内容为空
                element.appendChild(newobj);//添加子元素
                newobj.focus();//获得焦点
                //设置newobj失去焦点的事件
                newobj.onblur = function () {
                    $(newobj).remove()
                    obj.maxSelect = parseInt(this.value);
                }
            },
            bindMinEdit(event, obj) {
                var that = this;
                var element = event.srcElement;
                var oldhtml = element.innerHTML;//获得元素之前的内容
                if (element.firstElementChild && element.firstElementChild.tagName.toUpperCase() === "INPUT") {
                    return;
                }
                var newobj = document.createElement('input');//创建一个input元素
                newobj.type = 'number';//为newobj元素添加类型
                newobj.value = oldhtml;
                // element.innerHTML = '';　　 //设置元素内容为空
                element.appendChild(newobj);//添加子元素
                newobj.focus();//获得焦点
                //设置newobj失去焦点的事件
                newobj.onblur = function () {
                    $(newobj).remove()
                    obj.minSelect = parseInt(this.value);
                }
            },
            backToListPage() {
                toPage('pages/survey/index.html')
            },
            backToProjectDetails() {
                sessionStorage.setItem('editParams', this.survey.projectId);
                toPage('pages/project/details.html')
            },
            loadQuestions() {
                var that = this;
                AJAX.GET('zsSurvey/questionAndOptions/' + sessionStorage.getItem('editParams'), {}, function (resp) {
                    that.loadData = resp.data;
                })
            }
        }
    });

    $().ready(function () {
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                name: {
                    required: true
                },
                phone: {
                    required: true,
                    isMobile: true
                }
            },
            messages: {
                name: {
                    required: icon + "请输入联系人"
                },
                phone: {
                    required: icon + "请输入手机号",
                    isMobile: icon + "请输入有效的手机号"
                }
            }
        });

        // propose username by combining first- and lastname
        $("#username").focus(function () {
            var firstname = $("#firstname").val();
            var lastname = $("#lastname").val();
            if (firstname && lastname && !this.value) {
                this.value = firstname + "." + lastname;
            }
        });
    });


</script>
