<style>
    .droppable-active {
        background-color: #ffe !important;
    }

    .tools a {
        cursor: pointer;
        font-size: 80%;
    }

    .form-body .col-md-6,
    .form-body .col-md-12 {
        min-height: 400px;
    }

    .draggable {
        cursor: move;
    }

    .re-edit-input {
        position: absolute;
        top: 300px;
        left: 500px;
        z-index: 999;
    }

    dd {
        margin-left: 1rem;
    }
</style>


<div id="subContainer" class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{survey.name}}</h5>
                <div class="ibox-tools">
                    <a v-on:click=backToListPage() class="btn btn-info btn-xs">返回列表</a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">需收集数:</label>
                        <label class="col-sm-3 control-label">{{survey.collectNum}}</label>
                    </div>

                    <div class="col-sm-6">
                        <label class="col-sm-3 control-label">已收集数:</label>
                        <label class="col-sm-3 control-label">{{survey.currentNum}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>元素</h5>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-info">
                        拖拽左侧的元素到右侧区域，即可生成相应的问卷模板
                    </div>
                    <form role="form" class="form-horizontal m-t">

                        <div class="form-group draggable" question-type='1'>
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label"><span class="question-index">1</span>.</label>
                                <label class="col-sm-9 control-label" style="padding-left: 0px;text-align: left;"><span
                                        class="editable question-title">单选题</span></label>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9 survey-optins">
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" checked="" value="option1" id="optionsRadios1"
                                               name="optionsRadios"><span
                                            class="editable question-option">选项1</span></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" value="option2" id="optionsRadios2"
                                               name="optionsRadios"><span
                                            class="editable question-option">选项2</span></label>

                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group draggable" question-type='2'>
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label"><span class="question-index">2</span>.</label>
                                <label class="col-sm-9 control-label" style="padding-left: 0px;text-align: left;"><span
                                        class="editable question-title">多选题</span></label>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9 survey-optins">
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1"><span
                                            class="editable question-option">选项1</span></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option2"><span
                                            class="editable question-option">选项2</span></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option3"><span
                                            class="editable question-option">选项3</span></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group draggable" question-type='3'>
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label"><span class="question-index">3</span>.</label>
                                <label class="col-sm-9 control-label" style="padding-left: 0px;text-align: left;"><span
                                        class="editable question-title">评分题</span></label>
                            </div>
                            <div class="col-sm-3 survey-optins" style="text-align: right;">

                            </div>
                            <div class="col-sm-9 survey-optins">

                                <div option-type="rate">
                                    <label class="control-label" style=""><span class="editable">评分项</span>:
                                        <label style="float: right; padding-top: 0px;"
                                               class="control-label target-demo function-demo col-sm-6"></label>
                                    </label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group draggable" question-type='4'>
                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label"><span class="question-index">4</span>.</label>
                                <label class="col-sm-9 control-label" style="padding-left: 0px;text-align: left;"><span
                                        class="editable question-title">问答题</span></label>
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-9 survey-optins">
                                <div>
                                    <span class="editable">答</span>
                                    <label class="radio-inline">
                                        <input type="text"
                                               name="optionsRadios"></label>
                                    <label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>拖拽左侧元素到此区域</h5>
                    <div class="ibox-tools">
                        请选择显示的列数：
                        <select id="n-columns">
                            <option value="1">显示1列</option>
                            <option value="2">显示2列</option>
                        </select>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row form-body form-horizontal m-t">
                        <div class="col-md-12 droppable sortable" id="surveyArea">
                        </div>
                        <div class="col-md-6 droppable sortable" style="display: none;">
                        </div>
                        <div class="col-md-6 droppable sortable" style="display: none;">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning" data-clipboard-text="testing" id="copy-to-clipboard">
                        保存问卷
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/survey/js/plugins/beautifyhtml/beautifyhtml.js"></script>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            survey: {},
            saveData: {
                zsQuestions: [],
                zsOptions: [
                    {
                        questionOrderNum: 1,
                        orderNum: 1,
                        name: '张小飞'
                    },
                    {
                        questionOrderNum: 1,
                        orderNum: 2,
                        name: '2d小飞'
                    }
                ]
            }
        },
        methods: {
            backToListPage() {
                sessionStorage.setItem('editParams', this.survey.projectId);
                toPage('pages/project/details.html')
            },
            setUpRate(element) {
                $(element).raty({
                    number: 5,//多少个星星设置
                    targetType: 'hint',//类型选择，number是数字值，hint，是设置的数组值
                    path: this.applicationContextRootPath + 'img',
                    hints: ['差', '一般', '好', '非常好', '全五星'],
                    cancelOff: 'cancel-off.png',
                    cancelOn: 'cancel-on.png',
                    size: 24,
                    starHalf: 'star-half.png',
                    starOff: 'star-off.png',
                    starOn: 'star-on.png',
                    cancel: false,
                    targetKeep: true,
                    targetText: '请选择评分',

                    click: function (score, evt) {
                        alert('ID: ' + $(this).attr('id') + "\nscore: " + score + "\nevent: " + evt.type);
                    }
                });
            },
            setup_draggable() {
                var that = this;
                $(".draggable").draggable({
                    appendTo: "body",
                    helper: "clone"
                });
                $(".droppable").droppable({
                    accept: ".draggable",
                    helper: "clone",
                    hoverClass: "droppable-active",
                    drop: function (event, ui) {
                        $(".empty-form").remove();
                        var $orig = $(ui.draggable);

                        var $el = null;
                        if (!$(ui.draggable).hasClass("dropped")) {
                            $el = $orig
                                .clone()
                                .addClass("dropped")
                                .css({
                                    "position": "static",
                                    "left": null,
                                    "right": null
                                })
                                .appendTo(this);
                            // update id
                            var id = $orig.find(":input").attr("id");
                            if (id) {
                                id = id.split("-").slice(0, -1).join("-") + "-" + (parseInt(id.split("-").slice(-1)[0]) + 1)
                                $orig.find(":input").attr("id", id);
                                $orig.find("label").attr("for", id);
                            }
                            // tools
                            $('<p class="tools col-sm-12 col-sm-offset-3">\
                                <a class="edit-link">编辑HTML<a> | \
                                <a class="remove-link">移除</a> | \
                                <a class="add-link">添加</a></p>').appendTo($el);
                            $($el).find('.editable').dblclick(function ($event) {
                                that.bindEdit(this);
                            })
                        } else {
                            if ($(this)[0] != $orig.parent()[0]) {
                                $el = $orig
                                    .clone()
                                    .css({
                                        "position": "static",
                                        "left": null,
                                        "right": null
                                    })
                                    .appendTo(this);
                                $orig.remove();
                            }
                        }
                        if ($el && $el.find('.function-demo').length > 0) {
                            that.setUpRate($el.find('.function-demo').get(0));
                        }

                        that.reBindIndex();
                    }
                }).sortable({
                    out: function (event, ui) {
                        that.reBindIndex();
                    }
                });

            },
            reBindIndex() {
                $('#surveyArea').children().each(function (index, item) {
                    $(item).find('.question-index').text(index + 1)
                })
            },
            bindEdit(element) {
                var oldhtml = element.innerHTML;//获得元素之前的内容
                if (element.firstElementChild && element.firstElementChild.tagName.toUpperCase() === "INPUT") {
                    return;
                }
                var newobj = document.createElement('input');//创建一个input元素
                newobj.type = 'text';//为newobj元素添加类型
                newobj.value = oldhtml;
                element.innerHTML = '';　　 //设置元素内容为空
                element.appendChild(newobj);//添加子元素
                newobj.focus();//获得焦点
                //设置newobj失去焦点的事件
                newobj.onblur = function () {
                    //下面应该判断是否做了修改并使用ajax代码请求服务端将id与修改后的数据提交
                    // alert(element.id);
                    //当触发时判断newobj的值是否为空，为空则不修改，并返回oldhtml
                    element.innerHTML = this.value ? this.value : oldhtml;
                }
            },
            bindEvent() {
                var that = this;
                $("#n-columns").on("change", function () {
                    var v = $(this).val();
                    if (v === "1") {
                        var $col = $('.form-body .col-md-12').toggle(true);
                        $('.form-body .col-md-6 .draggable').each(function (i, el) {
                            $(this).remove().appendTo($col);
                        })
                        $('.form-body .col-md-6').toggle(false);
                    } else {
                        var $col = $('.form-body .col-md-6').toggle(true);
                        $(".form-body .col-md-12 .draggable").each(function (i, el) {
                            $(this).remove().appendTo(i % 2 ? $col[1] : $col[0]);
                        });
                        $('.form-body .col-md-12').toggle(false);
                    }
                });

                /**
                 * 保存
                 */
                $("#copy-to-clipboard").on("click", function () {
                    that.saveData.zsQuestions = [];
                    var $fg = $("#surveyArea").find('.form-group');
                    $fg.each(function (index, item) {
                        var surveyJson = {};
                        surveyJson.orderNum = $(item).find('.question-index').text();
                        surveyJson.name = $(item).find('.question-title').text();
                        surveyJson.type = $(item).attr('question-type');
                        surveyJson.surveyId = that.survey.id;
                        that.saveData.zsQuestions.push(surveyJson);
                    });
                    console.log(that.saveData);

                    AJAX.POST_JSON('zsQuestion', that.saveData
                        , function (resp) {
                            toastr.success(resp.msg);
                            // that.backToMain();
                        });
                    return false;
                });


                $(document).on("click", ".edit-link", function (ev) {
                    var $el = $(this).parent().parent();
                    var $el_copy = $el.clone();

                    var $edit_btn = $el_copy.find(".edit-link").parent().remove();

                    var $modal = that.get_modal(html_beautify($el_copy.html())).modal("show");
                    $modal.find(":input:first").focus();
                    $modal.find(".btn-success").click(function (ev2) {
                        var html = $modal.find("textarea").val();
                        if (!html) {
                            $el.remove();
                        } else {
                            $el.html(html);
                            $edit_btn.appendTo($el);
                        }
                        $modal.modal("hide");
                        return false;
                    })
                });

                $(document).on("click", ".remove-link", function (ev) {
                    $(this).parent().parent().remove();
                });

                $(document).on("click", ".add-link", function (ev) {
                    var $lastEle = $(this).parent().prev().children().last();
                    var newElement = $lastEle.prop("outerHTML");
                    if ($lastEle.attr("option-type") && $lastEle.attr("option-type") === 'rate') {
                        newElement = '<div option-type="rate">\n' +
                            '<label class="control-label" style=""><span class="editable">评分项</span>:\n' +
                            '<label style="float: right; padding-top: 0px;" class="control-label target-demo function-demo col-sm-6"></label>\n' +
                            '</label>\n' +
                            '<label class="radio-inline"><span class="fa fa-trash options-delete"></span></label>\n' +
                            '</div>'
                    }

                    $(this).parent().prev().append(newElement);
                    $(this).parent().prev().find(".editable").last().dblclick(function () {
                        that.bindEdit(this);
                    });
                    that.setUpRate($(this).parent().prev().find('.function-demo').last());
                });

                $(document).on("click", ".options-delete", function (ev) {
                    var $optionsArea = $(this).parent().parent().parent();
                    $(this).parent().parent().remove();
                    if ($optionsArea.children().length === 0) {
                        $optionsArea.parent('.form-group').remove();
                    }
                });
            },
            get_modal(content) {
                var modal = $('<div class="modal" style="overflow: auto;" tabindex="-1">\
                <div class="modal-dialog">\
                    <div class="modal-content">\
                        <div class="modal-header">\
                            <a type="button" class="close"\
                                data-dismiss="modal" aria-hidden="true">&times;</a>\
                            <h4 class="modal-title">编辑HTML</h4>\
                        </div>\
                        <div class="modal-body ui-front">\
                            <textarea class="form-control" \
                                style="min-height: 200px; margin-bottom: 10px;\
                                font-family: Monaco, Fixed">' + content + '</textarea>\
                            <button class="btn btn-success">更新HTML</button>\
                        </div>\
                    </div>\
                </div>\
                </div>').appendTo(document.body);

                return modal;
            },
            loadEntity() {
                var that = this;
                AJAX.GET('zsSurvey/' + sessionStorage.getItem('editParams'), {}, function (resp) {
                    that.survey = {
                        id: resp.data.id,
                        name: resp.data.name,
                        currentNum: resp.data.currentNum,
                        collectNum: resp.data.collectNum,
                        projectId: resp.data.projectId
                    };
                })
            }
        },
        created: function () {
            this.loadEntity();
        },
        mounted: function () {
            this.setup_draggable();

            this.bindEvent();
        }
    });


</script>
