<style>
    .droppable-active {
        background-color: #ffe !important;
    }

    .tools a {
        cursor: pointer;
        font-size: 80%;
    }

    .form-body .col-md-6,
    .form-body .col-md-12 {
        min-height: 400px;
    }

    .draggable {
        cursor: move;
    }

    .sortable > div:hover {
        border: 1px darkgray dotted;
    }

    .option:hover {
        border: 1px darkgray dotted;
    }

    .cursor-pointer {
        cursor: pointer;
    }
</style>

<div id="subContainer" class="wrapper wrapper-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                拖拽到下方区域，即可生成快速模板
            </div>
            <div class="ibox-content">
                <div class="form-group draggable alert alert-success col-sm-4" draggable="true"
                     @dragstart="dragstart($event, {type: 1})" @dragend="dragend($event)">
                    <label class="col-sm-12">单选题：</label>
                </div>
                <div class="form-group draggable alert alert-info col-sm-4" draggable="true"
                     @dragstart="dragstart($event, {type: 2})" @dragend="dragend($event)">
                    <label class="col-sm-12">多选题：</label>
                </div>
                <div class="form-group draggable alert alert-warning col-sm-4" draggable="true"
                     @dragstart="dragstart($event, {type: 3})" @dragend="dragend($event)">
                    <label class="col-sm-12">问答题：</label>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>拖拽左侧表单元素到此区域</h5>
                    <div class="ibox-tools">
                        <div class="ibox-tools">
                            <a
                                    data-pjax class="btn btn-primary btn-xs">下载</a>
                        </div>
                        <div class="ibox-tools">
                            <a v-on:click="importSurvey()"
                               data-pjax class="btn btn-success btn-xs">导入</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row form-body form-horizontal m-t">
                        <div class="col-md-12 droppable sortable" @drop="drop" @dragover.prevent id="form-body">
                            <div class="form-group" v-for="(question, index) in questions">
                                <div class="row no-margins" style="background-color: bisque; cursor: pointer;"
                                     v-on:click="questionNameClickHandler(question)">
                                    <label class="col-sm-1 control-label">{{index + 1}}.</label>
                                    <div class="col-sm-11 form-control-static">
                                        <p class="label">{{question.name}}</p>
                                        <span style="float: right;">
                                            <span class="label fa fa-trash"
                                                  v-on:click="questionDelete(question, $event)">
                                                <p class="fa" style="display: inline;">删除</p>
                                            </span>
                                            <span class="label label-info fa fa-copy"
                                                  v-on:click="questionCopy(question, $event)">
                                                <p class="fa" style="display: inline;">复制</p>
                                            </span>
                                            <span class="label label-success"
                                                  v-on:click="up($event, question)">
                                                <p class="fa fa-arrow-up"></p>
                                            </span>
                                            <span class="label label-primary"
                                                  v-on:click="down($event, question)">
                                                <p class="fa fa-arrow-down"></p>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row no-margins option" style="cursor: pointer; background-color: gainsboro;"
                                     v-for="zsoption in zsoptions"
                                     v-on:click="optionNameClickHandler( $event, zsoption)"
                                     v-if="zsoption.questionOrderNum == question.orderNum">
                                    <label class="col-sm-1 control-label" style="padding-right: 0;">
                                        <option value="" class="length" v-if="isShowAddOption(question)">
                                            {{zsoption.orderNum}}.
                                        </option>
                                    </label>
                                    <div class="col-sm-11" v-if="question.type === 1 || question.type === '1'">
                                        <div class="radio">
                                            <label><input type="radio" :value="zsoption.name">{{zsoption.name}}</label>
                                            <span style="float: right;">
                                             <span class="label label-success"
                                                   v-on:click="upOption($event, zsoption)">
                                                <p class="fa fa-arrow-up"></p>
                                             </span>
                                             <span class="label label-primary"
                                                   v-on:click="downOption($event, zsoption)">
                                                <p class="fa fa-arrow-down"></p>
                                             </span>
                                          </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-11" v-if="question.type === 2 || question.type === '2'">
                                        <div class="radio">
                                            <label><input type="checkbox"
                                                          :value="zsoption.name">{{zsoption.name}}</label>
                                            <span style="float: right;">
                                             <span class="label label-success"
                                                   v-on:click="upOption($event, zsoption)">
                                                <p class="fa fa-arrow-up"></p>
                                             </span>
                                             <span class="label label-primary"
                                                   v-on:click="downOption($event, zsoption)">
                                                <p class="fa fa-arrow-down"></p>
                                             </span>
                                          </span>
                                        </div>
                                    </div>

                                    <div class="col-sm-11" v-if="question.type === 3 || question.type === '3'">
                                        <div class="radio">
                                            <label>答：</label>
                                            <input type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-margins" style="background-color: bisque;"
                                     v-if="isShowAddOption(question)">
                                    <label class="col-sm-3 control-label" style="padding-right: 0;">
                                        <span v-on:click="addNewOption(question)" class="cursor-pointer">
                                            <span class="fa fa-plus-circle" style="font-size: 20px;"></span>
                                            新增选项
                                        </span>
                                    </label>
                                    <label class="col-sm-3 control-label" style="padding-right: 0;">
                                        <span v-on:click="addOtherOption(question)" class="cursor-pointer">
                                            <span class="fa fa-plus-circle" style="font-size: 20px;"></span>
                                            新增"其他"选项
                                        </span>
                                    </label>
                                    <label class="col-sm-3 control-label" style="padding-right: 0;">
                                        <span v-on:click="addNotClearOption(question)" class="cursor-pointer">
                                            <span class="fa fa-plus-circle" style="font-size: 20px;"></span>
                                            新增"说不清"选项
                                        </span>
                                    </label>
                                    <div class="col-sm-10" v-if="question.type === 1">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" v-on:click="save()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 no-padding">
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">问卷名称</label>
                        <div class="col-sm-9">
                            <span class="form-control no-borders">{{survey.name}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">已收集数</label>
                        <div class="col-sm-9">
                            <span class="form-control no-borders">{{survey.currentNum}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">预计收集</label>
                        <div class="col-sm-9">
                            <span class="form-control no-borders">{{survey.collectNum}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">收集方式</label>
                        <div class="col-sm-9">
                            <span class="form-control no-borders">{{survey.collectType? survey.collectType.name : '未获取'}}</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ibox-content" v-if="selected === 1 || selected === 2" style="position: fixed; bottom: 40px; width: 28%;">
                <form class="form-horizontal" v-if="selected === 1">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">题目标题</label>
                        <div class="col-sm-9">
                            <input class="form-control" text="text" name="name" v-model="selectedQuestion.name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">题目类型</label>
                        <div class="col-sm-9">
                            <select class="form-control m-b" name="type"
                                    v-model="selectedQuestion.type">
                                <option value=1>单选题</option>
                                <option value=2>多选题</option>
                                <option value=3>问答题</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">最多选择</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" name="maxSelect"
                                   v-model="selectedQuestion.maxSelect" placeholder="最多选择数量，默认为1"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">最少选择</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" name="minSelect"
                                   v-model="selectedQuestion.minSelect" placeholder="最少选择数量，默认为1"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否必答</label>
                        <div class="col-sm-9">
                            <select class="form-control m-b" name="compulsory"
                                    v-model="selectedQuestion.compulsory">
                                <option v-for="val in [1, 0]" :value="val">{{ val ? '是' : '否' }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <span class="btn btn-danger" v-on:click="deleteQuestion(selectedQuestion)">删除问题</span>
                    </div>
                </form>

                <form class="form-horizontal" v-if="selected === 2">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">选项文本</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="name" v-model="selectedOption.name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">选项配额</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" name="configration"
                                   v-model="selectedOption.configration" placeholder="本数据量收集顶额，默认不限制"/>
                        </div>
                    </div>

                    <div class="form-group" v-if="isShowSpacialAttr()">

                        <label class="col-sm-3 control-label">选择跳转</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" name="target" v-model="selectedOption.target"
                                   placeholder="跳转至自定义题号，默认为当前题号+1"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">计入配额</label>
                        <div class="col-sm-9">
                            <select class="form-control m-b" text="text" name="ignoreNum"
                                    v-model="selectedOption.ignoreNum" placeholder="是否计入配额">
                                <option value="false">计入配额</option>
                                <option value="true">忽略配额</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否备注</label>
                        <div class="col-sm-9">
                            <select class="form-control m-b" text="text" name="hasRemark"
                                    v-model="selectedOption.hasRemark" placeholder="是否需要备注">
                                <option v-for="val in [true, false]" :value="val">{{ val ? '需要' : '不需要' }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" v-if="selectedOption.hasRemark">
                        <label class="col-sm-3 control-label">备注提示</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="remark" v-model="selectedOption.remark"
                                   placeholder="备注的提示信息"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">特殊属性</label>
                        <div class="col-sm-9">
                            <select class="form-control m-b" text="text" name="hasRemark"
                                    v-model="selectedOption.sattr" v-on:change="sattrSelectHandler(selectedOption)"
                                    placeholder="请选择特殊属性">
                                <option v-for="val in [{key: -1, value: '不选择'},{key: 0, value: '立即结束并保存样本'}, {key: 1, value: '立即结束并放弃样本'}]"
                                        :value="val.key">{{ val.value }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" v-if="selectedOption.questionType==2">
                        <label class="col-sm-3 control-label">是否排他</label>
                        <div class="col-sm-9">
                            <select class="form-control m-b" name="exclusivity"
                                    v-model="selectedOption.exclusivity">
                                <option v-for="val in [1, 0]" :value="val">{{ val ? '是' : '否' }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <span class="btn btn-danger" v-on:click="deleteOption(selectedOption)">删除选项</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="importModal" ng-controller="KisBpmChoseAssignmentCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="importModalLabel">选择导入文件</h4>
                </div>
                <div class="modal-body">
                    <div class="ibox-content">
                        <div>
                            <p>您可以尝试文件拖拽或者点击添加文件按钮，来上传文件</p>
                            <div id="uploader" class="wu-example">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <!--                                        <div id="filePickerss"></div>-->
                                        <p>将文件拖到这里</p>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                    <div class="btns">
                                        <div id="filePicker2"></div>
                                        <div class="uploadBtn">开始上传</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/survey/js/plugins/beautifyhtml/beautifyhtml.js"></script>
<script src="/survey/js/validateIsMain.js"></script>


<script>
    var detailsVue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            questions: [],
            zsoptions: [],
            surveyId: sessionStorage.getItem('editParams'),
            selectedQuestion: {},
            selectedOption: {
                questionType: 0,
                sattr: -1
            },
            survey: null,
            selected: 0,
            selectedIndex: 0
        },
        created: function () {
            this.loadSurvey();
            this.loadQuestions();
        },
        mounted() {
        },
        methods: {
            isShowSpacialAttr() {
                return !this.selectedOption.target
            },
            isShowAddOption(question) {
                let qtype = question.type;
                return qtype === 1 || qtype === 2 || qtype === '1' || qtype === '2'
            },
            sattrSelectHandler(o) {
                this.$set(this.selectedOption, 'sattr', o.sattr);
                if (this.selectedOption.sattr === 0) {
                    this.$set(this.selectedOption, 'target', 10000);
                }
                if (this.selectedOption.sattr === 1) {
                    this.$set(this.selectedOption, 'target', -1);
                }
                if (this.selectedOption.sattr === -1) {
                    this.$set(this.selectedOption, 'target', null);
                }


            },
            importSurvey() {
                $("#importModal").modal('show');
            },
            questionDelete(question, event) {
                event.stopPropagation();
                let index = this.questions.indexOf(question);
                this.questions.splice(index, 1);
                this.selected = 0;
            },
            questionCopy(question, event) {
                event.stopPropagation();
                let tmpQ = {
                    id: question.id,
                    orderNum: this.questions.length + 1,
                    name: question.name,
                    type: question.type,
                    surveyId: question.surveyId,
                    maxSelect: question.maxSelect,
                    minSelect: question.minSelect,
                    compulsory: question.compulsory ? question.compulsory.value : null
                };
                let options = this.getOptionsByQuestion(question.orderNum);
                let tmpOptions = [];
                for (let j = 0; j < options.length; j++) {
                    let o = options[j];
                    let opt = {
                        orderNum: o.orderNum,
                        name: o.name,
                        target: o.target,
                        hasRemark: o.hasRemark,
                        exclusivity: o.exclusivity ? o.exclusivity.value : null,
                        ignoreNum: o.ignoreNum,
                        configration: o.configration, // 选项配额
                        questionOrderNum: tmpQ.orderNum
                    };
                    tmpOptions.push(opt);
                }
                this.questions.push(tmpQ);
                this.zsoptions = this.zsoptions.concat(tmpOptions);
            },
            loadQuestions() {
                let that = this;
                that.questions = [];
                that.zsoptions = [];
                AJAX.GET('zsSurvey/questionAndOptions/' + sessionStorage.getItem('editParams'), {}, function (resp) {
                    for (let i = 0; i < resp.data.length; i++) {
                        let item = resp.data[i];
                        let tmpQ = {
                            id: item.id,
                            orderNum: item.orderNum,
                            name: item.name,
                            type: item.type,
                            surveyId: item.surveyId,
                            maxSelect: item.maxSelect,
                            minSelect: item.minSelect,
                            compulsory: item.compulsory.value
                        };
                        for (let j = 0; j < item.options.length; j++) {
                            let o = item.options[j];
                            let opt = {
                                orderNum: o.orderNum,
                                name: o.name,
                                target: o.target,
                                hasRemark: o.hasRemark,
                                exclusivity: o.exclusivity.value,
                                ignoreNum: o.ignoreNum,
                                configration: o.configration, // 选项配额
                                questionOrderNum: item.orderNum
                            };
                            that.zsoptions.push(opt);
                        }

                        that.questions.push(tmpQ);
                    }
                })
            },
            loadSurvey() {
                var that = this;
                AJAX.GET('zsSurvey/' + sessionStorage.getItem('editParams'), {}, function (resp) {
                    that.survey = {
                        id: resp.data.id,
                        name: resp.data.name,
                        currentNum: resp.data.currentNum,
                        collectNum: resp.data.collectNum,
                        projectId: resp.data.projectId,
                        collectType: resp.data.collectType,
                        ignoreNum: resp.data.ignoreNum
                    };
                })
            },
            save() {
                let that = this;
                let params = {};
                params.zsQuestions = this.questions;
                params.zsOptions = this.zsoptions;
                params.surveyId = this.surveyId;
                AJAX.POST_JSON('zsQuestion', params, function (resp) {
                    toastr.success(resp.msg);
                    sessionStorage.setItem('editParams', that.survey.projectId);
                    toPage('pages/project/details.html');
                });
            },
            upOption(e, option) {
                e.stopPropagation();
                if (option.orderNum === 1) {
                    toastr.error("已经是第一个元素了");
                }
                let options = this.getOptionsByQuestion(option.questionOrderNum);
                let preOption = this.getOptionByOrderNum(option.orderNum - 1, options);
                let currentIndex = this.zsoptions.indexOf(option);
                preOption.orderNum = option.orderNum;
                option.orderNum = option.orderNum - 1;
                this.$set(this.zsoptions, currentIndex, preOption);
                this.$set(this.zsoptions, currentIndex - 1, option);
            },
            downOption(e, option) {
                e.stopPropagation();
                let options = this.getOptionsByQuestion(option.questionOrderNum);
                if (option.orderNum === options.length) {
                    toastr.error("已经是最后一个元素了");
                }
                let nextOption = this.getOptionByOrderNum(option.orderNum + 1, options);
                let currentIndex = this.zsoptions.indexOf(option);
                nextOption.orderNum = option.orderNum;
                option.orderNum = option.orderNum + 1;
                this.$set(this.zsoptions, currentIndex, nextOption);
                this.$set(this.zsoptions, currentIndex + 1, option);
            },
            getOptionsByQuestion(questionOrderNum) {
                let options = [];
                $.each(this.zsoptions, function (index, item) {
                    if (item.questionOrderNum === questionOrderNum) {
                        options.push(item);
                    }
                });
                return options;
            },
            getOptionByOrderNum(orderNum, options) {
                let option;
                $.each(options, function (index, item) {
                    if (item.orderNum === orderNum) {
                        option = item;
                        return item;
                    }
                });
                return option;
            },
            addNewOption(question) {
                let c = 0;
                for (let i = 0; i < this.zsoptions.length; i++) {
                    if (this.zsoptions[i].questionOrderNum === question.orderNum) {
                        c++;
                    }
                }
                let tmp = {
                    name: '新选项',
                    type: question.type,
                    orderNum: c + 1,
                    hasRemark: false,
                    exclusivity: 0,
                    ignoreNum: false,
                    questionOrderNum: question.orderNum
                }
                this.zsoptions.push(tmp)
            },
            addOtherOption(question) {
                let c = 0;
                for (let i = 0; i < this.zsoptions.length; i++) {
                    if (this.zsoptions[i].questionOrderNum === question.orderNum) {
                        c++;
                    }
                }
                let tmp = {
                    name: '其它',
                    type: question.type,
                    orderNum: c + 1,
                    hasRemark: false,
                    exclusivity: 0,
                    ignoreNum: false,
                    questionOrderNum: question.orderNum
                }
                this.zsoptions.push(tmp)
            },
            addNotClearOption(question) {
                let c = 0;
                for (let i = 0; i < this.zsoptions.length; i++) {
                    if (this.zsoptions[i].questionOrderNum === question.orderNum) {
                        c++;
                    }
                }
                let tmp = {
                    name: '说不清',
                    type: question.type,
                    orderNum: c + 1,
                    hasRemark: false,
                    exclusivity: 0,
                    ignoreNum: false,
                    questionOrderNum: question.orderNum
                };
                this.zsoptions.push(tmp)
            },
            deleteOption(option) {
                this.zsoptions.splice(this.zsoptions.indexOf(option), 1);
                this.hideModal('optionModal');
            },
            deleteQuestion(question) {
                let tmp = [];
                for (let i = 0; i < this.zsoptions.length; i++) {
                    if (this.zsoptions[i].questionOrderNum === question.orderNum) {
                        tmp.push(this.zsoptions[i]);
                    }
                }
                for (let i = 0; i < tmp.length; i++) {
                    this.zsoptions.splice(this.zsoptions.indexOf(tmp[i]), 1);
                }
                this.questions.splice(this.questions.indexOf(question), 1);
                this.hideModal('questionModal');
            },
            optionNameClickHandler(e, option) {
                // this.selectedIndex = this.zsoptions.indexOf(option);
                e.stopPropagation;
                this.selectedOption = option;
                if(this.selectedOption.target < 0) {
                    this.selectedOption.sattr = 1;
                }
                if(this.selectedOption.target > 999) {
                    this.selectedOption.sattr = 0;
                }
                console.log(this.selectedOption);
                this.selectedOption.questionType = this.questions[option.questionOrderNum - 1].type;
                this.selected = 2;
            },
            up(e, question) {
                let currentIndex = this.questions.indexOf(question);
                e.stopPropagation();
                if (currentIndex == 0) {
                    toastr.error("已经是第一个元素了");
                    return false;
                }
                let preQuestion = this.questions[currentIndex - 1]
                preQuestion.orderNum = currentIndex + 1;
                question.orderNum = currentIndex;
                this.$set(this.questions, currentIndex - 1, question);
                this.$set(this.questions, currentIndex, preQuestion);
                this.updateOption(question, true);
            },
            down(e, question) {
                let currentIndex = this.questions.indexOf(question);
                e.stopPropagation();
                if (currentIndex == this.questions.length - 1) {
                    toastr.error("已经是最后一个元素了");
                    return false;
                }
                let nextQuestion = this.questions[currentIndex + 1]
                nextQuestion.orderNum = currentIndex + 1;
                question.orderNum = currentIndex + 2;
                this.$set(this.questions, currentIndex + 1, question);
                this.$set(this.questions, currentIndex, nextQuestion);
                this.updateOption(question, false);
            },
            updateOption(question, isUp) {
                if (isUp) {
                    for (let i = 0; i < this.zsoptions.length; i++) {
                        if (this.zsoptions[i].questionOrderNum == question.orderNum) {
                            this.zsoptions[i].questionOrderNum += 1;
                        } else if (this.zsoptions[i].questionOrderNum == (question.orderNum + 1)) {
                            this.zsoptions[i].questionOrderNum -= 1;
                        }
                        this.$set(this.zsoptions, i, this.zsoptions[i]);
                    }
                } else {
                    for (let i = 0; i < this.zsoptions.length; i++) {
                        if (this.zsoptions[i].questionOrderNum == question.orderNum) {
                            this.zsoptions[i].questionOrderNum -= 1;
                        } else if (this.zsoptions[i].questionOrderNum == question.orderNum - 1) {
                            this.zsoptions[i].questionOrderNum += 1;
                        }
                        this.$set(this.zsoptions, i, this.zsoptions[i]);
                    }
                }
            },
            questionNameClickHandler(question) {
                this.selectedQuestion = question;
                this.selected = 1;
            },
            showModal(id) {
                $("#" + id).modal('show');
            },
            dragstart(e, data) {
                e.dataTransfer.setData('item', data.type)
            },
            dragend(e) {
                e.dataTransfer.clearData()
            },
            drop(event) {
                this.renderElement(event.dataTransfer.getData('item'));
            },
            renderElement(type) {
                if (parseInt(type) === 1) {
                    this.renderSingleSelect()
                }
                if (parseInt(type) === 2) {
                    this.renderMuiltySelect()
                }
                if (parseInt(type) === 3) {
                    this.renderDetailQuestion()
                }
            },
            renderSingleSelect() {
                let question = {
                    name: "单选题",
                    type: 1,
                    orderNum: this.questions.length + 1,
                    minSelect: 1,
                    surveyId: this.surveyId,
                    maxSelect: 1,
                    compulsory: 1
                };
                let tmpOptions = [
                    {
                        name: '选项一',
                        type: '1',
                        orderNum: 1,
                        hasRemark: false,
                        exclusivity: 0,
                        ignoreNum: false,
                        questionOrderNum: question.orderNum

                    }, {
                        name: '选项二',
                        type: '1',
                        orderNum: 2,
                        hasRemark: false,
                        exclusivity: 0,
                        ignoreNum: false,
                        questionOrderNum: question.orderNum
                    },
                ];
                this.questions.push(question);
                this.zsoptions = this.zsoptions.concat(tmpOptions);
            },
            renderMuiltySelect() {
                let question = {
                    name: "多选题",
                    type: 2,
                    orderNum: this.questions.length + 1,
                    surveyId: this.surveyId,
                    minSelect: 1,
                    maxSelect: 2,
                    compulsory: 1
                };
                let tmpOptions = [
                    {
                        name: '选项一',
                        type: '2',
                        orderNum: 1,
                        hasRemark: false,
                        exclusivity: 0,
                        ignoreNum: false,
                        questionOrderNum: question.orderNum

                    }, {
                        name: '选项二',
                        type: '2',
                        orderNum: 2,
                        hasRemark: false,
                        exclusivity: 0,
                        ignoreNum: false,
                        questionOrderNum: question.orderNum
                    },
                ];
                this.questions.push(question);
                this.zsoptions = this.zsoptions.concat(tmpOptions);
            },
            renderDetailQuestion() {
                let question = {
                    name: "问答题",
                    type: 3,
                    surveyId: this.surveyId,
                    orderNum: this.questions.length + 1,
                    minSelect: 1,
                    maxSelect: 2,
                    compulsory: 1
                };
                let tmpOptions = [
                    {
                        name: '选项',
                        type: '3',
                        orderNum: 1,
                        hasRemark: false,
                        exclusivity: 0,
                        ignoreNum: false,
                        questionOrderNum: question.orderNum

                    }
                ];
                this.questions.push(question);
                this.zsoptions = this.zsoptions.concat(tmpOptions);
            },
            hideModal(id) {
                $('#' + id).modal('hide');
                // console.log(this.selectedQuestion);
                // if(id == 'optionModal') {
                //     this.zsoptions[this.selectedIndex] = this.selectedOption;
                // }
                // if(id == 'questionModal') {
                //     this.questions[this.selectedIndex] = this.selectedQuestion;
                // }
            },
        },

    });
</script>

<script>
    jQuery(function () {
        var BASE_URL = 'js/plugins/webuploader';
        var $ = jQuery,    // just in case. Make sure it's not an other libaray.
            $wrap = $('#uploader'),
            $queue = $('<ul class="filelist"></ul>')
                .appendTo($wrap.find('.queueList')),
            $statusBar = $wrap.find('.statusBar'),
            $info = $statusBar.find('.info'),
            $upload = $wrap.find('.uploadBtn'),
            $placeHolder = $wrap.find('.placeholder'),
            $progress = $statusBar.find('.progress').hide(),
            fileCount = 0,
            fileSize = 0,
            ratio = window.devicePixelRatio || 1,
            thumbnailWidth = 110 * ratio,
            thumbnailHeight = 110 * ratio,
            state = 'pedding',
            percentages = {},
            supportTransition = (function () {
                var s = document.createElement('p').style,
                    r = 'transition' in s ||
                        'WebkitTransition' in s ||
                        'MozTransition' in s ||
                        'msTransition' in s ||
                        'OTransition' in s;
                s = null;
                return r;
            })(),

            // WebUploader实例
            uploader;

        if (!WebUploader.Uploader.support()) {
            alert('Web Uploader 不支持您的浏览器！如果你使用的是IE浏览器，请尝试升级 flash 播放器');
            throw new Error('WebUploader does not support the browser you are using.');
        }

        // 实例化
        uploader = WebUploader.create({
            pick: {
                id: '#filePickerss',
                label: '点击选择文件'
            },
            dnd: '#uploader .queueList',
            paste: document.body,

            // swf文件路径
            swf: BASE_URL + '/Uploader.swf',

            disableGlobalDnd: true,

            chunked: true,
            // server: 'http://webuploader.duapp.com/server/fileupload.php',
            server: '/survey/zsProject/importSurvey/' + sessionStorage.getItem("editParams") + '?access_token=' + sessionStorage.getItem('access_token'),
            fileNumLimit: 300,
            fileSizeLimit: 5 * 1024 * 1024,    // 200 M
            fileSingleSizeLimit: 1 * 1024 * 1024    // 50 M
        });

        // 当有文件添加进来时执行，负责view的创建
        function addFile(file) {
            var $li = $('<li id="' + file.id + '">' +
                '<p class="title">' + file.name + '</p>' +
                '<p class="imgWrap"></p>' +
                '<p class="progress"><span></span></p>' +
                '</li>'),

                $btns = $('<div class="file-panel">' +
                    '<span class="cancel">删除</span>' +
                    '<span class="rotateRight">向右旋转</span>' +
                    '<span class="rotateLeft">向左旋转</span></div>').appendTo($li),
                $prgress = $li.find('p.progress span'),
                $wrap = $li.find('p.imgWrap'),
                $info = $('<p class="error"></p>'),

                showError = function (code) {
                    switch (code) {
                        case 'exceed_size':
                            text = '文件大小超出';
                            break;

                        case 'interrupt':
                            text = '上传暂停';
                            break;

                        default:
                            text = '上传失败，请重试';
                            break;
                    }

                    $info.text(text).appendTo($li);
                };

            if (file.getStatus() === 'invalid') {
                showError(file.statusText);
            } else {
                // @todo lazyload
                $wrap.text('预览中');
                uploader.makeThumb(file, function (error, src) {
                    if (error) {
                        $wrap.text('不能预览');
                        return;
                    }

                    var img = $('<img src="' + src + '">');
                    $wrap.empty().append(img);
                }, thumbnailWidth, thumbnailHeight);

                percentages[file.id] = [file.size, 0];
                file.rotation = 0;
            }

            file.on('statuschange', function (cur, prev) {
                if (prev === 'progress') {
                    $prgress.hide().width(0);
                } else if (prev === 'queued') {
                    $li.off('mouseenter mouseleave');
                    $btns.remove();
                }

                // 成功
                if (cur === 'error' || cur === 'invalid') {
                    showError(file.statusText);
                    percentages[file.id][1] = 1;
                } else if (cur === 'interrupt') {
                    showError('interrupt');
                } else if (cur === 'queued') {
                    percentages[file.id][1] = 0;
                } else if (cur === 'progress') {
                    $info.remove();
                    $prgress.css('display', 'block');
                } else if (cur === 'complete') {
                    $li.append('<span class="success"></span>');
                }

                $li.removeClass('state-' + prev).addClass('state-' + cur);
            });

            $li.on('mouseenter', function () {
                $btns.stop().animate({height: 30});
            });

            $li.on('mouseleave', function () {
                $btns.stop().animate({height: 0});
            });

            $btns.on('click', 'span', function () {
                var index = $(this).index(),
                    deg;

                switch (index) {
                    case 0:
                        uploader.removeFile(file);
                        return;

                    case 1:
                        file.rotation += 90;
                        break;

                    case 2:
                        file.rotation -= 90;
                        break;
                }

                if (supportTransition) {
                    deg = 'rotate(' + file.rotation + 'deg)';
                    $wrap.css({
                        '-webkit-transform': deg,
                        '-mos-transform': deg,
                        '-o-transform': deg,
                        'transform': deg
                    });
                } else {
                    $wrap.css('filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation=' + (~~((file.rotation / 90) % 4 + 4) % 4) + ')');
                    // use jquery animate to rotation
                    // $({
                    //     rotation: rotation
                    // }).animate({
                    //     rotation: file.rotation
                    // }, {
                    //     easing: 'linear',
                    //     step: function( now ) {
                    //         now = now * Math.PI / 180;

                    //         var cos = Math.cos( now ),
                    //             sin = Math.sin( now );

                    //         $wrap.css( 'filter', "progid:DXImageTransform.Microsoft.Matrix(M11=" + cos + ",M12=" + (-sin) + ",M21=" + sin + ",M22=" + cos + ",SizingMethod='auto expand')");
                    //     }
                    // });
                }


            });

            $li.appendTo($queue);
        }

        // 负责view的销毁
        function removeFile(file) {
            var $li = $('#' + file.id);

            delete percentages[file.id];
            updateTotalProgress();
            $li.off().find('.file-panel').off().end().remove();
        }

        function updateTotalProgress() {
            var loaded = 0,
                total = 0,
                spans = $progress.children(),
                percent;

            $.each(percentages, function (k, v) {
                total += v[0];
                loaded += v[0] * v[1];
            });

            percent = total ? loaded / total : 0;

            spans.eq(0).text(Math.round(percent * 100) + '%');
            spans.eq(1).css('width', Math.round(percent * 100) + '%');
            updateStatus();
        }

        function updateStatus() {
            var text = '', stats;

            if (state === 'ready') {
                text = '选中' + fileCount + '个文件，共' +
                    WebUploader.formatSize(fileSize) + '。';
            } else if (state === 'confirm') {
                stats = uploader.getStats();
                if (stats.uploadFailNum) {
                    text = '已成功上传' + stats.successNum + '张照片至XX相册，' +
                        stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'
                }

            } else {
                stats = uploader.getStats();
                text = '共' + fileCount + '张（' +
                    WebUploader.formatSize(fileSize) +
                    '），已上传' + stats.successNum + '张';

                if (stats.uploadFailNum) {
                    text += '，失败' + stats.uploadFailNum + '张';
                }
            }

            $info.html(text);
        }

        function setState(val) {
            var file, stats;

            if (val === state) {
                return;
            }

            $upload.removeClass('state-' + state);
            $upload.addClass('state-' + val);
            state = val;

            switch (state) {
                case 'pedding':
                    $placeHolder.removeClass('element-invisible');
                    $queue.parent().removeClass('filled');
                    $queue.hide();
                    $statusBar.addClass('element-invisible');
                    uploader.refresh();
                    break;

                case 'ready':
                    $placeHolder.addClass('element-invisible');
                    $('#filePicker2').removeClass('element-invisible');
                    $queue.parent().addClass('filled');
                    $queue.show();
                    $statusBar.removeClass('element-invisible');
                    uploader.refresh();
                    break;

                case 'uploading':
                    $('#filePicker2').addClass('element-invisible');
                    $progress.show();
                    $upload.text('暂停上传');
                    break;

                case 'paused':
                    $progress.show();
                    $upload.text('继续上传');
                    break;

                case 'confirm':
                    $progress.hide();
                    $upload.text('开始上传').addClass('disabled');

                    stats = uploader.getStats();
                    if (stats.successNum && !stats.uploadFailNum) {
                        setState('finish');
                        return;
                    }
                    break;
                case 'finish':
                    stats = uploader.getStats();
                    if (stats.successNum) {
                        alert('上传成功');
                        $('#importModal').modal('hide');
                        detailsVue.loadQuestions();
                    } else {
                        // 没有成功的图片，重设
                        state = 'done';
                        location.reload();
                    }
                    break;
            }

            updateStatus();
        }

        uploader.onUploadProgress = function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            $percent.css('width', percentage * 100 + '%');
            percentages[file.id][1] = percentage;
            updateTotalProgress();
        };

        uploader.onFileQueued = function (file) {
            fileCount++;
            fileSize += file.size;

            if (fileCount === 1) {
                $placeHolder.addClass('element-invisible');
                $statusBar.show();
            }

            addFile(file);
            setState('ready');
            updateTotalProgress();
        };

        uploader.onFileDequeued = function (file) {
            fileCount--;
            fileSize -= file.size;

            if (!fileCount) {
                setState('pedding');
            }

            removeFile(file);
            updateTotalProgress();

        };

        uploader.on('all', function (type) {
            var stats;
            switch (type) {
                case 'uploadFinished':
                    setState('confirm');
                    break;

                case 'startUpload':
                    setState('uploading');
                    break;

                case 'stopUpload':
                    setState('paused');
                    break;

            }
        });

        uploader.onError = function (code) {
            alert('Eroor: ' + code);
        };

        $upload.on('click', function () {
            if ($(this).hasClass('disabled')) {
                return false;
            }

            if (state === 'ready') {
                uploader.upload();
            } else if (state === 'paused') {
                uploader.upload();
            } else if (state === 'uploading') {
                uploader.stop();
            }
        });

        $info.on('click', '.retry', function () {
            uploader.retry();
        });

        $info.on('click', '.ignore', function () {
            alert('todo');
        });

        $upload.addClass('state-' + state);
        updateTotalProgress();
    });
</script>