<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/ajax-util.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.3/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@2.15.3/lib/index.js"></script>
</head>
<body>
<div class="x-body">
    <blockquote class="layui-elem-quote">本模块仅限认证审核，不包含企业与合作商</blockquote>
    <div>
        <el-table
                ref="multipleTable"
                :data="tableData"
                height="500"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="序号"
                    width="140">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="名称"
                    width="140"
                    show-overflow-tooltip>
            </el-table-column>
            <el-table-column
                    prop="type.name"
                    label="类型"
                    width="140">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间"
                    width="140">
            </el-table-column>
            <el-table-column
                    prop="apply"
                    label="状态"
                    width="140">
                <template slot-scope="scope">
                    <div v-if="scope.row.apply.code === 1" align="center">
                        <el-tag type="success">创建</el-tag>
                    </div>
                    <div v-if="scope.row.apply.code === 2" align="center">
                        <el-tag type="success">申请中</el-tag>
                    </div>
                    <div v-if="scope.row.apply.code === 3" align="center">
                        <el-tag type="success">已通过</el-tag>
                    </div>
                    <div v-if="scope.row.apply.code === 4" align="center">
                        <el-tag type="error">已退回</el-tag>
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    fixed="right"
                    align="center"
                    width="260">
                <template slot-scope="scope">
                    <div v-if="scope.row.type.code === 1" align="center">
                        <el-button
                                size="mini"
                                type="primary"
                                @click="downAuthInfo(scope.$index, scope.row)">实名认证资料</el-button>
                    </div>
                    <div v-if="scope.row.type.code === 2" align="center">
                        <el-button
                                size="mini"
                                type="primary"
                                @click="downAuthInfo(scope.$index, scope.row)">实名认证资料</el-button>
                        <el-button
                                size="mini"
                                type="success"
                                @click="downClientApplication(scope.$index, scope.row)">客户申请表</el-button>
                    </div>
                    <div v-if="scope.row.type.code === 3" align="center">
                        <el-button
                                size="mini"
                                type="primary"
                                @click="downAuthInfo(scope.$index, scope.row)">实名认证资料</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pageParams.pageNum"
                :page-sizes="pageParams.pageSizes"
                :page-size="pageParams.pageSize"
                :layout="pageParams.layout"
                :total="pageParams.total">
        </el-pagination>
    </div>
</div>
</body>

<script>
    new Vue({
        el: '.x-body',
        data: {
            multipleSelection:[],
            tableData:[],
            search:"",
            paramsData:{
                pageNum:1,
                pageSize:20,
            },
            pageParams:{
                pageSizes:[10, 20, 30, 40],
                pageSize:20,
                pageNum:1,
                total:1000,
                layout:"total, sizes, prev, pager, next, jumper",
            },
        },
        created: function () {
            // this.me();
        },
        mounted:function(){
            console.log("mounted...");
            this.getList();
        },
        methods: {
            handleSelectionChange(val){
                this.multipleSelection = val;
                console.log("multipleSelection:",this.multipleSelection)
            },
            downAuthInfo(index, row){

            },
            downClientApplication(index, row){

            },
            handleSizeChange(){

            },
            handleCurrentChange(){

            },
            resetPage(){
                this.pageParams={
                    pageSizes:[10, 20, 30, 40],
                    pageSize:20,
                    pagerCount:6,
                    pageNum:1,
                    total:1000,
                    layout:"total, sizes, prev, pager, next, jumper",
                }
            },
            handleSizeChange(val){
                console.log(`每页 ${val} 条`);
                this.paramsData.pageSize = val;
                this.getList();
            },
            handleCurrentChange(val){
                console.log(`当前页: ${val}`);
                this.paramsData.pageNum = val;
                this.getList();
            },
            getList(){
                let that = this;
                let paramsData = this.paramsData;
                paramsData['type']=this.search;
                paramsData['name']=this.search;
                paramsData['createTime']=this.search;
                paramsData['apply']=this.search;
                AJAX.GET_SYNC("approve/getList",this.paramsData,function(res){
                    if(res.code === 200){
                        that.tableData = res.data.list;
                        that.pageParams.total = res.data.total;
                    }else{
                        that.$message({
                            message: res.msg,
                            type: 'error',
                            center: true
                        });
                    }
                })
            }
        }
    });

</script>
</html>
