<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.ImperfectMapper">


    <resultMap id="BASE_RESULT" type="com.camel.oa.model.Imperfect">

    </resultMap>

    <sql id="BaseSql">
        imperfect.id,
        imperfect.errand_id,
        imperfect.`status`,
        imperfect.created_at
    </sql>

    <select id="list" resultMap="BASE_RESULT">
        SELECT
          <include refid="BaseSql"></include>
        FROM imperfect
        <where>
            1=1
            <if test="errandId != null">imperfect.errand_id == #{errandId}</if>
        </where>
    </select>
</mapper>
