<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.oa.model.Project">
        <id column="id" property="id" />
        <result column="pname" property="pname" />
        <result column="code" property="code" />
        <result column="current_copies" property="currentCopies" />
        <result column="copies" property="copies" />
        <result column="collect_copies" property="collectCopies" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="creator" property="creator" />
        <result column="release_at" property="releaseAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pname, code, current_copies, copies, collect_copies, status, created_at, creator, release_at
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        project
    </select>
</mapper>
