<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.camel.oa.model.Resource">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <result column="map_position" property="mapPosition" jdbcType="VARCHAR"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
        <result column="created_at" property="createdAt" jdbcType="DATE"></result>
        <result column="status" property="status" javaType="INTEGER" typeHandler="com.camel.oa.typeHandler.ResourceStatusEnumHandler"></result>
        <result column="type" property="type" javaType="INTEGER" typeHandler="com.camel.oa.typeHandler.ResourceTyiesEnumHandler"></result>
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
    </resultMap>

    <sql id="BASE_SQL">
        resource.id,
        resource.type,
        resource.`name`,
        resource.address,
        resource.map_position,
        resource.remark,
        resource.creator,
        resource.created_at,
        resource.status
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="BASE_SQL"/>
        FROM
        resource
        <where>
            resource.status = 1
        </where>
    </select>
</mapper>
