<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.RouteMapper">
    <resultMap id="BaseResultMap" type="com.camel.oa.model.Route">
        <id column="id" property="id"></id>
        <result column="come" property="come" jdbcType="VARCHAR"></result>
        <result column="come_to" property="comeTo" jdbcType="VARCHAR"></result>
        <result column="come_at" property="comeAt" jdbcType="TIMESTAMP"></result>
        <result column="come_to_at" property="comeToAt" jdbcType="TIMESTAMP"></result>
        <result column="back" property="back" jdbcType="VARCHAR"></result>
        <result column="back_to" property="backTo" jdbcType="VARCHAR"></result>
        <result column="back_at" property="backAt" jdbcType="TIMESTAMP"></result>
        <result column="back_to_at" property="backToAt" jdbcType="TIMESTAMP"></result>
        <result column="days" property="days" jdbcType="FLOAT"></result>
    </resultMap>

    <sql id="BaseSql">
        route.id,
        route.come,
        route.come_to,
        route.come_at,
        route.come_to_at,
        route.back,
        route.back_to,
        route.back_at,
        route.back_to_at,
        route.days
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseSql"></include>
        FROM
            route
    </select>
</mapper>
