<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.ZsGroundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.oa.model.ZsGround">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="area_name" property="areaName"/>
        <result column="is_rentable" property="rentable" typeHandler="com.camel.oa.enumhandler.ZsYesOrNoEnumHandler"/>
        <result column="is_saleable" property="saleable" typeHandler="com.camel.oa.enumhandler.ZsYesOrNoEnumHandler"/>
        <result column="industry" property="industryId"/>
        <result column="periphery" property="periphery"/>
        <result column="cooperation" property="cooperation"/>
        <result column="status" property="status" typeHandler="com.camel.oa.enumhandler.ZsGroundStatusEnumHandler"/>
        <result column="created_at" property="createdAt"/>
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
        <association property="industry" column="industry" select="selectIndustry"
                     javaType="com.camel.oa.model.ZsIndustry">
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        zs_ground.id,
        zs_ground.name,
        zs_ground.area_name,
        zs_ground.is_rentable,
        zs_ground.is_saleable,
        zs_ground.industry,
        zs_ground.periphery,
        zs_ground.cooperation,
        zs_ground.status,
        zs_ground.created_at,
        zs_ground.creator
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_ground
        <where>
            zs_ground.`status` != 0
            <if test="name != null and name != ''">AND zs_ground.`name` LIKE CONCAT('%', #{name} , '%')</if>
        </where>
    </select>

    <select id="selectIndustry" resultMap="com.camel.oa.mapper.ZsIndustryMapper.BaseResultMap">
        select
        <include refid="com.camel.oa.mapper.ZsIndustryMapper.Base_Column_List"></include>
        from zs_industry where id =#{id}
    </select>
</mapper>
