<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.ZsMerchantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.oa.model.ZsMerchant">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="manager" property="manager" />
        <result column="addr" property="addr" />
        <result column="main_business" property="mainBusiness" />
        <result column="intention" property="intention" />
        <result column="contacts" property="contacts" />
        <result column="contacts_post" property="contactsPost" />
        <result column="contacts_phone" property="contactsPhone" />
        <result column="source" property="source" />
        <result column="attribute" property="attribute" />
        <result column="created_at" property="createdAt" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, manager, addr, main_business, intention, contacts, contacts_post, contacts_phone, source, attribute, created_at, creator
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from
        zs_merchant
    </select>
</mapper>
