<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.ZsTalentederMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.oa.model.ZsTalenteder">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status" typeHandler="com.camel.oa.enumhandler.ZsTalentederStatusEnumHandler"/>
        <result column="gender" property="gender" typeHandler="com.camel.oa.enumhandler.ZsGenderEnumHandler"/>
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
        <association property="project" column="project" select="selectProject"
                     javaType="com.camel.oa.model.ZsProject">
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        zs_talenteder.id,
        zs_talenteder.name,
        zs_talenteder.contact_phone,
        zs_talenteder.remark,
        zs_talenteder.project,
        zs_talenteder.creator,
        zs_talenteder.status,
        zs_talenteder.gender
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        from
        zs_talenteder
        <where>
            zs_talenteder.`status` != 0
            <if test="name != null and name != ''">AND zs_talenteder.`name` LIKE CONCAT('%', #{name} , '%')</if>
        </where>
    </select>

    <select id="selectProject" resultMap="com.camel.oa.mapper.ZsProjectMapper.BaseResultMap">
        SELECT
        <include refid="com.camel.oa.mapper.ZsProjectMapper.Base_Column_List"></include>
        FROM zs_project WHERE id =#{id}
    </select>
</mapper>
