<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camel.oa.mapper.ZsTalentederMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.camel.oa.model.ZsTalenteder">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cantact_phone" property="cantactPhone"/>
        <result column="remark" property="remark"/>
        <result column="project_id" property="projectId"/>
        <result column="status" property="status" typeHandler="com.camel.oa.enumhandler.ZsTalentederStatusEnumHandler"/>
        <association property="creator" javaType="com.camel.core.model.SysUser">
            <id property="uid" column="creator" jdbcType="INTEGER"></id>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        zs_talenteder.id,
        zs_talenteder.name,
        zs_talenteder.cantact_phone,
        zs_talenteder.remark,
        zs_talenteder.project_id,
        zs_talenteder.creator,
        zs_talenteder.status
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        zs_talenteder
        <where>
            zs_talenteder.`status` != 0
            <if test="name != null and name != ''">AND zs_talenteder.`name` LIKE CONCAT('%', #{name} , '%')</if>
        </where>
    </select>
</mapper>
