<div id="subContainer">
    <section class="py-5">
        <div class="row">
            <div class="aboluo-w-700">
                <div class="aboluo-leftdiv">
                    <div class="aboluo-tools">
                        <div class="aboluo-calendar-select-year"></div>
                        <div class="aboluo-calendar-month">
                            <a class="aboluo-month-a-perv" href="javascript:;">&lt; </a>
                            <a class="aboluo-month-a-next" href="javascript:;"> &gt;</a>
                        </div>
                        <input type="button" class="aboluo-toToday" value="返回今天" />
                    </div>
                    <div class="aboluo-rilidiv">
                        <table class="aboluo-rilitable" cellspacing="0" cellpadding="0" >
                            <thead class="aboluo-rilithead">
                            <tr>
                                <th>一</td>
                                <th>二</td>
                                <th>三</td>
                                <th>四</td>
                                <th>五</td>
                                <th style="color:red;">六</td>
                                <th style="color:red;">日</td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="aboluo-rightdiv">
                    <p class="aboluo-xssj"><p>
                    <p class="aboluo-currday"></p>
                    <p class="aboluo-ssjjr"></p>
                    <p class="aboluo-xsmx"></p>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
<script src="/attendance/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/attendance/',
            args: {
                name: '',
                code: '',
                value: ''
            },
            dateRange: null
        },
        created: function () {

        },
        methods: {
            cancel: function () {
                this.backToMain();
            },
            save: function () {
                var that = this;
                $('#defaultForm').bootstrapValidator('validate');
                AJAX.POST('/attendance/args', this.args, function (resp) {
                    $.Toast("成功", resp.msg, "success", {
                        stack: true,
                        fullscreen: false,
                        sticky: false,
                        rtl: false,
                    });
                    that.backToMain();
                });
            },
            backToMain: function () {
                $.pjax({
                    url: mvm.applicationContextRootPath + 'pages/vacations/vacations.html',
                    container: '.page-container'
                });
            }
        }
    });
    $('#defaultForm').bootstrapValidator({

        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: '参数名称不能为空'
                    }
                }
            },
            value: {
                validators: {
                    notEmpty: {
                        message: '参数值不能为空'
                    }
                }
            },
            code: {
                validators: {
                    notEmpty: {
                        message: '参数编码不能为空'
                    }
                }
            }
        }
    });
</script>