<div id="subContainer">
    <section class="py-5">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6" style="">
                        <h6 class="text-uppercase mb-0">节假日管理</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="aboluo-w-700">
                    <div class="aboluo-leftdiv">
                        <div class="aboluo-tools">
                            <div class="aboluo-calendar-select-year"></div>
                            <div class="aboluo-calendar-month">
                                <a class="aboluo-month-a-perv" href="javascript:;" v-on:click="leftaClick">&lt; </a>
                                <a class="aboluo-month-a-next" href="javascript:;" v-on:click="rightaClick"> &gt;</a>
                            </div>
                            <input type="button" class="aboluo-toToday" value="返回今天" v-on:click="toToday()"/>
                        </div>
                        <div class="aboluo-rilidiv">
                            <table class="aboluo-rilitable" cellspacing="0" cellpadding="0">
                                <thead class="aboluo-rilithead">
                                <tr>
                                    <th>一
                                    </td>
                                    <th>二
                                    </td>
                                    <th>三
                                    </td>
                                    <th>四
                                    </td>
                                    <th>五
                                    </td>
                                    <th style="color:red;">六
                                    </td>
                                    <th style="color:red;">日
                                    </td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="aboluo-rightdiv">
                        <p class="aboluo-xssj">
                        <p>
                        <p class="aboluo-currday"></p>
                        <p class="aboluo-ssjjr"></p>
                        <p class="aboluo-xsmx"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<script src="/attendance/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/attendance/',
            pageInfo: {
                currentYear: 2018,
                currentMonth: 6
            }
        },
        created: function () {
            this.initPageInfo();
            this.initCalendar();
        },
        load: function () {
            $('#aboluo-yearSelect').val(2019)
        },
        methods: {
            rightaClick: function () {
                var monthselect = withID("aboluo-selectmonth");
                var monthvalue = parseInt(monthselect.value);
                var yearselect = withID("aboluo-yearSelect");
                var yearvalue = parseInt(yearselect.value)
                if (monthvalue == 12) {
                    yearvalue += 1;
                    //这里已经变了一年了,所以就要根据年重读数据
                    getjjrszModelByYear(yearvalue);
                    monthvalue = 1;
                } else {
                    monthvalue += 1;
                }
                monthselect.value = monthvalue;
                yearselect.value = yearvalue;
                var aclick = withClass("aboluo-aclick");
                createTabledate(yearselect.value, monthselect.value);

                //如果没有找到这个class说明没有点击或是点击的当天
                if (aclick == "") {
                    var pervdays1 = getCurrMonthLashDay(yearselect.value, monthselect.value + 1);
                    if (new Date().getDate() > pervdays1) {
                        setRigth(yearselect.value, monthselect.value, pervdays1);
                    } else {
                        setRigth(yearselect.value, monthselect.value, new Date().getDate());
                    }
                } else {
                    var adate = aclick.getAttribute("date");
                    var aarr = adate.split("-");
                    aarr[0] = parseInt(aarr[0]);
                    aarr[1] = parseInt(aarr[1]);
                    aarr[2] = parseInt(aarr[2]);
                    var pervdays = getCurrMonthLashDay(aarr[0], aarr[1] + 1);
                    if (aarr[2] > pervdays) {
                        aarr[2] = pervdays;
                    }
                    setRigth(aarr[1] + 1 == 13 ? aarr[0] + 1 : aarr[0], aarr[1] + 1 == 13 ? 1 : aarr[1] + 1, aarr[2]);
                }
            },
            leftaClick: function () {
                var monthselect = withID("aboluo-selectmonth");
                var monthvalue = parseInt(monthselect.value);
                var yearselect = withID("aboluo-yearSelect");
                var yearvalue = parseInt(yearselect.value)
                if (monthvalue == 1) {
                    yearvalue -= 1;
                    //这里已经变了一年了,所以就要根据年重读数据
                    getjjrszModelByYear(yearvalue);
                    monthvalue = 12;
                } else {
                    monthvalue -= 1;
                }
                monthselect.value = monthvalue;
                yearselect.value = yearvalue;
                var aclick = withClass("aboluo-aclick");
                createTabledate(yearselect.value, monthselect.value);
                //如果没有找到这个class说明没有点击或是点击的当天
                if (aclick == "") {
                    //这个时候向上一个月,那么
                    var pervdays1 = getPervMonthLastDay(yearselect.value, monthselect.value);
                    if (new Date().getDate() > pervdays1) {
                        setRigth(yearselect.value, monthselect.value, pervdays1);
                    } else {
                        setRigth(yearselect.value, monthselect.value, new Date().getDate());
                    }
                } else {
                    var adate = aclick.getAttribute("date");
                    var aarr = adate.split("-");
                    aarr[0] = parseInt(aarr[0]);
                    aarr[1] = parseInt(aarr[1]);
                    aarr[2] = parseInt(aarr[2]);
                    var pervdays = getPervMonthLastDay(aarr[0], aarr[1]);
                    if (aarr[2] > pervdays) {
                        aarr[2] = pervdays;
                    }
                    setRigth(aarr[1] - 1 == 0 ? aarr[0] - 1 : aarr[0], aarr[1] - 1 == 0 ? 12 : aarr[1] - 1, aarr[2]);
                }
            },
            toToday: function () {
                var monthselect = withID("aboluo-selectmonth");
                var yearselect = withID("aboluo-yearSelect");
                var date = new Date();
                monthselect.value = date.getMonth() + 1;
                yearselect.value = date.getFullYear();
                getjjrszModelByYear(date.getFullYear());
                createTabledate(yearselect.value, monthselect.value);
                setRigth(date.getFullYear(), date.getMonth() + 1, date.getDate());

            },
            initPageInfo: function () {
                var ndate = new Date();
                this.pageInfo.currentYear = ndate.getFullYear();
                this.pageInfo.currentMonth = ndate.getMonth() + 1;
            },
            initCalendar: function () {
                var jjrmodelidlist;  //用于存放从数据库取出的所有节假日的id
                var jjrmodeltimelist; //用于存放从数据库取出的所有节假日的time
                var jjrmodelztlist; //用于存放从数据库取出的所有节假日的状态

                createSelectYear();  //创建年份下拉,并给对应事件
                createMonthSelect();  //创建月份下拉，并给对应事件
                getjjrszModelByYear(this.pageInfo.currentYear); //从数据库取出已经设置了的节假日的数据，例：休息，上班等
                //根据年，月，用table绘制日历。 年月变动则 重新绘制
                createTabledate(new Date().getFullYear(), new Date().getMonth() + 1);
                //上月下月的a标签给事件
                leftrightclick();
                //设置右边显示栏显示内容，显示栏还可以设置节假日的状态等
                console.log(1212)
                setRigth(new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate());

                // $('#aboluo-yearSelect').change(changeYear())
                // $('#aboluo-yearSelect').val(2019)
            },
            changeYear: function () {
                var aclick = withClass("aboluo-aclick");
                //重新赋值给变全局变量,所有的带状态的日期;然后下一步将创建table,完成动态样式,
                //这里要重读数据就5个位置,选择年时,上一个月,下一个月,设置节假日button,返回今天button
                getjjrszModelByYear(withID("aboluo-yearSelect").value);
                createTabledate(withID("aboluo-yearSelect").value, withID("aboluo-selectmonth").value);
                if (aclick == "") {
                    //说明没选,或选的当天,算出选的这个月有多少天,与原来的那个月的天数一对比,如果原来的天数大于现在的天数,那么对换
                    //这里先算当前月当前天,然后算出选择的那个月总天数,然后对比,如果当前天大于选择的那个月那天,对换
                    var pervdays1 = getCurrMonthLashDay(withID("aboluo-yearSelect").value, withID("aboluo-selectmonth").value);
                    if (new Date().getDate() > pervdays1) {
                        setRigth(withID("aboluo-yearSelect").value, withID("aboluo-selectmonth").value, pervdays1);
                    } else {
                        setRigth(withID("aboluo-yearSelect").value, withID("aboluo-selectmonth").value, new Date().getDate());
                    }
                } else {
                    var adate = aclick.getAttribute("date");
                    var aarr = adate.split("-");
                    aarr[0] = parseInt(aarr[0]);
                    aarr[1] = parseInt(aarr[1]);
                    aarr[2] = parseInt(aarr[2]);
                    var pervdays = getCurrMonthLashDay(withID("aboluo-yearSelect").value, withID("aboluo-selectmonth").value);
                    if (aarr[2] > pervdays) {
                        aarr[2] = pervdays;
                    }
                    setRigth(withID("aboluo-yearSelect").value, withID("aboluo-selectmonth").value, aarr[2]);
                }
                createTabledate($('#aboluo-yearSelect').val(), $('#aboluo-selectmonth').val());

            }
        }
    });
</script>
