<div id="addContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>培训资料</h5>
            <div class="ibox-tools">
                <div class="ibox-tools">
                    <a :href="applicationContextRootPath + 'pages/document/index.html'" class="btn btn-success btn-xs">返回</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="page-container">
                <p>您可以尝试文件拖拽或者点击添加文件按钮，来上传文件</p>
                <div id="uploader" class="wu-example">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder">
                            <div id="filePicker"></div>
                            <p>或将文件拖到这里</p>
                        </div>
                    </div>
                    <div class="statusBar" style="display:none;">
                        <div class="progress">
                            <span class="text">0%</span>
                            <span class="percentage"></span>
                        </div>
                        <div class="info"></div>
                        <div class="btns">
                            <div id="filePicker2"></div>
                            <div class="uploadBtn">开始上传</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/survey/js/validateIsMain.js"></script>
<script>
    new Vue({
        el: '#addContainer',
        data: {
            applicationContextRootPath: '/survey/'
        },
        created: function () {

        },
        methods: {
            backToList: function () {
                toPage('pages/document/index.html');
            }
        }
    });
</script>