<div id="subContainer" class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>培训资料</h5>
            <div class="ibox-tools">
                <div class="ibox-tools">
                    <a :href="applicationContextRootPath + 'pages/document/add.html'"
                       data-pjax class="btn btn-primary btn-xs" v-if="resultDev">上传资料</a>
                </div>
            </div>
        </div>
        <div class="ibox-content">

            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" placeholder="请输入关键词" class="input-sm form-control search-input"
                               v-model="pageInfo.dname"> <span
                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" v-on:click="pagequery()"> 搜索</button> </span>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>资料文件名称</th>
                        <th>文件后缀</th>
                        <th>上传人员</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in items">
                        <th scope="row">{{(pageInfo.pageNum - 1) * 10 + index + 1}}</th>
                        <td>{{item.dname}}</td>
                        <td>{{item.dtype}}</td>
                        <td>{{item.creator ? item.creator.username : ''}}</td>
                        <td>{{item.createdAt | formatDate}}</td>
                        <td>
                            <button type="button" v-on:click="download(item)" class="btn btn-success btn-xs"
                            v-if="resultIn">
                                下载
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pageination :total="pageInfo.total" :size="pageInfo.size" :page="pageInfo.pageNum"
                         :changge="pageFn"></pageination>

        </div>
    </div>

</div>

<script src="/survey/js/validateIsMain.js"></script>
<script>
    var vue = new Vue({
        el: '#subContainer',
        data: {
            applicationContextRootPath: '/survey/',
            pageInfo: {
                dname: '',
                state: 'COLLECTING',
                pageNum: 1,
                total: 0,//总页数
                size: 10,//每页显示条目个数不传默认10
            },
            items: [{}],
            master: [],//接受权限数组
            result: false,
            resultIn: false,//表示访客权限
            resultDev: false,//表示操作人员权限
        },
        created: function () {
            this.pagequery();
            this.loginMaster();
        },
        methods: {
            loginMaster(){
                var that = this;
                this.master = sessionStorage.getItem('master');
                var masterJ = JSON.parse(this.master);
                masterJ.forEach(e => {
                    var authority = e.authority;
                    if(authority ==='ROLE_ADMIN'){
                        that.result = true;
                        that.resultDev = true;
                        that.resultIn =true;
                    }
                    if(authority ==='ROLE_DEVOPS'){
                        that.resultDev = true;
                        that.resultIn =true;
                    }
                    if(authority ==='ROLE_INTERVIEWER'){
                        that.resultIn =true;
                    }
                })
            },
            projectDetails: function (item) {
                sessionStorage.setItem('editParams', item.projectId);
                toPage("pages/project/details.html");
            },
            pagequery: function () {
                var that = this;
                AJAX.GET('document', this.pageInfo, function (resp) {
                    that.items = resp.data.list;
                    that.pageInfo.pageNum = resp.data.pageNum;
                    that.pageInfo.total = resp.data.total;
                })
            },
            pageFn: function (val) {
                this.pageInfo.pageNum = val;
                this.pagequery();
            },
            signUp(item) {
                console.log(item);
            },
            download(item) {
                window.open('/survey/document/download/' + item['id'] + '?access_token=' + sessionStorage.getItem('access_token'));
            },
            viewFile(item) {

                AJAX.GET('document/view/' + item['id'], {}, function (resp) {
                    window.open(resp['data']);
                });

            }
        }
    });
</script>
